<div class="template_table_container">
  
  <div class="template_table">
    
    <div class="template_table_row flex_row template_table_header ">
      <p class="template_table_cell template_table_title_font">
        Name
      </p>
      <p class="template_table_cell template_table_title_font">
        Action
      </p>
      <p class="template_table_cell template_table_title_font">
        Sources
      </p>
      <p class="template_table_cell template_table_title_font">
        Destinations
      </p>
      <p class="template_table_cell template_table_title_font">
        Services
      </p>
      <p class="template_table_cell template_table_title_font">
        Protocols
      </p>
      <p class="template_table_cell template_table_title_font">
        Port Ranges
      </p>
      <% if @origin_type.nil? %>
        <div class="template_table_action_cell"/>
      <% end %>
    </div>

    <% if @template %>
      <% @template.fire_rules.each do |rule| %>
        <div class="template_table_row shadow flex_row">
          <div class="template_table_cell" data-title="name">
            <p class="body_font" ><%= rule.name %></p>
            <% if rule.name.nil? %>
              <p class="body_font" >Name your rule</p>
            <% end %>
          </div>
          <div class="template_table_cell" data-title="action">
            <p class="body_font" ><%= rule.action %></p>
            <% if rule.action.nil? %>
              <p class="body_font">any</p>
            <% end %>
          </div>
          <div class="template_table_cell" data-title="sources">
            <% rule.sources.each do |sour| %>
              <p class="body_font"><%= sour.sour_name %></p>
            <% end %>
            <% if rule.sources.count == 0 %>
              <p class="body_font">any</p>
            <% end %>
          </div>
          <div class="template_table_cell" data-title="destinations">
            <% rule.destinations.each do |dest| %>
              <p class="body_font" ><%= dest.dest_name %></p>
            <% end %>
            <% if rule.destinations.count == 0 %>
              <p class="body_font">any</p>
            <% end %>
          </div>
          <div class="template_table_cell" data-title="services">
            <% rule.services.each do |service| %>
              <% if service.serv_name == "" %>
                <p class="body_font" >any</p>
              <% else %>
                <p class="body_font" ><%= service.serv_name %></p>
              <% end %>
            <% end %>
            <% if rule.services.count == 0 %>
              <p class="body_font">any</p>
            <% end %>
          </div>
          <div class="template_table_cell" data-title="protocols">
            <% rule.protocols.each do |prot| %>
              <p class="body_font" ><%= prot.name %></p>
            <% end %>
            <% if rule.protocols.count == 0 %>
              <p class="body_font">any</p>
            <% end %>
          </div>
          <div class="template_table_cell" data-title="protocols">
            <% rule.port_ranges.each do |range| %>
              <p><%= range.startport %>  <%= range.endport %></p>
            <% end %>
            <% if rule.port_ranges.count == 0 %>
              <p class="body_font">any</p>
            <% end %>
          </div>
          <% if @origin_type.nil? %>
            <div class="template_table_action_cell">
              <span class="rule_actions flex_row">
                  <span><%= link_to edit_a_template_rule_path(@template.id, rule.id), remote: true do %>
                        <i class="fa fa-close fa fa-edit small_button blue_text"></i>
                      <% end %>
                  </span>
                  <span><%= link_to delete_a_template_rule_path(@template.id, rule.id), :method => "delete", remote: true, data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-close fa fa-close small_button red_text"></i>
                      <% end %>
                  </span>   
              </span>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>