

<%= form_for :user, url: '/user', remote: true, :class => "form-signin" do |f| %>

    <span id="reauth-email" class="reauth-email"></span>
	<div class="flex_column flex_column center">

		<%= f.text_field :name, class: 'form-control', placeholder: @user.name %>
		<%= f.text_field :email, class: 'form-control', placeholder: @user.email %>

		<% if @user.errors.messages[:password] %>
			<% error_string = "" %>
			<% @user.errors.messages[:password].each do |error| %>
				<% if error_string == "" %>
					<% error_string = "%s%s" % [error_string, error] %>
				<% else %>
					<% error_string = "%s and %s" % [error_string, error] %>
				<% end %>
			<% end %>
			<%= f.password_field :password, class: 'form-control red_text', placeholder: error_string, autocomplete: :off %>
		<% else %>
		  <%= f.password_field :password, class: 'form-control', placeholder: @user.password, autocomplete: :off %>
		<% end %>

		<% if @user.errors.messages[:password_confirmation] %>
			<% error_string = "" %>
			<% @user.errors.messages[:password_confirmation].each do |error| %>
				<% if error_string == "" %>
					<% error_string = "%s%s" % [error_string, error] %>
				<% else %>
					<% error_string = "%s and %s" % [error_string, error] %>
				<% end %>
			<% end %>
			<%= f.password_field :password_confirmation, class: 'form-control red_text', placeholder: error_string, autocomplete: :off %>
		<% else %>
		  <%= f.password_field :password_confirmation, class: 'form-control', placeholder: @user.password, autocomplete: :off %>
		<% end %>
	</div>
	<div class="modal-footer flex_row center">
		<button type="button" class="btn btn-lg btn-primary btn-block btn-signup"><%= f.submit "Submit" %></button>
	</div>
<% end %>