$("#user_update_first_attempt_area").html("");
$('#error_update_partial_area').html("");
$('#error_update_partial_area').append("<%= j render :partial => '/user_files/users/errors/user_update_error.html.erb', :user => @user %>");
