$("#user_create_first_attempt_area").html("");
$('#error_partial_area').html("");
$('#error_partial_area').append("<%= j render :partial => '/user_files/users/errors/user_create_error.html.erb', :user => @user %>");
