

$('.append_here').html("");
$('.append_here').css("height", "auto");
$('.append_here').css("margin", "8px 1.25%");
$('.append_here').append("<%= @response %>");
<% if @response %>
	<% if @response.include? "Successfully" %>
		$('p.append_here').css("color", "var(--highlight_one)");
	<% else %>
		$('p.append_here').css("color", "var(--red-color)");
	<% end %>
<% end %>

var notification_bar = document.getElementById('append_here').style;
notification_bar.opacity = 1;
var i = 1.0;

setTimeout(function () {
	myLoop(i); 
}, 10000);

function myLoop (num) {           
	setTimeout(function () { 
		if (num > 0) { 
			opactiyfunction(num);
			num -= .1;
		   	// alert(num);
		   	myLoop(num);
		} else {
			notification_bar.html = "";
			$('.append_here').css("height", "0");
			$('.append_here').css("margin", "0");
		}
   }, 150)
}

function opactiyfunction(num){
	notification_bar.opacity = num;
}