<div class="card card-container">

    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />

    <%= form_for(:session, url: login_path, :class => "form-signin", remote: true) do |field| %>
        <span id="reauth-email" class="reauth-email"></span>
              <div class="flex_column center">
                <%= field.email_field :email, class: 'form-control', :placeholder => "Email"  %>
                <% if @validation_text.nil? %>
                  <%= field.password_field :password, class: 'body_font form-control', :placeholder => "Your Password"  %>
                <% else %>
                  <%= field.password_field :password, class: 'body_font red_trim form-control', :placeholder => "Password retry"  %>
                <% end %>
              </div>
      <div class="modal-footer flex_row center">
        <button type="button" name="login_button_sumbit" class="btn btn-lg btn-primary btn-block btn-login"><%= submit_tag "Login" %></button>
      </div>
    <% end %>
</div>