<div class="card card-container" >
  <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />

  <span id="user_create_first_attempt_area">
    <%= form_for :user, url: '/user', remote: true, :class => "form-signin" do |f| %>

    <span id="reauth-email" class="reauth-email"></span>

    <div class="flex_column flex_column center">
      <%= f.text_field :name, id: "sign_in_name", class: 'form-control', placeholder: "Name" %>
      <%= f.text_field :email, id: "sign_in_email", class: 'form-control', placeholder: "Email" %>
      <%= f.password_field :password, id: "sign_in_password", class: 'form-control', placeholder: "Create Password" %>
      <%= f.password_field :password_confirmation, id: "sign_in_password_confirmation", class: 'form-control', placeholder: "Confirmation" %>
    </div>
    <div class="modal-footer flex_row center">
      <button type="button" class="btn btn-lg btn-primary btn-block btn-signup"><%= f.submit "Submit" %></button>
    </div>
    <% end %>
  </span>

  <span id="error_partial_area">
    
  </span>
  
</div>