<% if @type == "signup" %>
	$('#login_area').html("");
	$('#signup_area').html("<%= j render :partial => '/user_files/users/sessions/signup'%>");
<% else %>
	$('#signup_area').html("");
	$('#login_area').html("<%= j render :partial => '/user_files/users/sessions/login'%>");
<% end %>



