

<div class="flex_column user_table_container">

	<!-- Important variables for the filtering of the table on the page below, these are injected into the column_sort partial -->
	<% @column_array = ["Employee Name", "Employee Email", "Σ Active Security Groups", "Σ Rules Published", "Last Seen"] %>
	<% @origin = "user_table_partial" %>

	<h3 class="title_font admin_dash_title">List of local Users</h3>

	<!-- Modal Buttons  -->

	<div class="d-flex flex-row">
		<span class="modal_button title_font side_nav_lvl_1_title" data-toggle="modal" data-target="#import_users_modal" >
			<span class="flex_row import_from_csv upload_buttons shadow flex_row">
				<p class="sub_title_font" >Import Users</p>
				<i class="fa fa-upload flex_center"></i>
			</span>
		</span>
		<span class="modal_button title_font side_nav_lvl_1_title" data-toggle="modal" data-target="#add_user_modal">
			<span class="flex_row import_from_csv upload_buttons shadow flex_row">
				<p class="sub_title_font">Add Users</p>
				<i class="fa fa-upload flex_center"></i>
			</span>
		</span>
		<span class="modal_button" id="column_sort_users" data-toggle="modal" data-target="#column_sort_users_modal">
			<span class="flex_row import_from_csv upload_buttons shadow flex_row">
				<p class="sub_title_font">Filter</p>
				<i class="fa fa-filter flex_center"></i>
			</span>
		</span>
	</div>

	<!-- Modals for Import and Filter functions -->

	<div class="modal fade" id="import_users_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-title">
					<p class="title_font">User Upload From CSV</p>
				</div>
				<div class="modal-body">
					<%= form_tag import_users_path, multipart: true, :remote => true do %>
					<div class="flex_column sec_group_import_inner_container">
						<div class="flex_row upload_buttons shadow">
							<label for="files" class="body_font flex_row"><p class="body_font">Upload</p>
								<i class="fa fa-upload flex_center"></i>
							</label>
						</div>
						<%= file_field_tag :file, id: "files", style: "visibility:hidden" %>
						<span class="flex_column border_dotted">
							<div class="flex_row"><h6>Example:</h6></div>
							<%= image_tag "users_import_example.png", class: "import_popup_example" %> 
							<br>
						</span>
						<div class="modal-footer sec_group_import_footer">
							<button class="close sec_group_model_close user_import_submit upload_buttons shadow flex_row" data-dismiss="modal" aria-label="Close">
								<p class="title_font">Cancel</p>
								<i class="fa fa-close" ></i>
							</button>

							<%= submit_tag "Import CSV", class: "close upload_buttons shadow flex_row body_font", :onClick => "attachSpinnerOnExistingIcon(this);" do %>
								<i class="fa fa-search" ></i>
							<% end %>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="add_user_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<%= form_tag manual_new_user_url, method: :post, :remote => true do %>
					<div class="modal-title">
						<p class="title_font" id="exampleModalLabel">New User</p>
					</div>
					<div class="modal-body">
							<div class="form-group flex_column">
								<%= text_field_tag :name, params[:name],  :class => "edit_sug_search_textbox", placeholder: "Username here" %>
								<%= text_field_tag :email, params[:email], :class => "edit_sug_search_textbox", placeholder: "Email here" %>
							</div>
					</div>
					<div class="modal-footer sec_group_import_footer">
						<button class="close sec_group_model_close user_import_submit upload_buttons shadow flex_row" data-dismiss="modal" aria-label="Close">
							<p class="title_font">Cancel</p>
							<i class="fa fa-close" ></i>
						</button>

						<%= submit_tag "Save", :class => "upload_buttons shadow" do %>
							<i class="fa fa-save" ></i>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>


	<div class="modal fade" id="column_sort_users_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<%= render "security_files/sec_groups/panel_partials/column_sort", :locals => {:origin => "user_table_partial" }  %>
	</div>

	<!-- Employee table below -->

	<span class="table user_table two_sided_shadow_no_hover table-striped">
		<span class="cell_headers ad_dash_user_headers">
			<p class="table_grey user_table_cell col-2">Employee Name</p>
			<p class="table_grey user_table_cell col-2">Employee Email</p>
			<p class="table_grey user_table_cell col-2">Σ Active Security Groups</p>
			<p class="table_grey user_table_cell col-2">Σ Rules Published</p>
			<p class="table_grey user_table_cell col-2">Last Seen</p>
			<!-- <p class="table_grey smaller_user_table_cell">Assign</p> -->
			<span class="table_grey user_table_cell smaller_user_table_cell col-1" >
				<p class="reminder_email_text">Remind</p> 
				<!-- <= link_to "Send All", remind_each_user_path, :remote => true, class: "reminder_email_text" %></p> -->
			</span>
			<p class="table_grey smaller_user_table_cell col-1">Delete</p>
		</span>
		<div class="table_scroll">

			<% @selected_users.each do |user|%>

				<% time_out = Time.at(user.updated_at.to_i) %>
				<% time_out = time_out.strftime("l:%M%P %b #{time_out.day.ordinalize}")  %>

				<span class="row">
					<p class="table_grey user_table_cell body_font col-2" data-toggle="tooltip" data-placement="left" data-container="body" title="<%= user.name %>"><%= user.name %></p>
					<p class="user_table_cell user_email body_font col-2" data-toggle="tooltip" data-placement="left" data-container="body" title="<%= user.email %>" ><%= user.email %></p>
					<p class="user_table_cell body_font col-2" id="user_<%= user.id %>_open_groups"><%= user.sec_groups.count %></p>
					<p class="user_table_cell body_font col-2"><%= user.rule_histories.count %></p>
					<p class="user_table_cell body_font col-2"><%= time_out %></p>

				<!-- 	<button class="btn btn-secondary user_add_a_task_dropdown dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					</button> -->
					<span class="user_table_cell smaller_user_table_cell col-1" >
						<%= link_to notification_email_url(user.id), :class => "d-flex justify-content-center", :remote => true do  %>
							<%= image_tag "email_highlight_two.png", class: "icon_img" %></p>
						<% end %>
					</span>
					<span class="user_table_cell smaller_user_table_cell col-1" >
						<% if user.id != User.current_user.id %>
							<%= link_to delete_user_path(user.id), :class => "d-flex justify-content-center", :remote => true do  %>
								<%= image_tag "red_close.png", class: "icon_img" %>
							<% end %>
						<% end %>
					</span>

					<!-- MENU ITEMS FOR ATTACHING A SECURITY GROUP -->
					<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
						<%= form_tag(search_security_groups_path, remote: true, :method => "get", id: "search-form", class: "flex_row") do %>
							<%= text_field_tag :search, params[:search], :class => "edit_sug_search_textbox", placeholder: "Search Tasks" %>
							<%= hidden_field_tag :user_id, user.id %>
							<%= submit_tag "Search", :class => "tasks_search_btn btn-primary shadow", :name => nil do %>
								<i class="fa fa-search"></i>
							<% end %>
						<% end %>
						<span id="<%= user.id %>sg_search_result_container" data-user_id="<% user.id %>">

						</span>
					</div>
				</span>
			<% end %>
		</div>
	</span>
</div>