


<div class="flex_column user_table_container">

	<% @column_array = ["Published By", "Rule Name", "Date Published", "Action", "Source", "Destination", "Protocol", "Start Port", "End Port", "Service", "Undo/Redo"] %>

	<% @origin = "rule_histories_partial" %>

	<h3 class="title_font admin_dash_title">History of Published Rules</h3>

	<button class="upload_buttons shadow flex_row" data-toggle="modal" data-target="#column_sort_history" onclick="openModal(this)">
		<p class="sub_title_font">Filter</p>
		<i class="fa fa-filter flex_center"></i>
	</button>
	<span class="flex_column">
		<span id="current_filter_bar" class="flex_row">
		</span>
		<span id="current_order_by_bar" class="flex_row">
		</span>
	</span>

	<!-- Modal -->
	<div class="modal fade" id="column_sort_history" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<%= render "security_files/sec_groups/panel_partials/column_sort", :locals => {:origin => "all_dfw_rules" }  %>
	</div>

	<span class="table table-striped">
		<span class="full_width cell_headers shadow_no_hover">
			<p class="cell title_font users_history_cell table_grey">Published By</p>
			<p class="cell title_font users_history_cell table_grey">Rule Name</p>
			<p class="cell title_font users_history_cell table_grey">Date</p>
			<p class="cell title_font users_history_cell table_grey">Action</p>
			<p class="cell title_font users_history_cell table_grey">Sources</p>
			<p class="cell title_font users_history_cell table_grey">Destinations</p>
			<p class="cell title_font users_history_cell table_grey">Protocols</p>
			<p class="cell title_font users_history_cell table_grey">Ports/Services</p>
			<p class="cell title_font users_history_cell table_grey">Undo/Redo</p>
		</span>
		<div id="dash_histories" class="table_scroll shadow">
			<% @rule_histories.each do |history|%>
			<div id="rule_history" class="table_scroll">
				<div class="sug_rule_row row sug_rule_row_<%= history.id %>" data-id="<%= history.id %>">
					<div class="no_padding full_width flex_row">
						<span class="flex_row full_width">
							<span class="users_history_cell relative">
								<p class="body_font"><%= history.username %></p>
							</span>
							<span class="users_history_cell relative">
								<% if history.rule_name != "" %>
									<p class="body_font"><%= history.rule_name %></p>
								<% else %>
									<p class="body_font">Rule_<%= history.id %></p>
								<% end %>
							</span>
							<% time_out = Time.at(history.created_at.to_i) %>
							<% time_out = time_out.strftime("l:%M%P %b #{time_out.day.ordinalize}")  %>
							<span class="users_history_cell relative">
								<p class="body_font"><%= time_out %></p>
							</span>
							<span class="users_history_cell relative">
								<p class="body_font"><%= history.action %></p>
							</span>
							<span class="users_history_cell relative">
								<% if history.sources.count == 0 %>
									<p class="body_font">Any</p>
								<% else %>
									<% history.sources.each do |sour| %>
										<p class="body_font"><%= sour.sour_name %></p>
									<% end %>
								<% end %>
							</span>
							<span class="users_history_cell relative">
								<% if history.destinations.count == 0 %>
									<p class="body_font">Any</p>
								<% else %>
									<% history.destinations.each do |dest| %>
										<p class="body_font"><%= dest.dest_name %></p>
									<% end %>
								<% end %>
							</span>
							<span class="users_history_cell relative">
								<% if history.protocols.count == 0 %>
									<p class="body_font">Any</p>
								<% else %>
									<% history.protocols.each do |prot| %>
										<p class="body_font"><%= prot.name %></p>
									<% end %>
								<% end %>
							</span>
							<span class="users_history_cell relative">
								<% if history.port_ranges.count == 0 && history.services.count == 0 %>
									<p class="body_font">Any</p>
								<% else %>
									<% history.port_ranges.each do |range| %>
										<p class="body_font"><%= range.startport %>&rarr;<%= range.endport %></p>
									<% end %>
								<% end %>
								<% history.services.each do |service| %>
									<p class="body_font"><%= service.serv_name %></p>
								<% end %>
							</span>
							<span class="users_history_cell relative">
								<% case(history.undo_rule) %>
									<% when "f" %>
										<%= link_to "Remove from NSX", remove_nsx_rule_path(history.id), :class => "body_font", remote: true %> <!-- Rule Histories Controller -->
									<% when "t" %>
										<%= link_to "Re-submit Rule", resubmit_nsx_rule_path(history.id), :class => "body_font", remote: true %> <!-- Rule Histories Controller -->
								<% end %>
							</span>
						</span>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</span>