<% @column_array = ["Protocol", "Source", "Destination", "Port", "Σ sessions", "Σ sent bytes", "Σ received bytes", "Time sent", "Time received" ] %>
<% @origin = "dash_flows_partial" %>

<h3 class="title_font admin_dash_title">Current Aggregated System Flows</h3>

<span class="flex_row">
	<button class="upload_buttons shadow flex_row" data-toggle="modal" data-target="#column_sort_flows" onclick="openModal(this)">
	  <p class="sub_title_font">Filter</p>
	  <i class="fa fa-filter flex_center"></i>
	</button>
	<span class="flex_column">
		<span id="current_filter_bar" class="flex_row">
		</span>
		<span id="current_order_by_bar" class="flex_row">
		</span>
	</span>
</span>


<!-- Modal -->
<div class="modal fade" id="column_sort_flows" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <%= render "security_files/sec_groups/panel_partials/column_sort", :locals => {:origin => @origin } %>
</div>


<span class="table table-striped">
	<span class="full_width cell_headers shadow_no_hover">
	  <p class="cell table_grey flow_cell">Protocol</p>
	  <p class="cell table_grey flow_cell">Source</p>
	  <p class="cell table_grey flow_cell">Destination</p>
	  <p class="cell table_grey flow_cell">Destination Port</p>
	  <p class="cell table_grey flow_cell">Σ Sessions</p>
	  <p class="cell table_grey flow_cell">Σ Bytes</p>
	  <p class="cell table_grey flow_cell flow_cell_wide">Time Out  In</p>
	  <!-- <p class="cell table_grey flow_cell flow_cell_wide">Allow or Deny</p> -->
	</span>
	<div class="table_scroll shadow_no_hover">
		<% @group_flows.each do |flow|%>
			</span>
				<span class="row">
				<p class="body_font cell flow_cell"><%= flow.protocol_name %></p>
				<p class="body_font cell flow_cell"><%= flow.source %></p>
				<p class="body_font cell flow_cell"><%= flow.destination %></p>
				<p class="body_font cell flow_cell"><%= flow.port %></p>
				<p class="body_font cell flow_cell"><%= flow.sum_sessions %></p>
				<span class="body_font cell flow_cell flow_row">
					<p class="body_font">Outbound: <%= flow.sum_sent_bytes %></p>
					<p class="body_font">Inbound: <%= flow.sum_rec_bytes %></p>
				</span>
				<span class="cell flow_cell flex_row flex_separate">
					<p class="body_font">Outbound: <%= flow.earliest_outbound %></p>
					<p class="body_font">Inbound: <%= flow.latest_inbound %></p>
				</span>
				<!-- <span class="cell flow_cell">
					<= link_to "Allow", allow_flow_path(flow.id), remote: true %> 
					<= link_to "Deny", deny_flow_path(flow.id), remote: true %> 
					<= link_to "Default", remove_flow_from_nsx_path(flow.id), remote: true %> 
				</span> -->
			</span>
		<% end %>	
	</div>
</span>
