<!-- Import Security Group modal -->
<!-- <div id="import_app" class="modal fade do_not_show" tabindex="-1" aria-labelledby="importLabel" style="display: block; padding-right: 15px;">
  <div class="modal-dialog modal_outer_container" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <= form_tag import_security_group_from_csv_sec_groups_path, multipart: true,:remote => true do %>
            <div class="flex_column sec_group_import_inner_container">

            <button type="button" class="close sec_group_model_close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
              <div class="flex_row center">
                <label for="files" class="btn">Click here to Upload a CSV</label>
              </div>
              <= file_field_tag :file, id: "files", style: "visibility:hidden" %>
              <span class="flex_column border_dotted">
                <div class="flex_row"><h6>Example:</h6></div>
                <= image_tag "sec_grp_import_example.png", class: "import_popup_example" %> 
                <br>
              </span>
              <div class="modal-footer sec_group_import_footer">
                <= submit_tag "Import CSV", class: "import_submit btn btn-primary upload_button" %>
              </div>
            </div>
        < end %>
      </div>
    </div>
  </div>
</div> -->

<div id="import_app" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header mb-3">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<%= form_tag import_groups_and_objs_sec_groups_path, format: :js, multipart: true do %>
        	<%= file_field_tag :file %>
        	<%= submit_tag "Import from file" %>
    		<% end %>
      </div>
    </div>
  </div>
</div>

<div class="flex_column">
	<button type="button" class="flex_row import_from_csv upload_buttons shadow flex_row" data-toggle="modal" data-target="#import_app" data-backdrop="static" data-keyboard="false">
		<p class="sub_title_font">Import Security Groups</p>
		<i class="fa fa-upload flex_center"></i>
    </button>
	<div class="flex_row dashboard_top_bar">
		<span class="flex_row wrap">
			<span class="dash_container_inner relative">
				<p class="title_font top_left_header shadow_no_hover">Available Security Tags</p>
				<p class="body_font shadow_no_hover" ><%= Vm.all.where(vm_type: "SecurityTag").count %></p>
			</span>
			<span class="dash_container_inner relative">
				<p class="title_font top_left_header shadow_no_hover">Total Groups & DFW Sections</p>
				<p class="body_font shadow_no_hover" ><%= Vm.all.where(vm_type: "SecurityGroup").count %></p>
			</span>
			<span class="dash_container_inner relative">
				<p class="title_font top_left_header shadow_no_hover">Total Unique Flows</p>
				<p class="body_font shadow_no_hover" ><%= @flows.first['total_grouped_flows'] %></p>
			</span>
			<span class="dash_container_inner relative">
				<p class="title_font top_left_header shadow_no_hover">Published Rules (last 2 weeks)</p>
				<p class="body_font shadow_no_hover" ><%= RuleHistory.all.count %></p>
			</span>
			<span class="dash_container_inner relative">
				<p class="title_font top_left_header shadow_no_hover">Total Groups & DFW Sections</p>
				<p class="body_font shadow_no_hover" ><%= Vm.all.where(vm_type: "SecurityGroup").count %></p>
			</span>
			<span class="dash_container_inner relative">
				<p class="title_font top_left_header shadow_no_hover">Total Unique Flows</p>
				<p class="body_font shadow_no_hover" ><%= @flows.first['total_grouped_flows'] %></p>
			</span>
			<span class="dash_container_inner relative">
				<p class="title_font top_left_header shadow_no_hover">Published Rules (last 2 weeks)</p>
				<p class="body_font shadow_no_hover" ><%= RuleHistory.all.count %></p>
			</span>
		</span>
	</div>
</div>

	<!-- <p><= line_chart Flow.group_by_day(:visited_at, format: "%B %d, %Y").count %></p>