
/* N.B. for others who read this, remember the scope of this file is the settings views folder */


/* ########################## */
/* The User Edit Form section */
/* ########################## */

.user_edit_field {
    margin: 8px 0;
    align-items: center;
}

.user_edit_field p {
    width: 172px;
    text-align: right;
    border: 0px;
    padding: 0 21px 0 0;
}

input {
    font-size: .9rem !important;
    font-family: var(--body-font) !important;
    font-weight: 200 !important;
    border-radius: 0px !important;
    color: var(--dark_grey);
}

/* ################################## */
/* The Manager and VRNI items section */
/* ################################## */


.settings_vrni_nsx_close_button {
    width: 19px !important;
    height: 19px !important;
    border-radius: 41px;
    padding: 3px;
    margin: 0px;
}

.setting_manager_vrni_items, .setting_activate_text_parent {
    min-height: 29px;
}

.setting_activate_text_parent {
    padding: 16px 0;
    width: min-content;
}

.setting_activate_text_parent .delete_item_button {
    margin: 8px;
}

.setting_activate_text_parent span p:nth-child(odd) {
    margin-right: 8px;
}

.setting_activate_btn .button_to {
    display: flex;
    justify-content: center;
}


.setting_radio_button {
    width: 15px !important;
    height: 15px !important;
    border-radius: 15px !important;
}

.vrni_nsx_setting_container {
    background: var(--white-color);
}

.vrni_setting_container {
    /*margin: 10vh 0 0 0;*/
}

.setting_radio_button_not_set {
    box-shadow: inset 0px 0px 15px var(--dark_grey);
}

.setting_radio_button_set {
    background: var(--highlight_one) !important;
    box-shadow: 0px 1px 1px var(--highlight_one) !important;
}

.delete_item_button a {
    box-shadow: 0.5px 1.5px 5px 0px rgba(0,0,0,0.2);
    border-radius: 30px;
    margin-right: 2px;
}

.delete_item_button a:focus {
    outline: none;
    -webkit-appearance: none;
    margin-right: 0 !important;
    -webkit-border-radius: 25px;
    box-shadow: none !important;
    border-width: 1px;
    border-style: inset;
}

.settings_outer_container {
   justify-content: space-evenly;
}

.settings_sub_title, .settings_intro {
}

.settings_vrni_form {
	margin: 0;
}

.settings_forms h4 {

    font-size: 1.5vw;
    font-weight: 300;
    color: var(--dark_grey);
    font-family: var(--title-font);
    padding: 16px 0 8px 0;
}

.settings_tables {
	margin: 16px 8px 0 8px;
}

.nsx_setting_container, .vrni_setting_container {
    width: 100%;
}

.setting_activate_text {
	width: 80%;
}

.max_height_width {
    width: max-content !important;
    height: max-content !important;
}

.managers_outer_container, .vrni_outer_container {
	width: 100%;
}

.managers_container, .vrni_container {
	width: inherit;
}

.setting_update_btn {
    margin: 8px 0 0 8px !important;
}

.button_bottom {
    justify-content: flex-end;
}

.button_bottom input {
    margin: 0 !important;
    font-family: var(--title-font) !important;
    font-weight: 500 !important;
}

.button_center, .setting_activate_text {
	display: flex;
    align-items: center;
}

.align_parent_center {
    display: flex;
    align-items: center;
}

.managers_container span, .vrni_container span {
	margin: 4px 8px 4px 0px;
}

a.button_center:hover {
	background-color: #00000000;
}

.setting_activate_btn {
    width: 15px !important;
    height: 15px !important;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    font-family: var(--title-font);
    font-weight: 400;
    background: none !important;
    color: var(--dark_grey);
    padding: 0 !important;    width: min-content;
    margin: 0 8px !important;
    color: var(--dark_grey) !important;
}
