
#dash_all_histories {
    .user_table_container {
    	table {
    		height: inherit;
    	}
    	#dash_histories {
            height: fit-content;
		    max-height: calc(70vh - 72px) !important;
    	}
    }

    span.flex_row.full_width {
    	height: min-content;
    }
}

