

body {
  overflow: hidden;
}

/* top nav relation */

.navbar {
  position: fixed !important;
  width: 100vw !important;
}

/*page width*/
.templates_side_nav {
  margin: 0 1% 0 0;
  background: var(--dark_grey);
  width: 284px;
  position: fixed;
  height: 100vh;
  margin-top: 45px;
   a {
    display: flex;
    align-items: center;
  }
  > span:nth-child(1) {
    justify-content: space-between;
    :nth-child(2) {
      padding: 0 16px;
    }
  }
}

.templates_side_nav_top a img {
  width: 16px;
  height: 16px;
}

.nav_sys_all_templates_area div > span {
  width: 300px !important;
}

.template_name_form {
  min-width: 300px;
}

.template_name_btn {
  width: min-content;
  border-radius: 0px !important;
  color: white;
  background: var(--gray);
  border: 0;
}

.template_name_btn:focus {
  background: var(--gray);
}

.template_right_section {
  margin: 0 1%;
}

/* page container */
.templates_page_container {
  background-color: var(--light_grey);
}

.template_table_container {
  margin: 0 auto;
}

.templates_page_title {
  padding: 8px 16px;
}


/* --------------   templates index page left hand side nav --------------  */

.template_rule_container {
  padding: 8px 0px;
  background: var(--dark_grey);
  justify-content: space-between;
}

.template_rule_container .rule_name {
  display: flex;
  align-items: center;
}

.rule_name {
  left: 0;
  width: 64%;
  margin: 0 4px 0 15px;
  overflow: hidden;
}

.template_table_action_cell {
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.template_table_cell .rule_actions {
    width: initial;
}

.nav_sys_sec_groups_header {
  height: 100%;
}

/* center layout */

span.flex_column.template_center_section > span {
  margin: 0 0 15px 0;
}

.template_center_section {
  padding: 15px 0; margin-left: 16px;
  width: 80%;
}

#current_rules_table {
  margin: 30px 0;
}

.exit_rule_template_button {
    margin-left: 8px;
}

/* --------------   templates index right hand side --------------  */

.add_port_ranges {
  .submit_section {
    float: left;
  }
}

p#suggestion_column_title {
  padding: 0px 0;
}

.template_right_section {
  width: 17%;
  margin: 91px 1% 0 1%;
  height: min-content;
}

p.edit_sug_table_headers {
  padding: 0 8px;
}

input.edit_sug_search_textbox { 
  border: 1px solid;
  background-color: var(--light);
  margin: 0px;
  padding: 4px;
}

input.edit_sug_search_textbox:focus {
    border: 1px solid;
    background-color: var(--light);
    margin: 0px;
    padding: 4px;
}

.templates_main_body_container {

  height: 100vh;
  width: calc(100% - 300px);
  margin-top: 45px;
  margin-left: 300px;

  .edit_sug_searchbar {
    margin: 0 0 0px 0;
  }

  input.edit_sug_search_btn {
    color: var(--dark_grey) !important;
    :hover {
      color: var(--highlight_two) !important;
    }
  }

}

#column_tables_container a {
  height: 19px;
  overflow: hidden;
}

.edit_sug_system_obj_search_cell {
  min-height: 31px;
}

/* --------------   item click --------------  */
span.flex_column.edit_sug_system_obj_search_cell.shadow:active {
  background: var(--light-grey);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.29) !important;
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.29) !important;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.29) inset !important;
}

/* --------------   item hover --------------  */

.template_tables_outer_container .edit_sug_system_obj_search_cell:hover {
  background: var(--light);
}

/*--------------   templates information --------------  */

.transparent_button {
  background-color: #00000000 !important;
}

.input.transparent_button:hover {
  color: var(--highlight_one);
}

.template_information_section input#name {
  padding: 4px;
}

.template_information_section input#name:focus {
  outline: -webkit-focus-ring-color auto 2px;
}

/* --------------   tables --------------  */

.edit_template_container .edit_sug_system_obj_search_cell {
  width: 100% !important;
  justify-content: space-between;
}

.template_table {
  /*margin: 0 0 40px 0;*/
  width: 100%;
  display: table;
}

.template_table_header {
    background: var(--light_grey) !important;
}

.template_table_row {
  background: var(--white-color);
  border-top: 1px solid var(--light_grey);
  min-height: 31px;
}

.template_table_row:nth-child(even) {
  /*  border-top: 1px solid var(--light_grey);*/
}

.template_table_row .template_table_header {
  font-weight: 900;
  color: #ffffff;
  display: flex;
  background: #ea6153;
}

.template_table_cell {
  padding: 6px 8px;
  display: table-cell;  
  width: 16%;
  font-family: var(--title-font);
  color: var(--dark_grey);
}

.add_template_rule_headers .template_table_cell, .add_template_rule_body .edit_sug_system_obj_search_cell {
  width: 16.66%;
}

@media screen and (max-width: 580px){
  .template_table_cell {
    padding: 2px 16px;
    display: block;
  }
}

.new_template_image {
	width: 16px;
	hyphens: 16px;
}

.new_template_rule_item_cell a img {
    width: 19px;
    height: 19px;
}

span.new_template_rule_cell {
}

.new_template_rule_cell {
  justify-content: center;
}
.new_template_rule_cell {
  padding: 8px;
}

/* --------------   templates create rule table column styling  --------------   */

.new_template_rule_item_cell, .new_template_rule_cell {
  width: 16.66%;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  border: 0.1px solid var(--light_grey);
  position: relative;
}

.new_template_rule_item_cell {
  justify-content: flex-start;
  text-align: start;
}

.new_template_rule_item_cell p {
  width: max-content;
  max-width: 90%;
  word-wrap: break-word; 
}

.new_template_rule_item_cell .edit_sug_system_obj_search_cell span:nth-child(2) {
  width: 10%;
}

.new_template_rule_item_cell .search_button_container {
  justify-content: start;
  right: 0;
}

/* --------------   Create / cancel template rule button section ----------------------- */

span.template_rule_table_header {
    margin: 0 0 8px 0 !important;
}

span#save_template_rule {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

span#save_template_rule a:nth-child(3) {
    background: var(--red);
}

span#save_template_rule a {
    padding: 0 8px;
    background: var(--highlight_two);
    color: var(--light);
    border-radius: 4px;
    margin: 16px 4px 4px 4px;
}


/* --------------   End of Create / cancel template rule button section ----------------------- */

.edit_rule_templates_overlay a img {
  width: 16px;
  height: 16px;
}

.template_table_title_font {
  font-family: var(--title-font);
  font-size: .9rem;
  color: var(--dark_grey);
}


a.exit_rule_template_button {
  display: flex;
}

.exit_rule_template_button {
  display: flex;
  height: 12px;
  width: 12px;
}

.exit_rule_template_button:hover {
  background-color: none;
}

.edit_rule_template_overlay {
  z-index: 300;
  position: absolute;
}


/* --------------   sec group index Rule templates table ----------------------- */


.sg_group_templates_title {
  padding: 8px 0;
}

.sg_templates_container > span:nth-child(2) {
  margin-top: 9px;
}

#sg_group_templates .dropdown, #sg_sys_templates {
      padding: 0px !important;

  .sg_template_table_title_dropdown_container {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 33px;
    align-items: center;    
    background: var(--light);
    > p{
      text-align: center !important;
      display: flex !important;
      align-items: center !important;
      background: var(--light) !important;
      padding: 4px !important;
    }
    a {
      width: 5%;
      background: var(--light);
      height: 100%;
      padding: 3px;
    }
    :focus-within {
      background: var(--light_grey);
      padding: 0px;
      outline: 0px auto -webkit-focus-ring-color;
      box-shadow: 2px 3px 5px -3px inset var(--gray) !important;
    }
  }

  .template_table_container {
    margin: 0px !important;
    width: 100%;
    .template_table {
      padding: 0px !important;
    }
  }
}

.sg_sys_templates span > div {
  width: 25%;
}

.sg_template_table_item_dropdown {
  position: absolute !important;
  transform: translate3d(0px, 0px, 0px) !important;
  will-change: transform !important;
  position: initial !important;
  width: 100% !important;
  padding: 0px !important;
  margin: 0 16px !important;
  padding: 0px !important;
  border: none !important
}

.sg_template_table_item_dropdown > div {
  padding: 0px !important;
}

.sg_template_table_item_dropdown .template_table_container {
  width: 98%;
}

#sg_sys_templates .dropdown-menu.show {
    padding: 0px !important;
    margin: 0 !important;
}

.sg_template_table_item_dropdown .template_table {
  /*padding: 0px 8px !important;*/
    padding: 0px !important;
}

.sg_template_table_item_dropdown .template_table_header {
    padding: 0px 0px !important;
    background: var(--light_grey);
    -webkit-box-shadow: -6px 4px 26px 0px rgba(0, 0, 0, 0.29) !important;
    -moz-box-shadow: -6px 4px 26px 0px rgba(0, 0, 0, 0.29) !important;
    box-shadow: -1px 1px 8px -1px rgba(0, 0, 0, 0.39) !important;
}

.sg_template_table_item_dropdown .template_table_row {
    border: none;
    padding: 0px 0px !important;
}

.sg_template_table_item_dropdown .template_table_cell {
    width: 16.66%;
    padding: 6px 8px;
}

#sg_sys_templates {
  padding: 0px !important;
}

#sg_sys_templates, #sg_group_templates {
  span > div {
      padding: 0px 16px;
  }
}

.sg_template_table_button_dropdown {
  width: 100%;
  background: var(--light);
  padding: 8px;
}

#sg_sys_templates .dropdown-toggle::after {
    position: absolute;
    right: 0;
    bottom: 38px;
    height: 0;
    right: 10px;
    align-self: center;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.sg_sys_templates_form {

}

.sg_sys_templates_form input[type=submit] {
      background: var(--highlight_two);
    color: var(--white-color);
    padding: 4px 8px;
    border-radius: 4px;
}

.sg_sys_templates_form input#text_input {
    padding: 4px 8px;
}


/* --------------   Search bar  --------------   */


.template_right_section .edit_sug_searchbar form > span {
  background: var(--gray);

  button:focus {
     outline: none;
      padding: 1px 7px 2px 7px;
  }
}
