.one_of_four_w {
	width: 25%;
}

.two_of_four_w {
	width: 50%;
}

.three_of_four_w {
	width: 75%;
}

.four_of_four_w {
	width: 100%;
}

.one_of_four_h {
	height: 25%;
}

.two_of_four_h {
	height: 50%;
}

.three_of_four_h {
	height: 75%;
}

.four_of_four_h {
	height: 100%;
}



/*####################################*/
/*# ---------- Side Nav ------------ #*/
/*####################################*/

.nav_padding_top_bottom {
  padding: 6px 8px;

  :focus {
    padding: 6px 8px;
  }
}

.side_nav_btn {
  margin-bottom: 8px;
  padding: 4px 0 4px 0;
}

.side_nav_width {
  width: 15vw;
  margin-top: 45px;
  position: fixed;
}

.outer_container > span:nth-child(2) {
  margin-left: 15vw;
  margin-top: 45px;
}

.side_nav_lvl_1_title {
  font-size: 1rem;
}

.side_nav_lvl_2_title {
  font-size: .9rem;
}

.side_nav_lvl_3_title {
  font-size: .9rem;
  color: var(--white-color);
}

.sec_group_lvl2_item:hover, .sec_group_lvl2_title:hover, .side_nav_lvl_1_title:hover, .sec_group_item:hover {
  background-color: #00000000;
}

.side_nav_lvl_1_title:hover{

}

.side_nav_body {
    height: inherit;
    height: 100%;
    /* width: 100%; */
    overflow: hidden;
}

.side_nav_body > div {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 15px;
  box-sizing: content-box;
  margin: 0px;
}

.sec_group_item {
  display: flex;
  flex-direction: column;
  padding: 6px 16px 6px 8px;
}

.nav_sys_sec_groups_container > a:focus, .side_nav_btn > a:focus {
    padding: 6px 16px 6px 8px;
}

.sec_group_item p {
  color: var(--white-color);
}

.sec_group_item p:hover {
  text-decoration: none;
}

.sec_group_item a:hover {
  color: var(--highlight_one);
  text-decoration: none;
  background: #00000000;
}

.side_nav_title p {
  font-size: 1em;
  color: var(--white-color);
  padding: 16px 16px 4px 8px;
}

.card-header {
  font-size: .8rem !important;
  padding: 2px !important;
}

.card-header p {
  padding: 2px;
}

.card div {
  padding: 8px 16px;
}

.card-body {
  font-size: .8rem !important;
  padding: 2px !important;
  margin: 0px !important;
  color: white;
}

.side_card {
  background-color: var(--dark_grey-color) !important;
}

.side_card:hover {
  transition: 0.5s;
  cursor: pointer;
}

.mb-0, .my-0 {
  margin: 0!important;
  display: flex;
  justify-content: start;
  align-items: center;
}

.card {
 border-radius: 0rem !important; 
}

.child {
  margin-left: 10%;
  color: lightgreen;
  background: var(--gray);
}


/* Rule Creation Factory */


.get_search_source_destin_button, .get_search_protocols_button, .get_search_ports_button, .get_search_action_button {
	border: none !important;
}

.search_button_container p{
  width: 90%;
  text-align: initial;
}

%nav-bar-buttons-general-proterties {
  width: 15%;
  display: flex;
  align-items: center;
  padding: 8px;
}

%button-icon-size {
  width: 15px;
  height: 15px
}

.nav_sys_sec_groups_container > a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    button {
      background: var(--gray-dark);
      border: none;
      right: 8px;
      position: absolute;
      width: min-content;
      i {
        color: var(--white-color);
      }
    }
}

#nav_sys_sec_groups_header, #nav_user_sec_groups_header {
  .sec_group_lvl2_item {
    padding: 0 0 0 8px !important;
    btn {width: 20%;}
  }

  .sec_group_lvl2_item:nth-child(1) {
    width: 70%;
    justify-content: space-around;
  }
  .sec_group_lvl2_item:nth-child(2) {
    @extend %nav-bar-buttons-general-proterties;
    color: var(--red-color);
    .fa {
      @extend %button-icon-size;
    }
  }
  a:nth-child(3) {
    @extend %nav-bar-buttons-general-proterties;
    color: var(--highlight_two);
    .fa {
      @extend %button-icon-size;
    }
  }

}

.sec_group_lvl3_items {
    margin-left: 0;
    border-bottom: 2px solid rgba(0, 0, 9, 0.2);
    width: 100%;
    padding: 4px 0px 0 24px;
    background: var(--gray);

    a div:hover {
      color: blue;
    }
}

/* Edit an item */

.cover_page {
  position: absolute;
  z-index: 200;
  background-color: var(--white-color);
  width: 100%;
  height: 100%;
}

.common_protocols {
  flex-wrap: wrap;

  .button_to input.edit_sug_system_obj_search_cell {
    width: 50%;
  }

  .button_to input.edit_sug_system_obj_search_cell{
    margin: 1%;
    /* font-size: .8rem; */
    font-family: var(--title-font);
    padding: 0;
    color: var(--white-color);
    font-weight: 400;
    background: #00000000;
    /* border-radius: 0px; */
  }
}

.dropdown-menu.show {
  padding: 8px !important;
}

.dropdown-item:nth-child(5) {
  margin-top: 8px !important;
}

#system_obj_search {
  width: 20%;
  height: 100%;
}




/* Close button for Sug Rule overlay */

a.exit_sug_button:hover {
  background: none;
}

/* Modal for Security Group upload */

.import_popup_example {
	width: 100%;
}

.border_dotted {    
	padding: 8px;
  display: inline-block;
  border: 2px dashed var(--dark_grey);
  border-radius: 10px;
  font-weight: normal;
}

label.btn {
  font-family: var(--title-font);
}

.border_dotted div h6 {
	font-size: .9rem;
  font-family: var(--title-font);
}

.sec_group_import_footer .upload_button {
	color: var(--highlight_two);
	cursor: pointer;
}

.sec_group_import_footer .upload_button:hover {
	color: var(--highlight_two_dark) !important;
}

.sec_group_import_inner_container label {
  padding: 0;
  margin: 0;
}

.sec_group_import_inner_container label:hover {
  opacity: .9;
}

.sec_group_model_close {
  position: absolute;
  right: 16px;
}

@media (min-width: 576px) {
	.modal-dialog {
   max-width: 700px !important;
   margin: 1.75rem auto;
 }
}

p.append_here {
  font-size: 1rem;
}

.sec_gp_page_suggestion_partial_headers {
  width: 96%;
  height: min-content;
}





/* Templates section */

.sg_templates_container > span {
  width: 50%;
}

.vm_suggestion_tab-pane {
    padding: 0px !important;
    height: 0px;
}
