

/* ################################### */
/*       SUGGESTED RULE PARTIAL        */
/* ################################### */

.edit_sug_system_obj_search_cell {
  .edit_sug_rule_overlay.search_button_container {
    width: 20%;
  }
}

div#vm_suggestion_table {
    padding: 0 16px 8px 16px;
}

.vm_suggestion_tab-pane > span > span {
    margin: 16px 16px 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new_sug_button {
  color: var(--highlight_two);
  font-weight: bold;
  border: none !important;
  left: 0;
  margin: 0 !important;
  width: max-content !important;
  margin: 8px 32px 21px 10px;
  height: 10px !important;
}

.sug_rule_overlay_bottom_container {
  background: white;
  padding-bottom: 64px;
}

.dropdown-item form input[type="hidden"], .dropdown-item form input[type="text"], .dropdown-item form input[type="submit"] {
  font-family: var(--title-font);
  padding: 0;
  color: var(--dark_grey);
  font-weight: 400;
  background: #00000000;
}

.dropdown-item:nth-child(5) form input[type="submit"] {
  margin-left: 8px;
}

.edit_sug_savecancel_button {
 height: min-content;
}

.edit_sug_savecancel_button {
  display: flex;
  justify-content: center;
  width: 100px;
  border-radius: 25px;
  color: cornflowerblue;
}

.edit_sug_savecancel_button_container {
  height: 40px;
  background: var(--dark_grey);
  display: flex;
  align-items: center;
  padding: 0 16px;
  margin-top: 45px;
}

.edit_sug_savecancel_button_container input[type="submit"] {
 font-family: var(--title-font) !important;
 font-weight: 300 !important;
 border-radius: 0px;
 color: var(--white-color);
 font-size: .9rem !important;
 background: #00000000;
}

.edit_sug_savecancel_button_container input[type="submit"]:hover {
  color: var(--highlight_one);
}

.edit_sug_savecancel_button_container p {
 color: var(--white-color);
}

.ad_dashnav_buttons_container {
 min-height: 40px;
}

.edit_sug_leave_buttons {   
  position: absolute;
  right: 0;
}

.search_button_container_range {
  width: 90%;
}

.edit_rule_contents {
  margin-top: 40px;
}

.edit_sug_table_top_header {
  margin: 7.5vh;
}

.existing_suggestion_title {
  margin: 0 10% 0 10%;
}

.existing_suggestion {
  margin: 0% 10% 0 10%;
}

.existing_suggestion_row {
  margin: 0 10%;
}

.new_sug_item_cell_table {
  width: 70%;
}

span.sug_cell {
    align-items: center;
    /* align-content: center; */
    display: flex;
}

.new_suggestion_element_tables_container {
  margin: 2.5% 0 0 10%;
}

.edit_sug_table_headers {
  font-size: 1rem;
  padding: 8px 0;
}

.new_sug_item_cell, .new_sug_title_cell {
  width: 20%;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  border: 0.1px solid var(--light_grey);
  position: relative;
}

.new_sug_title_cell {
  padding: 8px;
}

.new_sug_title_cell {
  justify-content: center;
}

.exit_sug_button {
  display: flex;
  height: 16px;
  width: 16px;
}

.exit_sug_button:hover {
  background-color: none;
}

.edit_sug_rule_overlay {
  z-index: 300;
  position: absolute;
}

.edit_sug_search_service_textbox {
  font-size: .8rem;
  width: 80%;
}

input.edit_sug_system_obj_search_cell {
  color: var(--black-color);
  font-size: .8rem;
  font-family: var(--body-font);
  font-weight: 200;
  border-radius: 0px;
}

.edit_sug_system_obj_search_container {
  width: 30%;
  margin: 0 2.5vw 0 4vw;
  margin-top: calc(2.5vw + 25px);
}

.pre_edit_rule p {
  height: 35px;
  line-height: 35px;
  text-align: -webkit-match-parent;
  margin-left: 8px !important;
}

.edit_sug_system_obj_search_cell {
  width: 100%;
  min-height: 35px;
  background: var(--white-color);
  padding: 8px;
  border: 0.1px solid var(--light_grey);
  display: flex;
  justify-content: space-between;
  min-height: max-content;

  p {
    width: max-content;
    max-width: 80%;
  }

  p:nth-child(2) {
    padding: 0 2%;
  }

  p:hover {
    background-color: #00000000;
  }

  span a img {
    width: 19px;
  }
}

.edit_sug_searchbar {
  margin: 0 0 2vw 0;
}


.sug_rule_modifiers {
  width: 4%;
  display: flex;
  flex-direction: row;
  position: relative;
  
  a {
    width: 50%;
  }

  a:nth-child(1) {
    color: var(--red-color);
  }

  a:nth-child(2) {
    color: var(--highlight_two);
  }
}

a.close_button_container.btn.btn-default {
  position: initial;
}

/* item hover */

.edit_sug_system_obj_search_cell:hover {
  background: var(--light);
  a {
    height: max-content !important;
    word-wrap: break-word;
    overflow: initial;
  }
}

