<% if (defined?(suggested) == "local-variable")%>
	<span class="flex_column edit_sug_system_obj_search_cell">
		<p class="body_font"><%= suggested.name %></p>
	</span>
<% else %>
	<span class="flex_column edit_sug_system_obj_search_cell">
		<p class="body_font"><%= @rule.name %></p>
	</span>
<% end %>