<% if (defined?(suggested) == "local-variable")%>
	<% if !@suggested.nil? %>
		<% @suggested.protocols.each do |protocol| %>
			<span class="flex_row edit_sug_system_obj_search_cell">
				<p class="body_font"><%= protocol.name %></p>
				<span class="edit_sug_rule_overlay search_button_container">
					<%= link_to delete_sug_item_path(suggested.id, "protocol", protocol.id, "sec_group"), class: "exit_sug_button", :remote => true do %>
                        <i class="fa fa-close fa fa-close small_button red_text"></i>
					<% end %>
				</span>
			</span>
		<% end %>
	<% end %>
<% else %>
	<% @rule.protocols.each do |protocol| %>
		<span class="flex_row edit_sug_system_obj_search_cell">
			<p class="body_font"><%= protocol.name %></p>
			<span class="edit_sug_rule_overlay search_button_container">
				<%= link_to delete_template_rule_item_path(@template_id, @rule.id, "protocol", protocol.id, "rule_template"), class: "exit_sug_button", :remote => true do %>
                        <i class="fa fa-close fa fa-close small_button red_text"></i>
				<% end %>
			</span>
		</span>
	<% end %>
<% end %>