
<% if (defined?(suggested) == "local-variable")%>
	<% if !@suggested.nil? %>
		<span class="flex_column edit_sug_system_obj_search_cell">
			<p class="body_font"><%= @suggested.action %></p>
		</span>
	<% end %>
<% else %>
	<span class="flex_column edit_sug_system_obj_search_cell">
		<p class="body_font"><%= @rule.action %></p>
	</span>
<% end %>