
<% if @which_controller == "sec_group" %>
	<% @rule.port_ranges.each do |range| %>
		<span class="relative full_width edit_sug_system_obj_search_cell">
			<span class="search_button_container_range flex_row">
				<p class="body_font">Sour:<%= range.startport %>  </p>
				<p class="body_font">	&rarr; </p>
				<p class="body_font">Dest:<%= range.endport %></p>
			</span>
			<span class="edit_sug_rule_overlay search_button_container">
				<%= link_to delete_sug_item_path(@suggested.id, "port", range.id, "sec_group"), class: "exit_sug_button", :remote => true do %>
                        <i class="fa fa-close fa fa-close small_button red_text"></i>
				<% end %>
			</span>
		</span>
	<% end %>
	<% @rule.services.each do |service| %>
		<span class="relative full_width edit_sug_system_obj_search_cell">
			<p class="body_font"><%= service.serv_name %></p>
			<span class="edit_sug_rule_overlay search_button_container">
				<%= link_to delete_sug_item_path(@suggested.id, "service", service.id, "sec_group"), class: "exit_sug_button", :remote => true do %>
                        <i class="fa fa-close fa fa-close small_button red_text"></i>
				<% end %>
			</span>
		</span>
	<% end %>
<% else %>
	<% @rule.port_ranges.each do |range| %>
		<span class="relative full_width edit_sug_system_obj_search_cell">
			<span class="search_button_container_range flex_row">
				<p class="body_font">Sour:<%= range.startport %>  </p>
				<p class="body_font">	&rarr; </p>
				<p class="body_font">Dest:<%= range.endport %></p>
			</span>
			<span class="edit_sug_rule_overlay search_button_container">
				<%= link_to delete_template_rule_item_path(@template_id, @rule.id, "port", range.id, "rule_template"), class: "exit_sug_button", :remote => true do %>
                        <i class="fa fa-close fa fa-close small_button red_text"></i>
				<% end %>
			</span>
		</span>
	<% end %>
	<% @rule.services.each do |service| %>
		<span class="relative full_width edit_sug_system_obj_search_cell">
			<p class="body_font"><%= service.serv_name %></p>
			<span class="edit_sug_rule_overlay search_button_container">
				<%= link_to delete_template_rule_item_path(@template_id, @rule.id, "service", service.id, "rule_template"), class: "exit_sug_button", :remote => true do %>
                        <i class="fa fa-close fa fa-close small_button red_text"></i>
				<% end %>
			</span>
		</span>
	<% end %>
<% end %>