<% if !@suggested.nil? %>
	<% @suggested.sources.each do |source| %>
		<span class="flex_row edit_sug_system_obj_search_cell">
			<p class="body_font"><%= source.sour_name %></p>
			<span class="edit_sug_rule_overlay search_button_container">
				<%= link_to delete_sug_item_path(@suggested.id, "source", source.id, "sec_group"), class: "exit_sug_button", :remote => true do %>
				<i class="fa fa-plus small_button red_text"></i>
				<% end %>
			</span>
		</span>
	<% end %>
<% else %>
	<% @rule.sources.each do |source| %>
			<span class="flex_row edit_sug_system_obj_search_cell">
				<p class="body_font"><%= source.sour_name %></p>
				<span class="edit_sug_rule_overlay search_button_container">
					<%= link_to delete_template_rule_item_path(@template_id, @rule.id, "source", source.id, "rule_template"), class: "exit_sug_button", :remote => true do %>
					<i class="fa fa-plus small_button red_text"></i>
					<% end %>
				</span>
			</span>
		<% end %>
<% end %>