
<% if !@suggested.nil? %>
	<% @suggested.destinations.each do |destination| %>
		<span class="flex_row edit_sug_system_obj_search_cell">
			<p class="body_font"><%= destination.dest_name %></p>
			<span class="edit_sug_rule_overlay search_button_container">
				<%= link_to delete_sug_item_path(@suggested.id, "destination", destination.id, "sec_group"), class: "exit_sug_button", :remote => true do %>
                    <i class="fa fa-close fa fa-close red_text"></i>
				<% end %>
			</span>
		</span>
	<% end %>
<% else %>
	<% @rule.destinations.each do |destination| %>
		<span class="flex_row edit_sug_system_obj_search_cell">
			<p class="body_font"><%= destination.dest_name %></p>
			<span class="edit_sug_rule_overlay search_button_container">
				<%= link_to delete_template_rule_item_path(@template_id, @rule.id, "destination", destination.id, "rule_template"), class: "exit_sug_button", :remote => true do %>
                        <i class="fa fa-close fa fa-close red_text"></i>
				<% end %>
			</span>
		</span>
	<% end %>
<% end %>