
<span class="row">
	<p class="body_font cell flow_cell"><%= flow.protocol_name %></p>
	<p class="body_font cell flow_cell"><%= flow.source %></p>
	<p class="body_font cell flow_cell"><%= flow.destination %></p>
	<p class="body_font cell flow_cell"><%= flow.port %></p>
	<p class="body_font cell flow_cell"><%= flow.sessions %></p>
	<p class="body_font cell flow_cell"><%= flow.sent_bytes %>  <%= flow.received_bytes %></p>
	<p class="body_font cell flow_cell flow_cell_wide flex_row even_spread">
		<% if flow.time_out %>
			<span><%= flow.time_out %></span> <span>&rarr;</span> <span><%= flow.time_rec %></span>
		<% else %>
			n/a
		<% end %>
	</p> 
	<span class="cell flow_cell">
		<span id="allow_flow#{flow.id}">
			<%= form_tag allow_flow_path(flow.id), remote: true do %> <!-- Flows controller -->
				<%= check_box_tag :subscribe, checked: flow.allow_deny, :onclick => "this.form.submit();"  %>
			<% end %>
		</span>
		<span id="deny_flow#{flow.id}">
			<%= link_to deny_flow_path(flow.id), remote: true do %>  <!-- Flows controller -->
				<%= check_box("tag", flow.id, {checked: flow.allow_deny}) %>
			<% end %>
		</span>
		<%= link_to "Clear", remove_flow_from_nsx_path(flow.id), remote: true %> <!-- Flows controller -->
	</span>
</span>