


<% @column_array = ["Protocol", "Source", "Destination", "Port", "Σ sessions", "Σ sent bytes", "Σ received bytes", "Time sent", "Time received" ] %>
<% @origin = "flows_partial" %>

<span class="flex_row">
	<button class="btn btn-light shadow flex_row align-items-center" data-toggle="modal" data-target="#column_sort_flows" onclick="openModal(this)">
		<p class="sub_title_font">Filter</p>
		<i class="fa fa-filter flex_center"></i>
	</button>
	
	<span class="flex_row">
		<% if !@filter_array.nil? %>

			<span class="d-flex flex-row justify-content-start mb-2 ml-2">
				<% @filter_array.each do |x, index| %>
					<a class="pr-2 pt-2 pb-2 pl-1" href="" routerLink="../"><%= x %></a>
					<i class="fa fa-chevron-right d-flex align-items-center p-2" aria-hidden="true"></i>
				<% end %>
			</span>
		<% end %>
	</span>
</span>


<!-- Modal -->
<div class="modal fade" id="column_sort_flows" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <%= render "security_files/sec_groups/panel_partials/column_sort", :locals => {:origin => "flows_partial"} %>
</div>


<span class="table table-striped">
	<span class="full_width cell_headers flow_table_margin">
		<p class="cell flow_cell">Protocol</p>
		<p class="cell flow_cell">Source</p>
		<p class="cell flow_cell">Destination</p>
		<p class="cell flow_cell">Dest Port</p>
		<p class="cell flow_cell">Σ Sessions</p>
		<p class="cell flow_cell">Σ Sent  Received (B)</p>
		<p class="cell flow_cell flow_cell_wide">Time Out In</p>
	  <p class="cell table_grey flow_cell flow_cell_wide">Allow or Deny</p>
	</span>
	
	<div class="table_scroll flow_table_margin" >
		<% if @group_flows %>
			<% @group_flows.each do |flow|%>
				<span class="flow_rule_partial_area_<%= flow.id %>">
					<span class="flex_row">
						<p class="body_font cell flow_cell"><%= flow.protocol_name %></p>
						<p class="body_font cell flow_cell"><%= flow.source %></p>
						<p class="body_font cell flow_cell"><%= flow.destination %></p>
						<p class="body_font cell flow_cell"><%= flow.port %></p>
						<p class="body_font cell flow_cell"><%= flow.sum_sessions %></p>

						<span class="body_font cell flow_cell flex_row flex_separate">
							<p class="body_font">Outbound: <%= flow.sum_sent_bytes %></p>
							<p class="body_font">Inbound: <%= flow.sum_rec_bytes %></p>
						</span>
						<span class="body_font cell flow_cell flow_cell_wide flex_row even_spread flex_row flex_separate">
							<p class="body_font">Outbound: <%= flow.earliest_outbound %></p>
							<p class="body_font">Inbound: <%= flow.latest_inbound %></p>
						</span>
						<span class="cell flow_cell flex_row">
							<% if flow.source.length != 17 or flow.destination.length != 17 %> <!-- mac sets are 17 chars and currently not being accepted by the NSX dfw Api -->
								<span id="allow_flow<%= flow.id %>">
									<%= link_to allow_flow_path(flow.earliest_outbound), remote: true do %> <!-- Flows controller -->
										<% if !flow.allow_deny.nil? %>
											<%= check_box("tag", flow.earliest_outbound, {checked: flow.allow_deny}) %>
										<% else %>
											<%= check_box("tag", flow.earliest_outbound, {checked: false}) %>
										<% end %>
										<p class="body_font">Allow</p>
									<% end %>
								</span>
								<span id="deny_flow<%= flow.id %>">
									<%= link_to deny_flow_path(flow.earliest_outbound), remote: true do %>  <!-- Flows controller -->
										<% if !flow.allow_deny.nil? %>
											<%= check_box("tag", flow.earliest_outbound, {checked: !flow.allow_deny}) %>
										<% else %>
											<%= check_box("tag", flow.earliest_outbound, {checked: false}) %>
										<% end %>
										<p class="body_font">Deny</p>
									<% end %>
								</span>
								<%= link_to remove_flow_from_nsx_path(flow.earliest_outbound), method: :delete, remote: true do %>
									<p class="body_font">Cancel</p>
								<% end %>
							<% end %>
						</span>
					</span>
				</span>
			<% end %>
		<% end %>
	</div>
</span>
