$('.flow_rule_partial_area_<%= @flow.id %>').html("");
$('.flow_rule_partial_area_<%= @flow.id %>').append(`<span class="flex_row">
	<p class="body_font cell flow_cell"><%= @flow.protocol_name %></p>
	<p class="body_font cell flow_cell"><%= @flow.source %></p>
	<p class="body_font cell flow_cell"><%= @flow.destination %></p>
	<p class="body_font cell flow_cell"><%= @flow.port %></p>
	<p class="body_font cell flow_cell"><%= @flow.sessions %></p>
	<p class="body_font cell flow_cell"><%= @flow.sent_bytes %>  <%= @flow.received_bytes %></p>
	<p class="body_font cell flow_cell flow_cell_wide flex_row even_spread">
		<% if @flow.time_out %>
			<span><%= @flow.time_out %></span> <span>&rarr;</span> <span><%= @flow.time_rec %></span>
		<% else %>
			n/a
		<% end %>
	</p> 
	<span class="cell flow_cell flex_row">
		<span id="allow_flow<%= @flow.id %>">
				<%= link_to allow_flow_path(@flow.id), remote: true do %> <!-- Flows controller -->
					<% if !@flow.allow_deny.nil? %>
						<%= check_box("tag", @flow.id, {checked: @flow.allow_deny}) %>
					<% else %>
						<%= check_box("tag", @flow.id, {checked: false}) %>
					<% end %>
					<p class="body_font">Allow</p>
				<% end %>
		</span>
		<span id="deny_flow<%= @flow.id %>">
				<%= link_to deny_flow_path(@flow.id), remote: true do %>  <!-- Flows controller -->
					<% if !@flow.allow_deny.nil? %>
						<%= check_box("tag", @flow.id, {checked: !@flow.allow_deny}) %>
					<% else %>
						<%= check_box("tag", @flow.id, {checked: false}) %>
					<% end %>
					<p class="body_font">Deny</p>
				<% end %>
		</span>

		<%= link_to remove_flow_from_nsx_path(@flow.id), method: :delete, remote: true do %>
			<p class="body_font">Cancel</p>
		<% end %>
	</span>
</span>`);