<% if current_user %>
	<% if current_user.setting %>
		<span class="flex_column setting_activate_text_parent max_content">
			<p class="title_font">Active Manager</p>
			<span class="flex_row">
			<p class="body_font">Username: </p><p class="body_font "><%= current_user.setting.nsx_username %></p></span>
			<span class="flex_row">
			<p class="body_font">Password: </p><p class="body_font "><%= current_user.setting.nsx_password %></p></span>
		</span>
	<% end %>
<% end %>