<% if current_user %>
	<% if current_user.setting %>
		<span class="flex_column setting_activate_text_parent max_content">
			<p class="title_font">Current Credentials</p>
			<span class="flex_row">
				<p class="body_font">Username: </p>
				<p class="body_font ">
					<%= current_user.setting.vrni_username %>
				</p>
			</span>

			<span class="flex_row">
				<p class="body_font">Password: </p>
				<p class="body_font ">
					<%= current_user.setting.vrni_password %>
				</p>
			</span>
		</span>
	<% end %>
<% end %>