<% if current_user %>
	<% if current_user.setting %>
	    <% current_user.setting.vrni_applications.each do |vrni_machine| %>

			<span class="flex_row shadow_no_hover setting_manager_vrni_items flex_row center">
				
				<span class="setting_activate_btn shadow">

					<% if vrni_machine.current == false %>
						<%= button_to "", make_current_vrni_ipaddr_path(vrni_machine.id), :class => "setting_radio_button setting_radio_button_not_set", remote: true  %>
					<% else %>
						<%= button_to "", make_current_vrni_ipaddr_path(vrni_machine.id), :class => "setting_radio_button setting_radio_button_set", remote: true  %>
					<% end %>

					<!-- <= button_to "activate", make_current_vrni_ipaddr_path(vrni_machine.id), :class => "setting_activate_btn", remote: true  %> -->
				</span>

				<span class="setting_activate_text">
					<% if vrni_machine.current == false %>
						<p class="sub_title_font"><%= vrni_machine.vrni_addr %></p>
					<% else %>
						<p class="sub_title_font color_green"><%= vrni_machine.vrni_addr %></p>
					<% end %>
				</span>

				<span class="align_parent_center delete_item_button">
					<%= link_to delete_vrni_path(vrni_machine.id), method: :delete, :class => "button_center", remote: true do %>
						<%= image_tag "red_close.png", class: "small_button settings_vrni_nsx_close_button get_search_protocols_button" %>
					<% end %>
				</span>
				
			</span>
	    <% end %>
	<% end %>
<% end %>