<div class="nav-bar"></div>
<div>
  <p id="append_here" class="append_here color_red"></p>
</div>

<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-nsx" role="tab" aria-controls="v-pills-home" aria-selected="true">NSX Information</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-vrn" role="tab" aria-controls="v-pills-profile" aria-selected="false">VRNI Information</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-user" role="tab" aria-controls="v-pills-messages" aria-selected="false">User Information</a>
    </div>
  </div>


  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">

      <!-- Pane 1 (NSX Information) -->
      <div class="tab-pane fade show active" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <div class="col-md-9">
            <h4 class="lead">Update Your User Information Here</h4>
            <hr>
            <div class="user_update_first_attempt_area flex_column settings_forms">
              <%= form_for @user, :url => update_a_user_path(@user.id), :format => "js", remote: true do |form| %>
              <div class="flex_column left relative">
                <span class="flex_column">
                  <span class="user_edit_field flex_row sub_title_font">
                    <%= form.text_field :name, :class => "edit_sug_search_textbox", :placeholder => "Your Full Name", autocomplete: 'off' %>
                  </span>
                  <span class="user_edit_field flex_row sub_title_font">
                    <%= form.text_field :email, :class => "edit_sug_search_textbox", :placeholder => "Your Email Address", autocomplete: 'off'  %>
                  </span>
                  <span class="user_edit_field flex_row sub_title_font">
                    <%= form.password_field :password, :class => "edit_sug_search_textbox", :placeholder => "Password", autocomplete: 'off'  %>
                  </span>
                  <span class="user_edit_field flex_row sub_title_font">
                    <%= form.password_field :password_confirmation, :class => "edit_sug_search_textbox", :placeholder => "Confirm Your Password", autocomplete: 'off'  %>
                  </span>
                </span>
                 <%= form.submit "Update" , :class => "max_height_width shadow submit_button setting_update_btn white_text" %>
              </div>
              <% end %>
            </div>
            <hr>
            <div class="error_update_partial_area flex_column settings_forms">

            </div>

            <span class="flex_row nsx_outer_container">
              <span class="user_data_container">
                <%= render :partial => '/user_files/users/user_data' %>
              </span>
            </span>
          </div>

      </div>


      <!-- Pane 2 (VRNI Information) -->
      <div class="tab-pane fade" id="v-pills-nsx" role="tabpanel" aria-labelledby="v-pills-profile-tab">

            <div class="col-md-9">
              <h4 class="lead">Update Your NSX Credentials Here</h4>
              <hr>
              <div class="vrni_nsx_setting_container flex_column flex_top">
                <span class="flex_column nsx_setting_container">
                  <span class="flex_column nsx_credential_container two_of_four">

                    <p class="title_font">NSX Manager Credentials</p>
                    <br>
                    <%= form_with url: settings_update_path(current_user.setting.id, "nsx"), autocomplete: "off", remote: true, :method => "patch" do |form| %>
                    <div class="flex_column left">
                      <span class="flex_column">
                        <span class="field">
                          <span class="user_edit_field flex_row sub_title_font">
                            <%= form.text_field :nsx_username, :class => "edit_sug_search_textbox", :id =>"nsx_username", :placeholder => "username", autocomplete: 'off'  %>
                          </span>
                        </span>
                        <span class="field">
                          <span class="user_edit_field flex_row sub_title_font">
                            <%= form.password_field :nsx_password, :class => "edit_sug_search_textbox", :id =>"nsx_password", :placeholder => "Password", autocomplete: 'off'%>
                          </span>
                        </span>
                      </span>

                       <%= form.submit "Update" , :class => "max_height_width shadow submit_button setting_update_btn white_text" %>
                    </div>
                    <% end %>

                    <hr>

                    <span class="flex_row nsx_outer_container">
                      <span class="nsx_cred_container">
                        <%= render :partial => 'admin_files/settings/cred_nsx' %>
                      </span>
                    </span>
                  </span>



                  <hr>

                  <span class="flex_column nsx_ip_addr_container two_of_four">
                    <div class="flex_column settings_forms">
                      <p class="title_font">Add Managers</p>
                      <br>
                      <%= form_with url: add_nsx_path, remote: true, :method => "post" do |form| %>
                      <div class="flex_column">
                        <span class="field">
                          <span class="user_edit_field flex_row sub_title_font">
                            <%= form.text_field :ip_addr, :class => "edit_sug_search_textbox col-md-4", :id =>"nsx_ip_address", :placeholder => "IP Address:", autocomplete: 'off'  %>
                            <%= form.submit "+" , :class => "addition_button", id: "add_vrni_id" %>
                          </span>
                        </span>
                      </div>
                      <% end %>
                    </div>

                    <div class="flex_row settings_tables">

                      <span class="flex_row managers_outer_container">
                        <span class="managers_container flex_row flex_wrap">
                          <%= render :partial => 'admin_files/settings/managers' %>
                        </span>
                      </span>

                    </div>
                  </span>
                </span>
              </div>
            </div>
      </div>


      <!-- Pane 3 (USER Information) -->
      <div class="tab-pane fade" id="v-pills-vrn" role="tabpanel" aria-labelledby="v-pills-messages-tab">

            <div class="col-md-9">
              <h4 class="lead">Update Your VRNI Credentials Here</h4>
              <hr>

              <span class="flex_column vrni_setting_container">
                <span class="flex_column vrni_credential_container two_of_four">

                  <p class="title_font">VRNI Manager Credentials</p>
                  <br>
                  <%= form_with url: settings_update_path(current_user.setting.id, "vrni"), remote: true, :method => "patch" do |form| %>
                  <div class="flex_column left min_content">
                    <span class="flex_column">
                      <span class="field">
                        <span class="user_edit_field flex_row sub_title_font">
                          <%= form.text_field :vrni_username, :id => "vrni_username", :class => "edit_sug_search_textbox", :placeholder => "Username", autocomplete: 'off' %>
                        </span>
                      </span>
                      <span class="field">
                        <span class="user_edit_field flex_row sub_title_font">
                          <%= form.password_field :vrni_password, :id => "vrni_password" , :class => "edit_sug_search_textbox", :placeholder => "Password", autocomplete: 'off' %>
                        </span>
                      </span>
                    </span>

                    <%= form.submit "Update" , :class => "max_height_width shadow submit_button setting_update_btn white_text" %>
                  </div>
                  <% end %>

                  <hr> 

                  <span class="flex_row vrni_outer_container">
                    <span class="vrni_cred_container">
                      <%= render :partial => 'admin_files/settings/cred_vrni' %>
                    </span>
                  </span>
                </span>

                <hr>

                <span class="flex_column nsx_ip_addr_container two_of_four">
                  <div class="flex_column min_content full_width">
                    <div class="flex_column settings_forms settings_vrni_form  min_content">
                      <p class="title_font">Add VRNI Proxy VMs</p>
                      <br>
                      <%= form_with url: add_vrni_path, remote: true, :method => "post" do |form| %>
                      <div class="flex_column  min_content">
                        <span class="field  min_content">
                          <span class="user_edit_field flex_row sub_title_font">
                            <%= form.text_field :vrni_addr, :class => "edit_sug_search_textbox", :id => "vrni_ip_address", :placeholder => "Password", autocomplete: 'off'   %>
                            <%= form.submit "+" , :class => "addition_button", id: "add_vrni_id" %>
                          </span>
                        </span>
                      </div>
                      <br>
                      <% end %>
                    </div>

                    <div class="flex_row settings_tables">
                      <span class="flex_row vrni_outer_container">
                        <span class="vrni_container flex_row flex_wrap">
                          <%= render :partial => 'admin_files/settings/vrni' %>
                        </span>
                      </span>
                    </div>
                  </div>
                </span>
              </span>
            </div>
      </div>
    </div>
  </div>
</div>

<!-- Below is the user edit section -->
<div class="container-fluid">
  <div class="row flex_center">
    
  </div>
</div>

<br>

<div class="container-fluid">
  <div class="row flex_center">

  </div>
</div>

<br>

<div class="container-fluid">
  <div class="row flex_center">
    
  </div>
</div>