

<% if @type == "update_auth" %>
	$('.vrni_cred_container').html("");
	$('.vrni_cred_container').append("<%= j render :partial => 'admin_files/settings/cred_vrni' %>");
	$('.nsx_cred_container').html("");
	$('.nsx_cred_container').append("<%= j render :partial => 'admin_files/settings/cred_nsx' %>");
<% end %>

<% if @type == "nsx" %>
	$('.managers_container').html("");
	$('.managers_container').append("<%= j render :partial => 'admin_files/settings/managers' %>");
<% end %>

<% if @type == "vrni" %>
	$('.vrni_container').html("");
	$('.vrni_container').append("<%= j render :partial => 'admin_files/settings/vrni' %>");
<% end %>

<% if @type == "error" %>
	$('#append_here').html("");
	$('#append_here').append("<p<%= @error %></p>");
<% end %>


// USERS Section

<% if @type == "user_update" %>
	$('.user_data_container').html("");
	$('.user_data_container').append("<%= j render :partial => '/user_files/users/user_data' %>");
<% end %>