$('#append_here').html("");
$('#append_here').append("<%= @error %>");

var notification_bar = document.getElementById('append_here').style;
notification_bar.opacity = 1;
var i = 1.0;
setTimeout(function () {
	myLoop(i); 
}, 5000);

function myLoop (num) {           
	setTimeout(function () { 
		if (num > 0) { 
			opactiyfunction(num);
			num -= .1;
		   	// alert(num);
		   	myLoop(num);
		} else {
			notification_bar.html = "";
		}
   }, 100)
}

function opactiyfunction(num){
	notification_bar.opacity = num;
}