<%= form_with(model: user_group, local: true) do |form| %>
  <% if user_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_group.errors.count, "error") %> prohibited this user_group from being saved:</h2>

      <ul>
      <% user_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :user_group_user_id %>
  </div>

  <div class="field">
    <%= form.label :sec_group_id %>
    <%= form.text_field :sec_group_id, id: :user_group_sec_group_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
