

<p>
  <strong>User:</strong>
  <%= @user_group.user_id %>
</p>

<p>
  <strong>Sec group:</strong>
  <%= @user_group.sec_group_id %>
</p>

<%= link_to 'Edit', edit_user_group_path(@user_group) %> |
<%= link_to 'Back', user_groups_path %>
