


/* General UI behaviours */

html, body {
    margin:0 !important;
    padding:0 !important;
    height: 100% !important;
   background-color: #58FA58;
   overflow: auto !important;
}

/* Error Field */
.field_with_errors input {
    border: 1px solid var(--red-color);
    color: var(--red-color);
}


/* Font Awesome */

.fa-tag:before {
    content: "\f02b";
    padding-right: 4px;
}



/* ################################# */
/*              shadows              */
/* ################################# */


.shadow {
-moz-box-shadow: 0 0 3px #ccc;
-webkit-box-shadow: 0 0 3px #ccc;
box-shadow: 0 0 3px #ccc;
    border: 1px solid rgba(0,0,0,.125);
}

.shadow:hover {
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.29) !important;
}

.shadow_no_hover {
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.29) !important;
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.29) !important;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.29) !important;
}

.two_sided_shadow_no_hover {
  -webkit-box-shadow: 1px 8px 12px -9px rgba(0, 0, 0, 0.39)!important;
  -moz-box-shadow: 1px 8px 12px -9px rgba(0, 0, 0, 0.39)!important;
  box-shadow: 1px 8px 12px -9px rgba(0, 0, 0, 0.39)!important;
}


/* Error Message */
#notice {
  position: fixed;
/*  display: none;*/
  z-index: 1000;
  right: 16px;
  background-color: var(--light_grey);
  bottom: 16px;
/*  $height: 10%;
  height: $height;
  width: $height * 3.22;*/
   > p:nth-child(1) {
    background: var(--dark_grey);
    color: var(--white-color);
  }
  p {
    padding: 8px 16px;
  }
}


/* Column Tables */

.general_rules_content_container {
  padding: 0 !important;
  .card div {
    padding: 8px 8px !important;
  }
  .cell_header, .table_scroll {
    padding: 0 !important;
  }
}

.flows_content_container {
  padding: 0 !important;
  button {
    border: none;
    padding: none !important;
    margin: 0 0 8px 0 !important;
  }
}

.group_rules_content_container {
  padding: 16px;
}

#vm_flows_content_container {
  padding: 16px !important;
}

.general_rules_content_container {
  padding: 0 !important;
  > div {
      padding: 16px !important;
      button {
        margin: 0 0 8px 0 !important;
      }
  }
}

.sg_templates_content_container {
  padding: 16px;
}

#column_tables_container {
  width: 80%
  height 100%;
}

input#source, input#destination {
  width: 39%;
  font-size: .8rem;
}

.other_service {
  margin-top: 8px;
}

input.edit_sug_search_btn {
  padding: 0 6px;
  height: inherit;
  background: none;
  color: var(--highlight_one);
  font-size: .8rem;
  font-family: var(--title-font);
  font-weight: 400;
}

input.edit_sug_search_textbox {
  background-color: var(--light)
}

p.cell.flow_cell.flow_cell_wide.flex_row.even_spread span, p.cell.flow_cell {
  font-size: .8vw;
}









/* ################################# */
/*              Modals               */
/* ################################# */

.modal-dialog {
  position: fixed !important;
  left: 25%;
  z-index: 100 !important;
}

.modal-backdrop {
  z-index: 99 !important;
}


.modal-title {
  border-radius: 6px 6px 0 0;
  padding: 4px 8px 0;
  background: var(--light_grey);
  p {
    line-height: 1.5;
    font-size: 16px;
  }
}

.fade.show {
 display: list-item;
}

.modal-footer {
  position: relative;
  padding: 8px !important;
  button {
    padding: 8px !important;
    opacity: .75;
  }
  button, input {
    position: initial;
    margin: 0;
    padding: 1px 7px 2px 7px !important;
    i {
      font-size: 16px;
    }
  }
}

.modal-body {
  padding: 16px !important;
}

.form-group {
}

.overflow_parent {
  overflow: hidden;
  .overflow_child {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 15px;
    box-sizing: content-box;
    margin: 0px;
  }
}

#dropdownMenuButton {
  padding: 1px 7px 2px 7px !important;
}

button:focus {
  padding: 1px 7px 2px 7px !important;
}

select:focus {
    background-color: rgb(248, 248, 248);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(166, 166, 166);
    border-image: initial;
}

select:focus {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
}

.wrap {
  flex-wrap: wrap;
}

.y_overflow {
  overflow-y: scroll;
  position: fixed;
}

.edit_sug_search_btn {
  border: none;
  color: white;
  background: border-box;
}

.edit_sug_search_btn:focus {
  padding: 1px 7px 2px 7px;
}

.edit_sug_search_btn i {
  position: relative;
}









/* ################################# */
/*     General widgets not buttons   */
/* ################################# */


.searchbar {
  margin: 8px 0px 16px 12px;
}

.searchbar input:nth-child(1) {
  width: 86%;
}

.searchbar input:nth-child(2) {
  width: 25%;
}

.widget_search_overflow {
  overflow: scroll;
  overflow-x: initial;
  height: -webkit-calc(100vh - 185px);
  height:    -moz-calc(100vh - 185px);
  height:         calc(100vh - 185px);
}

.action_item_cell button {
  width: 100%;
}

.action_item_cell a:nth-child(1), .action_item_cell a:nth-child(2) {
  margin-bottom: 8px;
}














/* ################################# */
/*          General Buttons          */
/* ################################# */


.addition_button {
  height: 29px !important;
  margin: 0 !important;
  background: var(--highlight_one) !important;
  line-height: 0 !important;
  color: white !important;
  font-size: 20px !important;
}

.upload_buttons {
      width: min-content;
    background-color: var(--light_grey) !important;
    height: min-content;
    margin: 0 0 8px 0;
  label, i {
    margin: 3px 8px !important;
  }
}

.upload_buttons:active {
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.29) !important;
    -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.29) !important;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.29) !important;
  }

.import_from_csv {
  margin-right: 16px;
  p {
    margin-right: 8px;
    width: max-content;
    padding: 4px;
  }
}

input.upload_buttons.shadow:active {
    max-width: 86px !important;
}

.btn-secondary:not(:disabled):not(.disabled), .btn-secondary:not(:disabled):not(.disabled), .show>.btn-secondary.dropdown-toggle {
    color: var(--highlight_two) !important;
    background-color: var(--light_grey);
    border-color: #00000000 !important;
}

.btn-primary {
  color: #fff;
  background-color: var(--highlight_two) !important;
}


.small_button {
  width: inherit;
  height: inherit;
  padding: 4px;
}

.protocol_button, .common_protocols .button_to input.edit_sug_system_obj_search_cell, input[type=submit] {
  background-color: var(--dark);
}


.plain_text_button {
  margin: 0px;
  position: absolute;
  left: 0;
  line-height: 0 !important;
  background-color: #00000000 !important;
  text-align: left;
}


.submit_button {
  border-radius: 8px !important;
}

.submit_button:hover {
  background-color: var(--highlight_one);
  color: var(--white-color);
}

.upload_button {
  z-index: 150;
  position: relative;
  width: 100%;
  margin: 8px 0;
}

.upload_button:active {
  opacity: 0.2;
  transition-duration: 1s;
}

.close_button_container {
  padding: 0 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 0;
  bottom: 0;
}

.close_button {
  width: 24px;
  height: auto;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  text-decoration: none;
}

.button.btn.btn-link.collapsed, button.btn.btn-link {
  padding: 0 !important;
}

.mb-0, .my-0 {
  margin: 0!important;
  display: flex;
  justify-content: start;
  align-items: center;
}

.btn {
  border-radius: 0;
}


.a.btn.btn-primary, a:visited {
  /*color: var(--white-color) !important;*/
}
  














/* ################################# */
/*              Inputs               */
/* ################################# */




input#search {
  height: 32px;
  border: 1px solid var(--highlight_two);
}

input.tasks_search_btn {
    height: 32px;
    margin: 0px !important;
}

input[type=submit] {

}

input#activate:focus {
  width: 12px;
  height: 12px;
}

input[type=submit] {
  opacity: 0.7;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  /*color: #fff;/*/
  font-size:16px;
  font-weight: bold;
  line-height: 1.4;
  padding: 8px;
  margin: 4px;
}











/* ################################# */
/*          colors and fonts         */
/* ################################# */




.red_trim {
  border: 2px solid var(--red-color);
  -webkit-text-fill-color: var(--red-color) !important;
}

.red_text {
  -webkit-text-fill-color: var(--red-color) !important;
  opacity: .8;
}

.white_text {
  -webkit-text-fill-color: var(--white-color) !important;
  opacity: .8;
}

.primary_color_text {
  -webkit-text-fill-color: var(--highlight_one) !important;
}

.secondary_color_text {
  -webkit-text-fill-color: var(--highlight_two) !important;
}

.blue_text {
  -webkit-text-fill-color: var(--highlight_two) !important;
  opacity: .8;
}

.white_text {
  color: var(--white-color);
  -webkit-text-fill-color: var(--white-color) !important;
}

.color_green {
  color: var(--highlight_one) !important;
}

.color_red {
  color: var(--red-color) !important;
}


.bk_white {
  background-color: var(--white-color);
}

.bk_green {
  background: var(--highlight_one) !important;
  opacity: .9;
  p {
    color: var(--white-color) !important;
  }
}

.sug_cell p, .cell p, .row p {
  padding: 0 8px;
  word-wrap: break-word !important;
}

.dark_background {
  background-color: var(--gray-dark);
}

.light_background {
  background-color: var(--white-color);
}

.bold {
  weight: 500;
}

.title_font {
  font-size: 14px;
}

.title_font, .settings_sub_title, .settings_title, .settings_intro {
  font-family: var(--title-font) !important;
  font-weight: 300 !important;
  border-radius: 0px !important;
  font-size: 1rem;
  color: var(--dark_grey);
}

.sub_title_font, .sub_title_font input {
font-family: var(--title-font);
    font-weight: 500;
    border-radius: 0px;
    color: var(--dark_grey);
    font-size: .8rem !important;
    padding: 4px 8px;
}

.body_font {
  font-size: .8rem !important;
  font-family: var(--body-font) !important;
  font-weight: 200 !important;
  border-radius: 0px;

  color: var(--dark_grey);
}

/* links and text */

a, a:hover, a:active, a:-webkit-any-link, a:-webkit-any-link:hover {
  text-decoration: none;
  color: var(--light_blue-color);
}

p {
  font-family: var(--body-font);
  color: var(--gray-dark);
}












/* ################################# */
/*          positionings             */
/* ################################# */

.pad-btm-lft-sm {
  margin: 0 0 8px 8px;
}

.hide_element {
  display: none;
}

.text_center {
  text-align: center;
}

.flex_row {
	display: flex !important;
	flex-direction: row !important;
} 

.flex_center {
  display: flex !important;
  align-items: center !important;
}

.flex_separate {
  display: flex;
  justify-content: space-between;
}

.flex_end {
  align-items: flex-end;
}

.flex_self_end {
  align-self: flex-end;
}

.even_spread {
  justify-content: space-between;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_top {
  align-items: flex-start !important;
}

.flex_wrap {
  flex-wrap: wrap;
}

.wrap {
  flex-wrap: wrap;
}

.hidden {
  visibility: hidden;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.min_content {
  width: min-content;
}

.max_content {
  width: max-content;
}

.max_content_both {
  height: max-content;
  width: max-content;
}

.full_width {
  width: 100% !important;
}

.top_right {
  top: 8px;
  right: 8px;
}

.lead {
  padding-top: 16px;
}

.nav-bar {
  padding-top: 90px;
}

.navbar-fixed-top {
  transition: 1s;
  position: fixed;
  z-index: 1001;
  top: 0;
  width: 100%;
}

.right {
  right: 0;
  position: absolute;
}

.center {
  justify-content: center;
}













/* ################################# */
/*              tables               */
/* ################################# */
/*


TODO
#rule_history:nth-child(even), .row:nth-child(even) div > span:nth-child(1) {
    background: var(--light_grey);
}. <-- Delete ? */


/* Table tabs */

.table_tab_styling:focus {
  -webkit-appearance: unset !important;
}

.table_tab_styling {
  font-size: .9rem !important;
  color: var(--black-color);
  font-weight: 500 !important;
  font-family: var(--title-font) !important;
}


/* Table rows */

.row:nth-child(odd) {
    background: #00000000;
}

.a_table_container a.nav-link.waves-light.title_font {
  font-weight: 400;
}

.user_name {
  cursor: default;
  color: var(--white-color) !important;
}








/* ################################# */
/*             Forms                 */
/* ################################# */

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#suggestion_column_searchbar {
  input#text_input {
    width: 100%;
  }
}

.form-group {
}

.form-group input#name {
    margin: 0 0 8px 0;
}

.add_port_ranges span {
  input#source {
    width: 100%;
  }

  input#destination {
    width: 100%;
  }
}

#service_search_form {
    input#text_input {
      width: 100%;
    }

    input#source {
      margin-bottom: 8px;
    }

    input#destination {
      margin: 8px 0;
    }

    .submit_section {
      float: left;
    }
}

#service_search_form .submit_section {
  float: left !important;
}

.edit_sug_search_btn i {
  color: var(--highlight_two);
}

.add_port_ranges .submit_section, .other_service .submit_section {
  align-items: center;
  float: right;
}










/* ################################# */
/*            dropdowns              */
/* ################################# */


a.dropdown-item {
  padding: 0;
  margin: 0;
}

.dropdown-item {
  padding: 0;
}

.dropdown-divider {
  height: 0;
  margin: 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

a.close_button_container.btn.btn-default:hover {
  background: none;
}

.fill_height {
  height: -webkit-fill-available;
}

.center {
	display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: min-content;
}

.double_text_indent {
  margin: 0 16px;
}

.create_fw_btn a {
  border: darkblue;
  color: var(--light_grey);
}

.sug_rule {
	color: var(--light_grey-color);
}














/* ################################## */
/*        SUG RULE & TEMPLATES        */
/* ################################## */

.edit_sug_rule_overlay.search_button_container {
  justify-content: start;
  position: relative;
  right: 16px;
}

.sug_rule_overlay_bottom_container {
  .edit_sug_rule_overlay.search_button_container {
    right: 0px !important;
  }
}

.edit_sug_system_obj_search_cell .exit_sug_button {
  position: absolute;
}

.edit_sug_system_obj_search_cell {
  a {
    /*word-wrap: break-word;*/
    height: 19px; 
  }
  p {
    width: max-content;
    max-width: 80%;
    left: 0;
    text-align: -webkit-auto;
  }
}

.edit_sug_system_obj_search_cell a:hover {
  background-color: none;
}

/* Add Suggested Rule Item Function */

a.add_sug_rule_item img {
  width: 15px;
  height: 15px;
}

span.add_sug_rule_item_container {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  height: min-content;
  width: min-content;
}

.no_padding, .sug_rule_row {
  padding: 0 !important;
}

.add_sug_rules_get_path {
  width: 96%;
  margin: 0 16px;
}










/*####################################*/
/*# ----------- Nav Bar ------------ #*/
/*####################################*/

.navbar {
  background: black;
  z-index: 1000;
}

.nav_sys_sec_groups_container {
  position: relative;
  margin-bottom: 64px;
}

.import_submit.btn {
  left: 10%;
}

.deloitte_logo_image {
  height: 20px;
}

.small_photo {
  padding: 0 8px 0 0;
  width: auto;
  height: 16px;
}

.nav_search {
  min-width: 200px !important;
  flex: inherit !important;
  padding: 2px 0.75% !important;
  margin: 0 1.25% !important;
}

.nav_group {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.nav_group span.title_font {
  flex-wrap: inherit;
  color: white;
}

span.nav-group-btn a:focus,.ad_dashnav_buttons_container a:focus {
  background: #00000000;
  border: none;
  outline: none;    
  padding: 0px;
}

.nav-group-btn, .nav-group-btn p  {
  padding: 4px 1.25%;
  width: max-content !important;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-family: var(--title-font);
  font-size: .8rem;
}

.nav-group-btn p {
  font-size: 1rem;
}

.nav-group-btn:hover {
  cursor: pointer;
}

.nav-group-btn a, .nav-group-btn p {
  color: var(--white-color);
}


.nav-group-btn p:hover, .small_photo:hover {
  cursor: auto;
}

.nav-group-btn a:hover {
  text-decoration: none;
  color: var(--highlight_one) !important;
}













/* ################################# */
/*           Center Nav              */
/* ################################# */

.nav-link {
  color: var(--black-color);
}

.classic-tabs li:first-child {
  margin-left: 56px;
}

.nav-item:hover {
  background-color: #000000 !important;
}

.nav-link:hover {
  border-color: var(--highlight_two);
  border-bottom: 3px solid;
  color: #fff;
}


.nsx_fw_response p {
  margin: 1.25%;
  position: relative;
  top: 15px;
  font-size: 1em;
}

.nsx_fw_response_text_good {
  color: var(--highlight_one);
}

.nsx_fw_response_text_error {
  color: var(--red-color);
}







/* ################################# */
/*             Filter                */
/* ################################# */


.filter_footer_container {
  justify-content: space-between;

  button, > span {
    margin: 0 8px;
  }
}


#current_filter_bar, #current_order_by_bar  {
  margin: 0 0 8px 0;
  display: flex;
  align-items: center;
  i {
    font-size: 11px;
    opacity: 0.7;
  }
  p {
      margin: 0 8px;
  }
}

