
<% if @table == "source" %>
	$('#sources_table_partial_area').html("");
	$('#sources_table_partial_area').append("<%= j render :partial => 'sec_groups/sug_rule/edit_sug_table_sources_partial' %>");

<% elsif @table == "destination" %>
	$('#destinations_table_partial_area').html("");
	$('#destinations_table_partial_area').append("<%= j render :partial => 'sec_groups/sug_rule/edit_sug_table_destinations_partial'  %>");

<% elsif @table == "action" %>
	$('#action_table_partial_area').html("");
	$('#action_table_partial_area').append("<%= j render :partial => 'sec_groups/sug_rule/edit_sug_table_action_partial'  %>");

<% elsif @table == "port_range" || @table == "service" %>
	$('#ports_table_partial_area').html("");
	$('#ports_table_partial_area').append("<%= j render :partial => 'sec_groups/sug_rule/edit_sug_table_services_partial'  %>");

<% elsif @table == "protocol" %>
	$('#protocols_table_partial_area').html("");
	$('#protocols_table_partial_area').append("<%= j render :partial => 'sec_groups/sug_rule/edit_sug_table_protocols_partial'  %>");

<% else %>
	$('#protocols_table_partial_area').html("");
	$('#protocols_table_partial_area').append("<%= j render :partial => 'sec_groups/sug_rule/edit_sug_table_protocols_partial'  %>");
	
<% end %>