$('#remove_on_first_search').html("");
$('#column_tables_container').html("");
$('#suggestion_column_searchbar').html("");
$('#suggestion_column_title').html("");

<% case(@type) %>
	<% when "name" %>
		$('.search_widget_result_container').removeClass('widget_search_overflow');
		$('#suggestion_column_searchbar').append("<%= j render :partial => 'layouts/new_rule_partials/name_option' %>");
	<% when "destination" %>
		$('#suggestion_column_searchbar').append("<%= j render :partial => 'layouts/new_rule_partials/source_dest_options' %>");
	<% when "source" %>
		$('#suggestion_column_searchbar').append("<%= j render :partial => 'layouts/new_rule_partials/source_dest_options' %>");
	<% when "action" %>
		$('.search_widget_result_container').removeClass('widget_search_overflow');
		$('#suggestion_column_searchbar').append("<%= j render :partial => 'layouts/new_rule_partials/action_options' %>");
	<% when "protocol" %>
		$('.search_widget_result_container').removeClass('widget_search_overflow');
		$('#suggestion_column_searchbar').append("<%= j render :partial => 'layouts/new_rule_partials/protocol_options' %>");
	<% when "port" %>
		$('.search_widget_result_container').removeClass('widget_search_overflow');
		$('#suggestion_column_searchbar').append("<%= j render :partial => 'layouts/new_rule_partials/port_options' %>");
	<% when "service" %>
		$('.search_widget_result_container').removeClass('widget_search_overflow');
		$('#suggestion_column_searchbar').append("<%= j render :partial => 'layouts/new_rule_partials/port_options' %>");
<% end %>

