
<% case(@type) %>
	<% when "destination" %>
		$('#destinations_table_partial_area').html("");
		$('#destinations_table_partial_area').append("<%= j render :partial =>'layouts/rule_column_templates/edit_table_destinations' %>");

	<% when "source" %>
		$('#sources_table_partial_area').html("");
		$('#sources_table_partial_area').append("<%= j render :partial => 'layouts/rule_column_templates/edit_table_sources' %>");

	<% when "action" %>
		$('.search_widget_result_container').removeClass('widget_search_overflow');
		$('#action_table_partial_area').html("");
		$('#action_table_partial_area').append("<%= j render :partial => 'layouts/rule_column_templates/edit_table_action' %>");

	<% when "protocol" %>
		$('.search_widget_result_container').removeClass('widget_search_overflow');
		$('#protocols_table_partial_area').html("");
		$('#protocols_table_partial_area').append("<%= j render :partial => 'layouts/rule_column_templates/edit_table_protocols' %>");

	<% when "port_range", "service" %>

		$('.search_widget_result_container').removeClass('widget_search_overflow');
		$('#ports_table_partial_area').html("");
		$('#ports_table_partial_area').append("<%= j render :partial => 'layouts/rule_column_templates/edit_table_services_and_ports' %>");

	<% when "name" %>
		$('.search_widget_result_container').removeClass('widget_search_overflow');
		$('#name_table_partial_area').html("");
		$('#name_table_partial_area').append("<%= j render :partial => 'layouts/rule_column_templates/edit_table_name' %>");

	<% when "every_column" %>
		$('.search_widget_result_container').removeClass('widget_search_overflow');
		$('.add_template_rule_headers').html("");
		$('.add_template_rule_headers').append("<%= j render :partial => 'fire_wall_files/rule_templates/new_rule/rule_headers' %> ");
		
		$('#destinations_table_partial_area').html("");
		$('#destinations_table_partial_area').append("<%= j render :partial =>'layouts/rule_column_templates/edit_table_destinations' %>");
		$('#sources_table_partial_area').html("");
		$('#sources_table_partial_area').append("<%= j render :partial => 'layouts/rule_column_templates/edit_table_sources' %>");
		$('#action_table_partial_area').html("");
		$('#action_table_partial_area').append("<%= j render :partial => 'layouts/rule_column_templates/edit_table_action' %>");
		$('#protocols_table_partial_area').html("");
		$('#protocols_table_partial_area').append("<%= j render :partial => 'layouts/rule_column_templates/edit_table_protocols' %>");
		$('#ports_table_partial_area').html("");
		$('#ports_table_partial_area').append("<%= j render :partial => 'layouts/rule_column_templates/edit_table_services_and_ports' %>");
		$('#ports_table_partial_area').html("");
		$('#ports_table_partial_area').append("<%= j render :partial => 'layouts/rule_column_templates/edit_table_services_and_ports' %>");
		$('#name_table_partial_area').html("");
		$('#name_table_partial_area').append("<%= j render :partial => 'layouts/rule_column_templates/edit_table_name' %>");

<% end %>

<% if @which_controller == "rule_template" %>
	$('#save_template_rule').html("");
	$('#save_template_rule').append('<span class="flex_row">');
	$('#save_template_rule').append('<%= link_to "Create", add_rules_to_template_path(@template_id, @rule.id), :remote => true %>');
	$('#save_template_rule').append('<%= link_to "Cancel", cancel_rule_to_template_path(@template_id, @rule.id), :remote => true %>');
	$('#save_template_rule').append('</span>');
<% end %>