$('#column_tables_container').html("");
$('.search_widget_result_container').addClass('widget_search_overflow'); // deals with the overflow on the widget results container
$('#column_tables_container').append("<%= j render :partial => 'layouts/new_rule_partials/search_vmware_sys_objs' %>");