<%= form_with(model: nsx_manager, local: true) do |form| %>
  <% if nsx_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nsx_manager.errors.count, "error") %> prohibited this nsx_manager from being saved:</h2>

      <ul>
      <% nsx_manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ip_addr %>
    <%= form.text_field :ip_addr, id: :nsx_manager_ip_addr %>
  </div>

  <div class="field">
    <%= form.label :setting_id %>
    <%= form.text_field :setting_id, id: :nsx_manager_setting_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
