

<h1>Nsx Managers</h1>

<table>
  <thead>
    <tr>
      <th>Ip addr</th>
      <th>Setting</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nsx_managers.each do |nsx_manager| %>
      <tr>
        <td><%= nsx_manager.ip_addr %></td>
        <td><%= nsx_manager.setting %></td>
        <td><%= link_to 'Show', nsx_manager %></td>
        <td><%= link_to 'Edit', edit_nsx_manager_path(nsx_manager) %></td>
        <td><%= link_to 'Destroy', nsx_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nsx Manager', new_nsx_manager_path %>
