

<p>
  <strong>Ip addr:</strong>
  <%= @nsx_manager.ip_addr %>
</p>

<p>
  <strong>Setting:</strong>
  <%= @nsx_manager.setting %>
</p>

<%= link_to 'Edit', edit_nsx_manager_path(@nsx_manager) %> |
<%= link_to 'Back', nsx_managers_path %>
