
<% second_num = 1 %>
<% second_target = "second_collapse" %>

<% SecGroup.includes(:app_objs).order(name: :asc).each do |gp| %>
  <% second_target = second_target + second_num.to_s %>
  <span class="">
    <div class="flex_row relative nav_padding_top_bottom shadow">
      <a for="second_collapse" class="sec_group_item sec_group_lvl2_item" data-toggle="collapse" href="#<%= second_target %>" aria-expanded="true" aria-controls="<%= second_target %>">
        <p class="side_nav_lvl_2_title"><%= gp.name %></p>
      </a>
      <%= link_to delete_security_group_path(gp.id), :id => "group_delete_id_#{gp.id}", class: "one_of_four close_button_container sec_group_lvl2_item btn btn-default", :remote => true, :onClick => "attachSpinnerOnExistingIcon(this);" do %>
        <i class="fa fa-close"></i>
      <% end %>
      <%= link_to override_or_create_rules_path(id: gp.id), :remote => true, :id => "group_id_#{gp.id}", :onClick => "attachSpinnerOnExistingIcon(this);"   do %>
        <i class="fa fa-edit"></i>
      <% end %>
    </div>
     <div id="<%= second_target %>" class="collapse ">
      <div class="sec_group_lvl3_items" onmouseover="colorHighlightBlue(this)" onmouseout="colorHighlightWhite(this)" rows="4">
        <% gp.app_objs.each do |nested| %>
          <div class="card-body child">
            <p class="side_nav_lvl_3_title"><%= nested.obj_name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </span>
  <% second_num += 1 %>
<% end %>