<% if !@associated.nil? %>
	<% @associated.each do |associated|%>
		<span class="row">
			<p class="cell body_font"><%= associated.name %></p>
			<p class="cell body_font"><%= associated.action %></p>
			<span class="cell flex_column">
				<% associated.sources.each do |sour| %>
				    <% if sour.sour_name == "" %>
					    <p class="body_font">any</p>
				    <% else %>
					    <p class="body_font"><%= sour.sour_name %></p>
				    <% end %>
				<% end %>
			</span>
			<span class="cell flex_column">
				<% associated.destinations.each do |dest| %>
				    <% if dest.dest_name == "" %>
					    <p class="body_font">any</p>
				    <% else %>
					    <p class="body_font"><%= dest.dest_name %></p>
				    <% end %>
				<% end %>
			</span>
			<span class="cell flex_column">
				<% associated.protocols.each do |prot| %>
					<p class="body_font"><%= prot.name %></p>
				<% end %>
			</span>
			<span class="cell flex_column">
			    <% associated.services.each do |service| %>
				    <% if service.serv_name == "" %>
					    <p class="body_font">any</p>
				    <% else %>
					    <p class="body_font"><%= service.serv_name %></p>
				    <% end %>
			    <% end %>
			</span>
			<span class="cell flex_column">			
				<% associated.port_ranges.each do |range| %>
					<p class="body_font"><%= range.startport %> <%= range.endport %></p>
				<% end %>
			</span>
	    </span>
	<% end %>
<% end %>