
<% first_num = 1 %>
<% first_target = "first_collapse" %>

<% current_user.sec_groups.each do |gp| %>
  <span class="">
    <% first_target = first_target + first_num.to_s %>
    <div class="flex_row relative nav_padding_top_bottom shadow">
      <a for="first_collapse" class="sec_group_item sec_group_lvl2_item" data-toggle="collapse" href="#<%= first_target %>" aria-expanded="true" aria-controls="<%= first_target %>">
          <p class="side_nav_lvl_2_title"><%= gp.name %></p>
        </a>
      <%= link_to delete_task_path(gp.id), :id => "group_delete_id_#{gp.id}", class: "one_of_four close_button_container sec_group_lvl2_item btn btn-default absolute", :remote => true, :onClick => "attachSpinnerOnExistingIcon(this);" do %>
        <i class="fa fa-close"></i>
      <% end %>
      <%= link_to override_or_create_rules_path(id: gp.id), :remote => true, :id => "group_id_#{gp.id}", :onClick => "attachSpinnerOnExistingIcon(this);"  do %>
        <i class="fa fa-edit"></i>
      <% end %>
    </div>
     <div id="<%= first_target %>" class="collapse ">
      <div class="sec_group_lvl3_items" onmouseover="colorHighlightBlue(this)" onmouseout="colorHighlightWhite(this)" rows="4">
        <% gp.app_objs.each do |nested| %>
          <div class="card-body child">
            <p class="side_nav_lvl_3_title"><%= nested.obj_name %></p>
            <span class="flex_row">
<!--               <i class="body_font">Σ</i>
              <p class="body_font">Tags</p>
              <p class="body_font color_green"><= nested.sec_tags.count %></p> -->
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </span>
  <% first_num += 1 %>
<% end %>