<% if @sug_rules %>
  <% @sug_rules.uniq.each do |suggested|%>
      <% if suggested.submit_sug.to_s == "true" %>
        <div class="sug_rule_row row sug_rule_row_<%= suggested.id %>" data-id="<%= suggested.id %>">
          <div class="no_padding full_width flex_row">
            
            <span class="add_sug_rules_get_path bk_green" onclick="myFunction(this)">
              <%= link_to add_sug_rules_get_path(suggested.id), :remote => true do %>
                <%= render :partial => 'security_files/sec_groups/sug_rule_row', :locals => {:suggested => suggested } %> 
              <% end %>
            </span>

            <span class="sug_rule_modifiers flex_column ">
              <%= link_to open_sys_obj_partial_path(suggested.id), class: "close_button_container btn btn-default", :remote => true do  %>
                <i class="fa fa-edit"></i>
              <% end %>
              <%= link_to delete_sug_rule_path(suggested.id), class: "close_button_container btn btn-default", :remote => true do %>
                <i class="fa fa-close"></i>
              <% end %>
            </span>
          </div>
        </div>
      <% else %>
        <div class="sug_rule_row row sug_rule_row_<%= suggested.id %>" data-id="<%= suggested.id %>" > 
          <div class="no_padding full_width flex_row">
            
            <span class="add_sug_rules_get_path no_bk_color" onclick="myFunction(this)">
              <%= link_to add_sug_rules_get_path(suggested.id), :remote => true do %>
                <%= render :partial => 'security_files/sec_groups/sug_rule_row', :locals => {:suggested => suggested } %> 
              <% end %>
            </span>

            <span class="sug_rule_modifiers flex_column">
              <%= link_to open_sys_obj_partial_path(suggested.id), class: "close_button_container btn btn-default", :remote => true do  %>
                <i class="fa fa-edit"></i>
              <% end %>
              <%= link_to delete_sug_rule_path(suggested.id), class: "close_button_container btn btn-default", :remote => true do %>
                <i class="fa fa-close"></i>
              <% end %>
            </span>
          </div>
        </div>
      <% end %>
  <% end %>
<% end %>
