<span class="flex_row">

  <span class="sug_cell relative">
    <span class="js_target flex_column">
      <% if !suggested.name.nil? %>
        <p class="body_font"><%= suggested.name %></p>
      <% end %>
    </span>
  </span>
  <span class="sug_cell relative">
    <span class="js_target flex_column">
      <% if !suggested.action.nil? %>
        <p class="body_font"><%= suggested.action.downcase %></p>
      <% end %>
    </span>
  </span>
  <span class="sug_cell relative">
    <span class="js_target flex_column">
      <% suggested.sources.each do |sour| %>
        <p class="body_font"><%= sour.sour_name.downcase %></p>
      <% end %>
    </span>
  </span>
  <span class="sug_cell relative">
    <span class="js_target flex_column">
      <% suggested.destinations.each do |dest| %>
        <p class="body_font"><%= dest.dest_name.downcase %></p>
      <% end %>
    </span>
  </span>
  <span class="sug_cell relative">
    <span class="js_target flex_column">
      <% suggested.protocols.each do |prot| %>
        <p class="body_font"><%= prot.name.downcase %></p>
      <% end %>
    </span>
  </span>
  <span class="sug_cell relative">
    <span class="js_target flex_column">
      <% suggested.services.each do |service| %>
        <% if service.serv_name.downcase == "" %>
          <p class="body_font">any</p>
        <% else %>
          <p class="body_font"><%= service.serv_name.downcase %></p>
        <% end %>
      <% end %>
      <% suggested.port_ranges.each do |range| %>
        <p class="body_font">
          <%= range.startport.downcase %>&rarr;<%= range.endport.downcase %>
        </p>
      <% end %>
    </span>
  </span>
</span>