



<% if @origin == "user_sec_groups" %>
	$("#nav_user_sec_groups_header").html("");
	$("#nav_user_sec_groups_header").html("<%=j render :partial => 'security_files/sec_groups/saved_tasks' %>"); 
	<% if !@sec_group.nil? %>
		$('#group_delete_id_<%= @sec_group.id %>').children("i").removeClass('fa-spinner').removeClass('fa-spin');
	<% end %>

<% else %>
	$("#nav_sys_sec_groups_header").html("");
	$("#nav_sys_sec_groups_header").html("<%=j render :partial => 'security_files/sec_groups/all_security_groups', :suggestion => @sug_rules %>"); 
	$('#group_delete_id_<%= @sec_group.id %>').children("i").removeClass('fa-spinner').removeClass('fa-spin');

	$('.append_here').html("");
	$('.append_here').css("height", "auto");
	$('.append_here').css("margin", "8px 1.25%");
	$('.append_here').append("<%= @notification %>");

	<% if @notification.include? "Successfully" %>
		$('p.append_here').css("color", "var(--highlight_one)");
	<% else %>
		$('p.append_here').css("color", "var(--red-color)");
	<% end %>

	var notification_bar = document.getElementById('append_here').style;
	notification_bar.opacity = 1;

	var i = 1.0;

	setTimeout(function () {
		myLoop(i); 
	}, 10000);

	function myLoop (num) {           
		setTimeout(function () { 
			if (num > 0) { 
				opactiyfunction(num);
				num -= .1;
			   	// alert(num);
			   	myLoop(num);
			} else {
				notification_bar.html = "";
				$('.append_here').css("height", "0");
				$('.append_here').css("margin", "0");
			}
	   }, 150)
	}

	function opactiyfunction(num){
		notification_bar.opacity = num;
	}
<% end %>