<% case(@type) %>
	<% when "destination" %>
		$('#destinations_table_partial_area').html("");
		$('#destinations_table_partial_area').append("<%= j render :partial => 'security_files/sec_groups/sug_rule/edit_sug_table_destinations_partial', :locals => {:suggested => @rule } %>");
	<% when "source" %>
		$('#sources_table_partial_area').html("");
		$('#sources_table_partial_area').append("<%= j render :partial => 'security_files/sec_groups/sug_rule/edit_sug_table_sources_partial', :locals => {:suggested => @rule } %>");
	<% when "action" %>
		$('#action_table_partial_area').html("");
		$('#action_table_partial_area').append("<%= j render :partial => 'security_files/sec_groups/sug_rule/edit_sug_table_action_partial', :locals => {:suggested => @rule } %>");
	<% when "protocol" %>
		$('#protocols_table_partial_area').html("");
		$('#protocols_table_partial_area').append("<%= j render :partial => 'security_files/sec_groups/sug_rule/edit_sug_table_protocols_partial', :locals => {:suggested => @rule } %>");
	<% when "port", "service" %>
		$('#ports_table_partial_area').html("");
		$('#ports_table_partial_area').append("<%= j render :partial => 'security_files/sec_groups/sug_rule/edit_sug_table_services_partial', :locals => {:suggested => @rule } %>");
<% end %>

