$('#first_target_header').html("");
$('#first_target_header').append("<%=j render :partial => 'security_files/security_files/sec_groups/saved_tasks', :saved_task_items => @sec_group %>");

$('#associated_rules').html("");
$('#associated_rules').append("<%=j render :partial => 'associated_rules' %>");

$('#vm_flows_content_container').html("");
$('#vm_flows_content_container').append("<%=j render :partial => 'flows/flows_partial', :find_flows => @sec_group %>");

$('#vm_suggestion_table').html("");
$('#vm_suggestion_table').append("<%=j render :partial => 'suggested_rule', :suggestion => @sug_rules %>");