$("#second_target_header").html("");
$('#import_app').modal('toggle');
$("#second_target_header").html("<%= escape_javascript(render partial: 'all_security_groups') %>"); 
$("#second_target_header").removeClass("collapse")
$("#second_target_header").addClass("active")