<div id="sug_rule_edit_page_overlay" class="cover_page sug_rule_overlay">

  <span class="sug_rule_nav_overlay edit_sug_savecancel_button_container shadow">
    <p class="title_font">Modify Rule</p>
    <span class="flex_row relative right">
     <!--  <div class="flex_row edit_sug_leave_buttons"> -->
      <span class="edit_sug_savecancel_button"><%= button_to "Save", edit_sug_save_path, :remote => true %></span>
      <span class="edit_sug_savecancel_button"><%= button_to "Cancel", edit_sug_cancel_path, :remote => true %></span>
    </span>
  </span>

  <div class="edit_rule_contents">
    <span class="flex_column existing_suggestion_row">
      <p class="edit_sug_table_headers title_font">Current Rule:</p>
      <span class="bk_white  flex_row">
        <p class="sug_cell title_font">Name</p>
        <p class="sug_cell title_font">Action</p>
        <p class="sug_cell title_font">Sources</p>
        <p class="sug_cell title_font">Destinations</p>
        <p class="sug_cell title_font">Protocols</p>
        <p class="sug_cell title_font">Ports</p>
      </span>
      <span id="existing_suggestion" class="">

      </span>
    </span>
  </div>

  <div class="sug_rule_overlay_bottom_container full_width flex_row">
    <section class=" new_sug_item_cell_table new_suggestion_element_tables_container flex_column two_of_four">
      <p class="edit_sug_table_headers">NSX Desired Columns As Tables  -  add any amount to each</p>
      <section class="bk_white new_sug_elements_table_headers flex_row">
        <span class="new_sug_title_cell">
          <p class="title_font">Name</p>
          <span class="edit_sug_rule_overlay search_button_container">
            <%= link_to show_widget_path("name", 0, 0, "sec_group"), class: "exit_sug_button flex_center", :remote => true do %>
            <%= image_tag "add_highlight_two.png", class: "small_button get_search_action_button open" %>
            <% end %>
          </span>
        </span>
        <span class="new_sug_title_cell">
          <p class="title_font">Action</p>
          <span class="edit_sug_rule_overlay search_button_container">
            <%= link_to show_widget_path("action", 0, 0, "sec_group"), class: "exit_sug_button flex_center", :remote => true do %>
            <%= image_tag "add_highlight_two.png", class: "small_button get_search_action_button open" %>
            <% end %>
          </span>
        </span>
        <span class="new_sug_title_cell">
          <p class="title_font">Sources</p>
          <span class="edit_sug_rule_overlay search_button_container">
            <%= link_to show_widget_path("source", 0, 0, "sec_group"), class: "exit_sug_button flex_center", :remote => true do %>
            <%= image_tag "add_highlight_two.png", class: "small_button get_search_source_destin_button open" %>
            <% end %>
          </span>
        </span>
        <span class="new_sug_title_cell">
          <p class="title_font">Destinations</p>
          <span class="edit_sug_rule_overlay search_button_container">
            <%= link_to show_widget_path("destination", 0, 0, "sec_group"), class: "exit_sug_button flex_center", :remote => true do %>
            <%= image_tag "add_highlight_two.png", class: "small_button get_search_source_destin_button open" %>
            <% end %>
          </span>
        </span>
        <span class="new_sug_title_cell">
          <p class="title_font">Protocols</p>
          <span class="edit_sug_rule_overlay search_button_container">
            <%= link_to show_widget_path("protocol", 0, 0, "sec_group"), class: "exit_sug_button flex_center", :remote => true do %>
            <%= image_tag "add_highlight_two.png", class: "small_button get_search_protocols_button open" %>
            <% end %>
          </span>
        </span>
        <span class="new_sug_title_cell">
          <p class="title_font">Services</p>
          <span class="edit_sug_rule_overlay search_button_container">
            <%= link_to show_widget_path("port", 0, 0, "sec_group"), class: "exit_sug_button flex_center", :remote => true do %>
            <%= image_tag "add_highlight_two.png", class: "small_button get_search_ports_button open" %>
            <% end %>
          </span>
        </span>
      </section>
      <span class="edit_sug_new_element_table_container flex_row">
        <section class="full_width flex_row">
          <!-- as you add to the tables the elements will appear in these respective tables -->
          <span class="col-md-2 p-0" id="name_table_partial_area"> 
          </span>
          <span class="col-md-2 p-0" id="action_table_partial_area"> 
          </span>
          <span class="col-md-2 p-0" id="sources_table_partial_area">
          </span>
          <span class="col-md-2 p-0" id="destinations_table_partial_area">
          </span>
          <span class="col-md-2 p-0" id="protocols_table_partial_area">
          </span>
          <span class="col-md-2 p-0" id="ports_table_partial_area">
          </span>
        </section>
      </span>
    </section>
    <section class=" edit_sug_system_obj_search_container">
      <span id="remove_on_first_search">
        <p class="edit_sug_table_headers">Select a column to edit first</p>
      </span>
      <span class="flex_column">
        <span>
          <p id="suggestion_column_title" class="edit_sug_table_headers"></p>
          
        </span>
        <span id="suggestion_column_searchbar" class="">

        </span>
      </span>
      <span id="column_tables_container">

      </span>
    </section>
  </div>
</div>
<!--  above is the suggested rules edit and create partial, it had to be a partial as a page redirect would revert the security group selection -->

<!-- Security Groups Page Below -->

<div>
  <div class="modal fade" id="apply_sec_tag" tabindex="-1" role="dialog" aria-labelledby="apply_sec_tagLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
           <%= form_tag apply_sec_tag_path, multipart: true,:remote => true do %>
            <div class="flex_column sec_group_import_inner_container">

            <button type="button" class="close sec_group_model_close user_import_submit" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
              <div class="flex_row mb-3">
                <p class="title_font">Click here to Upload a CSV</p>
                <%= file_field_tag :file, id: "files", style: "", :class => "ml-3" %>
              </div>
              <span class="flex_column border_dotted">
                <div class="flex_row"><h6>Example:</h6></div>
                  <%= image_tag "users_import_example.png", class: "import_popup_example" %> 
                <br>
              </span>
              <div class="modal-footer sec_group_import_footer">
                <%= submit_tag "Import CSV", class: "import_submit user_import_submit white_text", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Signing in..."} do %>
                    <i class="fa fa-search"></i>
                  <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="outer_container flex_row">
  <% if @current_group %> 
  <h3>Current Selection: <%= @current_group.name %> </h3>
  <% end %> 
  <!-- This is the left hand navigation bar -->
  <span class="side_nav_width side_nav_body">
    <div class="flex_column fill_height">
      <div class="flex_column fill_height">
        <span class="shadow dark_background side_nav_btn">
          <a for="first_collapse_header" class="sec_group_item shadow" data-toggle="collapse" href="#nav_user_sec_groups_header" aria-expanded="true" aria-controls="nav_user_sec_groups_header"><p class=" title_font">Your open groups</p></a>

          <div id="nav_user_sec_groups_header" class="collapse">
            <%= render :partial => 'security_files/sec_groups/saved_tasks', :saved_task_items => @all_user_groups %>
          </div>
        </span>
        <span class="nav_sys_sec_groups_container sshadow dark_background" data-target="#nav_sys_sec_groups_header">
          <a for="second_collapse_header" class="sec_group_item shadow" data-toggle="collapse" href="#nav_sys_sec_groups_header" aria-expanded="true" aria-controls="nav_sys_sec_groups_header"><p class=" title_font">All Security Groups</p>
          <button type="button" class="" data-toggle="modal" data-target="#apply_sec_tag">
            <i class="fa fa-tag flex_row center"><p>apply</p></i>
          </button>
          </a>

          <div id="nav_sys_sec_groups_header" class="collapse">
            <%= render :partial => 'all_security_groups' %>
          </div>
        </span>
      </div>
    </div>
  </span>

  <span class="flex_column four_of_four_w">
    <div class="flex_column four_of_four_w ">

      <div>
        <p id="append_here" class="append_here"></p>
      </div>
      <!-- Table navigation tabs -->
      <span class="a_table_container shadow">
        <div class="tabs-wrapper"> 
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link waves-light title_font active" data-toggle="tab" href="#panel1" role="tab">System Rules</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light table_tab_styling" data-toggle="tab" href="#panel5" role="tab">System Templates</a>
            </li>
            <% sec_group = SecGroup.find_by_id(session[:current_group_id]) %>
            <% if sec_group %>
            <li class="nav-item">
              <a class="nav-link waves-light table_tab_styling" data-toggle="tab" href="#panel2" role="tab"><%= sec_group.name %> Rules</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light table_tab_styling" data-toggle="tab" href="#panel3" role="tab"><%= sec_group.name %> Flows</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light table_tab_styling" data-toggle="tab" href="#panel4" role="tab">Suggested Rules</a>
            </li>
            <% else %>
            <li class="nav-item">
              <a class="nav-link waves-light table_tab_styling" data-toggle="tab" href="#panel2" role="tab">Group Rules</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light table_tab_styling" data-toggle="tab" href="#panel3" role="tab">Group Flows</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light table_tab_styling" data-toggle="tab" href="#panel4" role="tab">Suggested Rules</a>
            </li>
            <% end %>
          </ul>
        </div>
        <!-- Tab partials and column headers -->
        <div class="tab-content card">
          <div class="general_rules_content_container tab-pane fade in show active" id="panel1" role="tabpanel">
            <div id="general_rules_content_container">
              <%= render :partial => "security_files/sec_groups/panel_partials/all_dfw_rules" %>
            </div>
          </div>

          <div class="group_rules_content_container tab-pane fade" id="panel2" role="tabpanel">
            <span class="table table-striped">
              <span class="full_width cell_headers">
                <p class="cell">Name</p>
                <p class="cell">Action</p>
                <p class="cell">Sources</p>
                <p class="cell">Destinations</p>
                <p class="cell">Protocols</p>
                <p class="cell">Services</p>
                <p class="cell">Ports</p>
              </span>
              <div id="associated_rules" class="table_scroll" >
                <%= render :partial => 'associated_rules' %>
              </div>
            </span>
          </div>

          <div class="flows_content_container tab-pane fade" id="panel3" role="tabpanel">
            <div id="vm_flows_content_container">
              <%= render :partial => 'flows/flows_partial' %>
            </div>
          </div>

          <div class="tab-pane fade" id="panel5" role="tabpanel">
            <span class="sg_templates_container table table-striped flex_row">
              <span class="flex_column">
                <div class="sg_sys_templates_form">
                  <%= form_tag search_templates_path, method: :get, remote: true do %>
                  <%= text_field_tag :text_input, params[:text_input], placeholder: "Search", :class => "edit_sug_search_textbox" %> 
                  <%= hidden_field_tag :origin, params[:origin], :value => "sec_group_index" %>
                  <%= button_tag :class => "edit_sug_search_btn shadow"  do %>
                  <i class="fa fa-search"></i>
                  <% end %>
                  <% end %>
                </div>
                <div id="sg_sys_templates" class="wrap table_scroll" >

                </div>
              </span>
              <span class="flex_column">

                <div class="sg_sys_templates_form">
                  <p class="title_font">Attached Templates</p>
                </div>
                <div id="sg_group_templates" class="wrap table_scroll" >

                </div>
              </span>
            </span>
          </div>

          <div class="sg_templates_content_container vm_suggestion_tab-pane fade" id="panel4" role="tabpanel">
            <span class="table table-striped">
              <span class="flex_row">
                <span class="sec_gp_page_suggestion_partial_headers cell_headers">
                  <p class="sug_cell">Name</p>
                  <p class="sug_cell">Action</p>
                  <p class="sug_cell">Sources</p>
                  <p class="sug_cell">Destinations</p>
                  <p class="sug_cell">Protocols</p>
                  <p class="sug_cell">Ports</p>
                </span>
                 <span class="sug_cell new_sug_button">
                  <%= button_to add_new_sug_rule_path, :class => "edit_sug_search_btn", method: :post, format: :js, remote: true, :name => nil do %>
                    <i class="fa fa-plus"></i>
                  <% end %>
                </span>
              </span>
              <div id="vm_suggestion_table" class="table_scroll">
                <%= render :partial => 'suggested_rule', :suggestion => @sug_rules %>
              </div>
            </span>
          </div>
        </div>
      </div>
      <div class="submit_button max_content_both create_fw_btn shadow">
       <%= link_to "Create Rules in NSX", create_fw_rules_path, data: { confirm: 'Are you sure?' }, class: "btn btn-primary title_font",:remote => true %>
     </div>
   </span>
 </div>