$('.cover_page').toggle();

<% if @rule %>
	$('#existing_suggestion').html("");
	$('#existing_suggestion').append("<%=j render :partial => 'security_files/sec_groups/sug_rule_row', :locals => {:suggested => @rule } %>");
<% end %>

$('#sources_table_partial_area').html("");
$('#sources_table_partial_area').append("<%= j render :partial => 'layouts/rule_column_templates/edit_table_sources', :locals => {:suggested => @suggested } %>");

$('#destinations_table_partial_area').html("");
$('#destinations_table_partial_area').append("<%= j render :partial => 'layouts/rule_column_templates/edit_table_destinations', :locals => {:suggested => @suggested } %>");

$('#action_table_partial_area').html("");
$('#action_table_partial_area').append("<%= j render :partial => 'layouts/rule_column_templates/edit_table_action', :locals => {:suggested => @suggested } %>");

$('#protocols_table_partial_area').html("");
$('#protocols_table_partial_area').append("<%= j render :partial => 'layouts/rule_column_templates/edit_table_protocols', :locals => {:suggested => @suggested } %>");

$('#ports_table_partial_area').html("");
$('#ports_table_partial_area').append("<%= j render :partial => 'layouts/rule_column_templates/edit_table_services_and_ports' %>");

