
// this is for the method to add an extra parameter to the input form
<% if @type == "add_column_sort_modal_item" %>
	<% if @origin == "all_dfw_rules" %>
		$('#column_sort_rule_any').html("");
		$('#column_sort_rule_any').append('<%= j render :partial => "security_files/sec_groups/panel_partials/column_sort", :locals => {:origin => @origin} %>');
	<% elsif @origin == "flows_partial" || @origin == "dash_flows_partial"  %>
		$("#column_sort_flows").html("");
		$('.modal').css("display", "block !important");
		$('#column_sort_flows').append('<%= j render :partial => "security_files/sec_groups/panel_partials/column_sort", :locals => {:origin => @origin} %>');
	<% elsif @origin == "user_table_partial" %>
		$("#column_sort_users_modal").html("");
		$('#column_sort_users_modal').append('<%= j render :partial => "security_files/sec_groups/panel_partials/column_sort", :locals => {:origin => @origin} %>');
	<% elsif @origin == "rule_histories_partial" %>
		$("#column_sort_history").html("");
		$('#column_sort_history').append('<%= j render :partial => "security_files/sec_groups/panel_partials/column_sort", :locals => {:origin => @origin} %>');
	<% end %>
	
<% else %>
	// this will trigger once the user has submitted the form
	// $('#dash_all_histories').css("display", "none");
	$('.modal-backdrop').remove();
	// $('.ad_dash_partials_container').append('<div class="modal-backdrop fade show"></div>');
	<% if @origin == "all_dfw_rules" %>
		$('#general_rules_content_partial').html("");
		$('#general_rules_content_partial').append('<%= j render :partial => "security_files/sec_groups/panel_partials/all_dfw_rules" %>');
		$('.modal-backdrop').remove();
	<% elsif @origin == "flows_partial" %> 
		$('#vm_flows_content_container').html("");
		$('#vm_flows_content_container').append('<%= j render :partial => "flows/flows_partial", :locals => {:origin => @origin} %>');
		$('.modal-backdrop').remove();
	<% elsif @origin == "dash_flows_partial" %> 
		$('#dash_flows').html("");
		$('.modal').css("display", "none");
		$('.modal-backdrop').remove();
		$('#dash_flows').html("");
		$('#dash_flows').append("<%= j render :partial => '/user_files/users/admin_dashboard_partials/dash_flows' %>");
	<% elsif @origin == "user_table_partial" %>
		$('#dash_users').html("");
		$('.modal').css("display", "none");
		$('.modal-backdrop').remove();
		$('#dash_users').append('<%= j render :partial => "/user_files/users/admin_dashboard_partials/all_users", :locals => {:origin => @origin} %>');
	<% elsif @origin == "rule_histories_partial" %>
		$('#dash_users').html("");
		$('.modal').css("display", "none");
		$('.modal-backdrop').remove();
		$('#dash_all_histories').html("");
		$('#dash_all_histories').css("display", "block");
		$('#dash_all_histories').append("<%= j render :partial => '/user_files/users/admin_dashboard_partials/dash_histories', :locals => {:origin => @origin} %>");
	<% end %>


	$('#current_filter_bar').html("");
	$('#current_order_by_bar').html("");
	<% filter_first = true %>
	<% @filter_array.each_with_index do |filter, i| %>
		<% if filter_first == true and !filter.nil? and filter != ""%>
			$("#current_filter_bar").append('<p class="body_font">Filter by: </p>');
			$("#current_filter_bar").append('<p class="body_font"><%= filter %></p>');
			<% filter_first = false %>
		<% elsif !filter.nil? and filter != ""%>
			$("#current_filter_bar").append('<i class="fa fa-arrow-right"></i> <p class="body_font"><%= filter %></p>');
		<% end %>
	<% end %>
	<% order_first = true %>
	<% @order_array.each_with_index do |filter, i| %>
		<% if order_first == true and !filter.nil? and filter != ""%>
			$("#current_order_by_bar").append('<p class="body_font">Order by: </p>');
			$("#current_order_by_bar").append('<p class="body_font"><%= filter %></p>');
			<% order_first = false %>
		<% elsif !filter.nil? and filter != ""%>
			$("#current_order_by_bar").append('<i class="fa fa-arrow-right"></i> <p class="body_font"><%= filter %></p>');
		<% end %>
	<% end %>
<% end %>