
<% @column_array = ["Name", "Action", "Source", "Destination", "Service", "Start port", "End port" ] %>
<% @origin = "all_dfw_rules" %>


<button class="upload_buttons shadow flex_row" data-toggle="modal" data-target="#column_sort_rule_any" onclick="openModal(this)">
  <p class="sub_title_font">Filter</p>
  <i class="fa fa-filter flex_center"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="column_sort_rule_any" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <%= render "security_files/sec_groups/panel_partials/column_sort", :locals => {:origin => "all_dfw_rules" }  %>
</div>

<span class="table table-striped">
  <span class="full_width cell_headers cell_header">
    <p class="cell">Name</p>
    <p class="cell">Action</p>
    <p class="cell">Sources</p>
    <p class="cell">Destinations</p>
    <p class="cell">Services & Protocols</p>
    <p class="cell">Port Ranges</p>
  </span>
  <div class="table_scroll">
    <% @universal_rules.each do |universal|%>
    <span class="row">
      <p class="cell body_font"><%= universal.name %></p>
      <p class="cell body_font"><%= universal.action %></p>

      <span class="cell flex_column">
        <% universal.sources.each do |sour| %>
        <% if sour.sour_name == "" %>
        <p class="body_font">any</p>
        <% else %>
        <p class="body_font"><%= sour.sour_name %></p>
        <% end %>
        <% end %>
      </span>

      <span class="cell flex_column">
        <% universal.destinations.each do |dest| %>
        <% if dest.dest_name == "" %>
        <p class="body_font">any</p>
        <% else %>
        <p class="body_font"><%= dest.dest_name %></p>
        <% end %>
        <% end %>
      </span>
      
      <span class="cell flex_column">
        <% universal.services.each do |service| %>
          <% if service.serv_name == "" %>
            <p class="body_font">any</p>
          <% else %>
            <p class="body_font"><%= service.serv_name %></p>
          <% end %>
        <% end %>
        <% universal.protocols.each do |prot| %>
          <p class="body_font"><%= prot.name %></p>
        <% end %>
      </span>

      <span class="cell flex_column">
        <% universal.port_ranges.each do |range| %>
          <p class="body_font"><%= range.startport %>    <%= range.endport %></p>
        <% end %>
      </span>
    </span>
    <% end %> 
  </div>
</span>