
<div class="modal-dialog" role="document">
	<div class="modal-content filter_container">

		<% if @filter_count.nil? %>
			<% @filter_count = 1 %>
		<% end %>
		
		<% @operator_array = ["Is Like", "Equal to", "Greater than", "Greater than or equal to", "Less than", "Less than or equal to", "Not Equal to"] %>
		<div class="filter_header">
			<p class="modal-title title_font" id="exampleModalLabel" style="
			font-weight:  bold;
			">Select columns to order and sort by</p>
		</div>
		<%= form_tag select_filter_columns_path, method: :get, :remote => true do %>
			<section class="sort">
				<div class="filter_header">
					<p class="modal-title title_font" id="exampleModalLabel">Select the order to sort columns</p>
				</div>
				<span class="flex_row wrap">
					<span>
						<p class="modal-title title_font" id="filterModalLabel" style="">Order by</p>
						<%= select_tag "col_sort_choice_1", options_for_select(@column_array), :class => "fliter_order_by_selection", include_blank: true %>
					</span>
					<span>
						<p class="modal-title title_font" id="filterModalLabel">Then by</p>
						<%= select_tag "col_sort_choice_2", options_for_select(@column_array), :class => "fliter_order_by_selection", include_blank: true %>
					</span>
					<span>
						<p class="modal-title title_font" id="filterModalLabel">Then by</p>
						<%= select_tag "col_sort_choice_3", options_for_select(@column_array), :class => "fliter_order_by_selection", include_blank: true %>
					</span>
					<span>
						<p class="modal-title title_font" id="filterModalLabel">Then by</p>
						<%= select_tag "col_sort_choice_4", options_for_select(@column_array), :class => "fliter_order_by_selection", include_blank: true %>
					</span>
					<span>
						<p class="modal-title title_font" id="filterModalLabel">Then by</p>
						<%= select_tag "col_sort_choice_5", options_for_select(@column_array), :class => "fliter_order_by_selection", include_blank: true %>
					</span>
				</span>
			</section>
			<section class="filter">
				<div class="filter_header flex_row">
					<p class="modal-title title_font" id="exampleModalLabel">Add levels to your filter</p>
				</div>
				<div id="column_sort_modal_body" class="flex_column">
					<%= hidden_field_tag :filter_count, @filter_count.to_s %>
					<%= hidden_field_tag :origin, @origin %>
					<% @filter_count.times do |row| %>
					<% row_num = row + 1 %>

					<span class="flex_row">
						<%= select_tag "column_choice_" + row_num.to_s, options_for_select(@column_array) %>
						<%= select_tag "operator_choice_" + row_num.to_s, options_for_select(@operator_array), include_blank: true %>
						<%= text_field_tag "value_choice_" + row_num.to_s, params["value_choice_" + row_num.to_s], :class => "edit_sug_search_textbox" %>
					</span>
					<% end %>
				</div>
			</section>

			<div class="modal-footer flex_row filter_footer_container">
				<span>
					<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal(this)">Close</button>
					<%= submit_tag "Filter", :class => "btn btn-primary filter_submit" %>
				</span>
			</div>
		<% end %>

		<%= button_to add_column_sort_modal_item_path(@filter_count, @column_array, @origin, "js"), :class => "btn button_to", method: :get, format: :js, :remote => true do %>
			<span class="flex_row">
				<i class="fa fa-plus"></i>
				<p class="body_font"> add filter</p>
			</span>
		<% end %>
	</div>
</div>