<%= form_with(model: rule_history, local: true) do |form| %>
  <% if rule_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rule_history.errors.count, "error") %> prohibited this rule_history from being saved:</h2>

      <ul>
      <% rule_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :rule_history_name %>
  </div>

  <div class="field">
    <%= form.label :action %>
    <%= form.text_field :action, id: :rule_history_action %>
  </div>

  <div class="field">
    <%= form.label :direction %>
    <%= form.text_field :direction, id: :rule_history_direction %>
  </div>

  <div class="field">
    <%= form.label :pack_type %>
    <%= form.text_field :pack_type, id: :rule_history_pack_type %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :rule_history_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
