

<h1>Rule Histories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Action</th>
      <th>Direction</th>
      <th>Pack type</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rule_histories.each do |rule_history| %>
      <tr>
        <td><%= rule_history.name %></td>
        <td><%= rule_history.action %></td>
        <td><%= rule_history.direction %></td>
        <td><%= rule_history.pack_type %></td>
        <td><%= rule_history.user_id %></td>
        <td><%= link_to 'Show', rule_history %></td>
        <td><%= link_to 'Edit', edit_rule_history_path(rule_history) %></td>
        <td><%= link_to 'Destroy', rule_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rule History', new_rule_history_path %>
