

<p>
  <strong>Name:</strong>
  <%= @rule_history.name %>
</p>

<p>
  <strong>Action:</strong>
  <%= @rule_history.action %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @rule_history.direction %>
</p>

<p>
  <strong>Pack type:</strong>
  <%= @rule_history.pack_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @rule_history.user_id %>
</p>

<%= link_to 'Edit', edit_rule_history_path(@rule_history) %> |
<%= link_to 'Back', rule_histories_path %>
