<span class="flex_column setting_activate_text_parent max_content">
	<h6 class="title_font pad-btm-lft-sm">Current User Data</h6>
	<% if @user %>
		<span class="flex_row">
			<p class="body_font">Name: </p><p class="body_font"><%= @user.name %></p>
		</span>
		<span class="flex_row">
			<p class="body_font">Email: </p><p class="body_font"><%= @user.email %></p>
		</span>
	<% else %>
		<span class="flex_row">
			<p class="body_font">Name: </p><p class="body_font"><%= current_user.name %></p>
		</span>
		<span class="flex_row">
			<p class="body_font">Email: </p><p class="body_font"><%= current_user.email %></p>
		</span>
	<% end %>
</span>