
<span class="overlay ad_home_titles_container shadow flex_row">
	<p class="title_font">Admin Home</p>
	<span class="flex_row ad_dashnav_buttons_container">
		<span>
			<%= link_to admin_dashboard_path("users"), :remote => true do %>
				<!-- <= image_tag("users_highlight_two.png") %> -->
				<i class="fa fa-users"></i>
			<% end %>
		</span>
		<span>
			<%= link_to admin_dashboard_path("flows"), :remote => true do %>
				<!-- <= image_tag("flow_highlight_two.png") %> -->
				<i class="fa fa-exchange"></i>
			<% end %>
		</span>
<!-- 		<span>
			<= link_to admin_dashboard_path("system"), :remote => true do %>
				<= image_tag("dashboard_highlight_two.png") %>
				<i class="fa fa-tachometer"></i>
			< end %>
		</span> -->
		<span>
			<%= link_to admin_dashboard_path("history"), :remote => true do %>
				<!-- <= image_tag("history_highlight_two.png") %> -->
				<i class="fa fa-history"></i>
			<% end %>
		</span>
	</span>
</span>


<div class="flex_row ad_dashnav_outer_container">

	<span class="ad_dash_partials_container">
		<div>
			<div id="dash_users" class="">
				<%= render :partial => '/user_files/users/admin_dashboard_partials/all_users' %>
			</div>
		</div>
		<div id="dash_flows" class="">
			
		</div>
		<div id="dash_system_and_tasks" class="">
			
		</div>
		<div id="dash_all_histories" class="">
			
		</div>
	</span>

</div>