
element = document.getElementById("user_<%= @user.id %>_open_groups")

console.log("what is there" + element.innerHTML)
console.log("sec <%= @user.sec_groups.count %>")

if (element.innerHTML < "<%= @user.sec_groups.count %>") {
	element.style.color = "green"
	element.innerHTML = '<%= @user.sec_groups.count %>';
} else if (element.innerHTML == "<%= @user.sec_groups.count %>"){
	element.style.color = "grey"
} else {
	element.style.color = "red"
	element.innerHTML = '<%= @user.sec_groups.count %>';
}
