<span class="full_width cloud_image">
    <div class="container flex_column cente shadow">

    	<span class="flex_row loginsignup_button_container">
    		<span class="login_inner_container login_area selected" onclick="login_signup_ui(this)">
	    		<%= link_to "Login", login_button_path, :class => "login_button button_tologin_signup title_font", method: :get, remote: true %>
	    	</span>
    		<span class="login_inner_container signup_area unselected" onclick="login_signup_ui(this)">
	    		<%= link_to "sign up", signup_button_path, :class => "signup_button button_tologin_signup title_font", method: :get, remote: true %>
	    	</span>
    	</span>

        <span id="login_area">
    		<%= render :partial => '/user_files/users/sessions/login'%>
		</span>
        <span id="signup_area">
            
        </span>

    </div>
</span>