
$('.fw_rules_create_link').bind('ajax:success', function() {
   $('.nsx_fw_response p').replaceWith("<p>Successfully added rules to NSX</p>");
   $('.nsx_fw_response p').addClass("nsx_fw_response_text_good");
   
   setTimeout(function(){
   	$('.nsx_fw_response p').replaceWith("<p></p>").css('transition', 'height 350ms ease-in-out');
	$('.nsx_fw_response p').removeClass("nsx_fw_response_text_good");

   },6000);

});

$('.fw_rules_create_link').bind('ajax:error', function() {
   $('.nsx_fw_response p').replaceWith("<p>Something went wrong please check the logs</p>");
   $('.nsx_fw_response p').addClass("nsx_fw_response_text_error");

   setTimeout(function(){
   	$('.nsx_fw_response p').replaceWith("<p></p>").css('transition', 'height 350ms ease-in-out');
	$('.nsx_fw_response p').removeClass("nsx_fw_response_text_error");
   },6000);
   
});