<div class="outer_container flex_row">

  <div id="import_app" class="modal fade do_not_show" tabindex="-1" aria-labelledby="importLabel" style="display: block; padding-right: 15px;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text_center">
          <h5 class="modal-title" id="importLabel">Import CSV</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_tag import_app_index_path, multipart: true do %>
          <div class="flex_column">

            <label for="files" class="btn">Upload CSV a From Your Computer</label>
            <%= file_field_tag :file, id: "files", style: "visibility:hidden" %>
            <div class="modal-footer">
              <%= submit_tag "Import CSV", class: "btn btn-primary upload_button" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <span class="side_nav_width side_nav_body flex_column">

    <button type="button" class="btn btn-primary upload_button" data-toggle="modal" data-target="#import_app" data-backdrop="static" data-keyboard="false">
      Import
    </button>

    <span class="side_nav_title">
      <p>VRNI Applications</p>
    </span>
    <% num = 1 %>
    <% target = "collapseOne" %>
    <% @apps.each.each do |app| %>

    <!-- ###############################################################
                   List of Apps & Link to get firewall rules 
        ############################################################### -->
      <% target = target + num.to_s %>
        <span class="sec_group_item">
            <div id="accordion">
              <div class="card shadow side_card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#<%= target %>" aria-expanded="false" aria-controls="<%= target %>">

                      <p><%= app.name %></p>

                    </button>
                  </h5>
                </div>
                <div id="<%= target %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">

                  <% if app.tiers.count == 0 %>
                    <div class="card-body">No Nested Objects</div>
                  <% else %>

                    <%= link_to get_app_fw_rules_path(id: app.id) do %>
                      <% app.tiers.each do |tier| %>

                        <div class="card-body"><%= tier.name %></div>

                        <% tier.app_objs.each do |object| %>
                          <div class="card-body child"><%= object.obj_name %></div>
                        <% end %>

                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
        </span>
      <% num += 1 %>
    <% end %>
  </span>

  <span class="flex_column four_of_four_w">
    <div class="flex_column four_of_four_w ">
      <!-- Nav tabs -->

      <span class="a_table_container shadow">
        <div class="tabs-wrapper"> 
            <!-- <ul class="nav classic-tabs tabs-cyan" role="tablist"> -->
          <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link waves-light active" data-toggle="tab" href="#panel1" role="tab">Universal Rules that also affect this vm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" data-toggle="tab" href="#panel2" role="tab">Associated Rules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" data-toggle="tab" href="#panel3" role="tab">Suggested Rules</a>
            </li>
          </ul>
        </div>
        <!-- Tab panels -->
        <div class="tab-content card">
          <!--Panel 1-->

          <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
            <span class="table table-striped">
              <span class="cell_headers cell_header">
                <p class="cell">Name</p>
                <p class="cell">Action</p>
                <p class="cell">Sources</p>
                <p class="cell">Destinations</p>
                <p class="cell">Services</p>
              </span>
              <% count = 10 %>
              <% @universal_rules.each do |fw|%>
                <span class="row">
                  <p class="cell"><%= fw.name %></p>
                  <p class="cell"><%= fw.action %></p>
                  <span class="cell flex_column">
                    <% fw.sources.each do |sour| %>
                      <p><%= sour.sour_name %></p>
                    <% end %>
                  </span>
                  <span class="cell flex_column">
                    <% fw.destinations.each do |dest| %>
                      <p><%= dest.dest_name %></p>
                    <% end %>
                  </span>
                  <span class="cell flex_column">
                    <% if fw.protocols.count == 0 %>
                      <% fw.services.each do |service| %>
                        <% if service.serv_name == "" %>
                          <p>any</p>
                        <% else %>
                          <p><%= service.serv_name %></p>
                        <% end %>
                      <% end %>
                    <% else %>
                      <% fw.protocols.each do |prot| %>
                        <p><%= prot.name %>
                      <% end %>
                      <% fw.port_ranges.each do |range| %>
                        <%= range.startport %>  ->  <%= range.endport %></p>
                      <% end %>
                    <% end %>
                  </span>
                </span>
              <% end %> 
            </span>
            <% while count > 0 %> 
              <span class="row">
                <p class="cell"></p>
                <p class="cell"></p>
                <p class="cell"></p>
                <p class="cell"></p>
                <p class="cell"></p>
              </span>
              <% count -= 1 %>
            <% end %>
            </span>
          </div>

          <div class="tab-pane fade" id="panel2" role="tabpanel">
            <span class="table table-striped">
              <span class="cell_headers cell_header">
                <p class="cell">Name</p>
                <p class="cell">Action</p>
                <p class="cell">Sources</p>
                <p class="cell">Destinations</p>
                <p class="cell">Services</p>
              </span>
              <% count = 10 %>
              <% @related_rules.each do |fw|%>
                <span class="row">
                  <p class="cell"><%= fw.name %></p>
                  <p class="cell"><%= fw.action %></p>
                  <span class="cell flex_column">
                    <% fw.sources.each do |sour| %>
                      <p><%= sour.sour_name %></p>
                    <% end %>
                  </span>
                  <span class="cell flex_column">
                    <% fw.destinations.each do |dest| %>
                      <p><%= dest.dest_name %></p>
                    <% end %>
                  </span>
                  <span class="cell flex_column">
                    <% if fw.protocols.count == 0 %>
                      <% fw.services.each do |service| %>
                        <% if service.serv_name == "" %>
                          <p>any</p>
                        <% else %>
                          <p><%= service.serv_name %></p>
                        <% end %>
                      <% end %>
                    <% else %>
                      <% fw.protocols.each do |prot| %>
                        <p><%= prot.name %>
                      <% end %>
                      <% fw.port_ranges.each do |range| %>
                        <%= range.startport %>  ->  <%= range.endport %></p>
                      <% end %>
                    <% end %>                    
                  </span>
                </span>
              <% end %> 
            </span>
            <% while count > 0 %> 
              <span class="row">
                <p class="cell"></p>
                <p class="cell"></p>
                <p class="cell"></p>
                <p class="cell"></p>
                <p class="cell"></p>
              </span>
              <% count -= 1 %>
            <% end %>
            </span>
          </div>

          <div class="tab-pane fade" id="panel3" role="tabpanel">
            <span class="table table-striped">
              <span class="cell_headers cell_header">
                <p class="cell">Name</p>
                <p class="cell">Action</p>
                <p class="cell">Sources</p>
                <p class="cell">Destinations</p>
                <p class="cell">Protocols</p>
                <p class="cell">Ports</p>
              </span>
              <% count = 10 %>
              <% SugRule.all.each do |suggested|%>
                <%= link_to add_sug_rules_get_path(suggested.id), :remote => true do %>
                  <% if suggested.submit_sug.to_s. == "true" %>
                    <span class="row sug_rule bk_green">
                  <% else %>
                    <span class="row sug_rule no_bk_color">
                  <% end %>

                  <span class="js_target sug_cell pre_edit_rule flex_column">
                    <p><%= suggested.action %></p>
                  </span>
                  <span class="js_target sug_cell pre_edit_rule flex_column">
                    <% suggested.sources.each do |sour| %>
                      <p><%= sour.sour_name %></p>
                    <% end %>
                  </span>
                  <span class="js_target sug_cell pre_edit_rule flex_column">
                    <% suggested.destinations.each do |dest| %>
                      <p><%= dest.dest_name %></p>
                    <% end %>
                  </span>
                  <span class="js_target sug_cell pre_edit_rule flex_column">
                    <% suggested.protocols.each do |prot| %>
                      <p><%= prot.name %></p>
                    <% end %>
                  </span>
                  <span class="js_target sug_cell pre_edit_rule flex_column">
                    <% suggested.port_ranges.each do |range| %>
                      <p><%= range.startport %>  ->  <%= range.endport %></p>
                    <% end %>
                  </span>
                <% end %>
              <% end %>
              <% while count > 0 %> 
                <span class="row">
                  <p class="cell"></p>
                  <p class="cell"></p>
                  <p class="cell"></p>
                  <p class="cell"></p>
                  <p class="cell"></p>
                </span>
                <% count -= 1 %>
              <% end %>
            </span>
          </div>

        </div>
      </span>
    </span>
    <div class="submit_button max_content_both">
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
       <%= link_to "Create Rules in NSX", sec_gp_and_fw_rules_path, data: { confirm: 'Are you sure?' }, class: "btn btn-primary fw_rules_create_link", :remote => true %>
    </div>
    <div id="action">
      <div id="flash" class="nsx_fw_response">
        <p></p>
      </div>
    </div>
  </span>
</div>
