<% filtered_groups.all.each do |gp| %>
  <%= link_to attach_sec_group_user_path(task_id: gp.id, user_id: user_id, format: :js), :remote => true, :id => 'booked' do %>
      <div class="flex_row relative nav_padding_top_bottom shadow">
        <p><%= gp.name %></p>
      </div>
  <% end %>
<% end %>