<%= form_with(model: sec_group_template, local: true) do |form| %>
  <% if sec_group_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sec_group_template.errors.count, "error") %> prohibited this sec_group_template from being saved:</h2>

      <ul>
      <% sec_group_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sec_group_id %>
    <%= form.text_field :sec_group_id, id: :sec_group_template_sec_group_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
