

<h1>Sec Group Templates</h1>

<table>
  <thead>
    <tr>
      <th>Sec group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sec_group_templates.each do |sec_group_template| %>
      <tr>
        <td><%= sec_group_template.sec_group_id %></td>
        <td><%= link_to 'Show', sec_group_template %></td>
        <td><%= link_to 'Edit', edit_sec_group_template_path(sec_group_template) %></td>
        <td><%= link_to 'Destroy', sec_group_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sec Group Template', new_sec_group_template_path %>
