

<p>
  <strong>Sec group:</strong>
  <%= @sec_group_template.sec_group_id %>
</p>

<%= link_to 'Edit', edit_sec_group_template_path(@sec_group_template) %> |
<%= link_to 'Back', sec_group_templates_path %>
