<% if @which_controller == "sec_group" %>
	<span class="flex_column">
		<span class="action_item_cell flex_column">
			<%= link_to add_to_table_column_path("action", "allow", 0, @rule.id, @which_controller, 0), :method => :post, :remote => true do %>
				<button>Allow</button>
			<% end %>
			<%= link_to add_to_table_column_path("action", "block", 0, @rule.id, @which_controller, 0), :method => :post, :remote => true do %>
				<button>Block</button>
			<% end %>
			<%= link_to add_to_table_column_path("action","reject", 0, @rule.id, @which_controller, 0), :method => :post, :remote => true do %>
				<button>Reject</button>
			<% end %>
		</span>
	</span>
<% else %>
	<span class="flex_column">
		<span class="action_item_cell flex_column">
			<%= link_to add_to_table_column_path("action", "allow", @template.id, @rule.id, @which_controller, 0), :method => :post, :remote => true do %>
				<button>Allow</button>
			<% end %>
			<%= link_to add_to_table_column_path("action", "block", @template.id, @rule.id, @which_controller, 0), :method => :post, :remote => true do %>
				<button>Block</button>
			<% end %>
			<%= link_to add_to_table_column_path("action","reject", @template.id, @rule.id, @which_controller, 0), :method => :post, :remote => true do %>
				<button>Reject</button>
			<% end %>
		</span>
	</span>
<% end %>