
<% if @which_controller == "sec_group" %>
	<%= form_tag(add_protocol_by_num_to_table_path, :class => "", remote: true, :method => "get") do %>
	    <div class="flex_row">
		    <%= text_field_tag :text_input, params[:text_input], :class => "body_font", :class => "edit_sug_search_textbox", placeholder: "Custom rule name" %>
			<%= hidden_field_tag :which_controller, @which_controller %>
			<%= hidden_field_tag :type, "name" %>
			<%= hidden_field_tag :template_id, 0 %>
			<%= hidden_field_tag :rule_id, @rule.id %>
		    <%= button_tag :class => "template_name_btn shadow_no_hover", :name => nil do %>
			    <i class="fa fa-save"></i>
		    <% end %>
	    </div>
	<% end %>
<% else %>
	<%= form_tag(add_protocol_by_num_to_table_path, :class => "", remote: true, :method => "get") do %>
	    <div class="flex_row">
		    <%= text_field_tag :text_input, params[:text_input], :class => "body_font", :class => "edit_sug_search_textbox", placeholder: "Custom rule name" %>
			<%= hidden_field_tag :which_controller, @which_controller %>
			<%= hidden_field_tag :type, "name" %>
			<%= hidden_field_tag :template_id, @template.id %>
			<%= hidden_field_tag :rule_id, @rule.id %>
		    <%= button_tag :class => "template_name_btn shadow_no_hover", :name => nil do %>
			    <i class="fa fa-save"></i>
		    <% end %>
	    </div>
	<% end %>
<% end %>