<% if @which_controller == "rule_template" %>
	<div class="add_port_ranges">
		<%= form_tag add_to_ports_column_path, :class => "", remote: true, :method => "get" do %>
			<%= hidden_field_tag :which_controller, @which_controller %>
			<%= hidden_field_tag :template_id, @template.id %>
			<%= hidden_field_tag :rule_id, @rule.id %>
			<span class="flex_column">
			    <%= text_field_tag :source, params[:source], :class => "edit_sug_search_textbox", placeholder: "Source Port" %>
				<%= text_field_tag :destination, params[:destination], :class => "edit_sug_search_textbox", placeholder: "Destination Port" %>
			</span>
			<span class="flex_row justify-content-start">
				<span class="btn title_font">Set</span>
			    <%= button_tag "Submit", :class => "edit_sug_search_btn", :name => nil do %>
				    <i class="fa fa-check"></i>
			    <% end %>
		    </span>
		<% end %>
	</div>
	<div class="other_service">
		<%= form_tag(search_vmware_sys_objs_path, remote: true, :method => "get", id: "service_search_form") do %>
	    	<%= hidden_field_tag :which_controller, @which_controller %>
	    	<%= hidden_field_tag :template_id, @template_id %>
			<%= hidden_field_tag :which_column, "service" %>
			<%= hidden_field_tag :rule_id, @rule.id %>
		    <%= text_field_tag :text_input, params[:text_input], :class => "edit_sug_search_textbox", placeholder: "Search for Applications" %>
			<span class="flex_row submit_section justify-content-start">
				<span class="btn title_font">Search</span>
			    <%= button_tag "Search", :class => "edit_sug_search_btn", :name => nil do %>
				    <i class="fa fa-check"></i>
			    <% end %>
			</span>
		<% end %>
	</div>
<% else %>
	<div class="add_port_ranges">
		<%= form_tag add_to_ports_column_path, :class => "", remote: true, :method => "get" do %>
			<%= hidden_field_tag :which_controller, @which_controller %>
			<%= hidden_field_tag :template_id, 0 %>
			<%= hidden_field_tag :rule_id, @rule.id %>
			<span class="flex_column">
			    <%= text_field_tag :source, params[:source], :class => "edit_sug_search_textbox", placeholder: "Source Port" %>
				<%= text_field_tag :destination, params[:destination], :class => "edit_sug_search_textbox", placeholder: "Destination Port" %>
			</span>
			<span class="flex_row justify-content-start">
				<span class="btn title_font">Set</span>
			    <%= button_tag "Submit", :class => "edit_sug_search_btn", :name => nil do %>
				    <i class="fa fa-check"></i>
			    <% end %>
		    </span>
		<% end %>
	</div>

	<div class="other_service">
		<%= form_tag(search_vmware_sys_objs_path, remote: true, :method => "get", id: "service_search_form") do %>
	    	<%= hidden_field_tag :which_controller, @which_controller %>
	    	<%= hidden_field_tag :template_id, 0 %>
			<%= hidden_field_tag :which_column, "service" %>
			<%= hidden_field_tag :rule_id, @rule.id %>
		    <%= text_field_tag :text_input, params[:text_input], :class => "edit_sug_search_textbox", placeholder: "Search for Applications" %>

			<span class="flex_row submit_section justify-content-start">
				<span class="btn title_font">Search</span>
			    <%= button_tag "Search", :class => "edit_sug_search_btn", :name => nil do %>
			    <i class="fa fa-check"></i>
			</span>
		    <% end %>
		<% end %>
	</div>
<% end %>