

<% if @which_controller == "rule_template" %>
	<span class="flex_column">

		<div class="dropdown">
		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Select
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <a class="dropdown-item" href="#"><%= button_to "HTTPS", add_to_table_column_path("protocol", "https", @template.id, @rule.id, @which_controller, 0), :class => "edit_sug_system_obj_search_cell", :method => :post, :remote => true %></a>
		    <a class="dropdown-item" href="#"><%= button_to "HTTP", add_to_table_column_path("protocol", "http", @template.id, @rule.id, @which_controller, 0), :class => "edit_sug_system_obj_search_cell", :method => :post, :remote => true %></a>
		    <a class="dropdown-item" href="#"><%= button_to "UDP", add_to_table_column_path("protocol", "udp", @template.id, @rule.id, @which_controller, 0), :class => "edit_sug_system_obj_search_cell", :method => :post, :remote => true %></a>
		    <a class="dropdown-item" href="#"><%= button_to "TCP", add_to_table_column_path("protocol", "tcp", @template.id, @rule.id, @which_controller, 0), :class => "edit_sug_system_obj_search_cell", :method => :post, :remote => true %></a>
		    <a class="dropdown-item" href="#">
		    	<%= form_tag(add_protocol_by_num_to_table_path, :class => "", remote: true, :method => "get") do %>
				    <div class="flex_row">
					    <%= text_field_tag :text_input, params[:text_input], :class => "edit_sug_search_textbox", placeholder: "Protocol Number" %>
					    <%= hidden_field_tag("page_name", "1", :id => "page_no") %>
						<%= hidden_field_tag :param_name, 'param_value', {:id => 'ashish_id', :name => 'Other: insert the protocol number'}%>
						<%= hidden_field_tag :which_controller, @which_controller %>
						<%= hidden_field_tag :which_action, "manual" %>
						<%= hidden_field_tag :template_id, @template.id %>
						<%= hidden_field_tag :rule_id, @rule.id %>
					    <%= button_tag "Insert", :class => "body_font", :name => nil do %>
					    <i class="fa fa-search"></i>
				    <% end %>
				    </div>
				<% end %>
			</a>
		  </div>
		</div>
	</span>
<% else %>
	<span class="flex_column">
		<div class="dropdown">
		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Select
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <a class="dropdown-item" href="#"><%= button_to "HTTPS", add_to_table_column_path("protocol", "https", 0, @rule.id, @which_controller, 0), :class => "edit_sug_system_obj_search_cell", :method => :post, :remote => true %></a>
		    <a class="dropdown-item" href="#"><%= button_to "HTTP", add_to_table_column_path("protocol", "http", 0, @rule.id, @which_controller, 0), :class => "edit_sug_system_obj_search_cell", :method => :post, :remote => true %></a>
		    <a class="dropdown-item" href="#"><%= button_to "UDP", add_to_table_column_path("protocol", "udp", 0, @rule.id, @which_controller, 0), :class => "edit_sug_system_obj_search_cell", :method => :post, :remote => true %></a>
		    <a class="dropdown-item" href="#"><%= button_to "TCP", add_to_table_column_path("protocol", "tcp", 0, @rule.id, @which_controller, 0), :class => "edit_sug_system_obj_search_cell", :method => :post, :remote => true %></a>
		    <a class="dropdown-item" href="#">
		    	<%= form_tag(add_protocol_by_num_to_table_path, :class => "", remote: true, :method => "get") do %>
				    <div class="flex_row">
					    <%= text_field_tag :text_input, params[:text_input], :class => "edit_sug_search_textbox", placeholder: "Protocol Number" %>
					    <%= hidden_field_tag("page_name", "1", :id => "page_no") %>
						<%= hidden_field_tag :param_name, 'param_value', {:id => 'ashish_id', :name => 'Other: insert the protocol number'}%>
						<%= hidden_field_tag :which_controller, @which_controller %>
						<%= hidden_field_tag :which_action, "manual" %>
						<%= hidden_field_tag :template_id, 0 %>
						<%= hidden_field_tag :rule_id, @rule.id %>
					    <%= button_tag "Insert", :class => "body_font", :name => nil do %>
					    <i class="fa fa-search"></i>
				    <% end %>
				    </div>
				<% end %>
			</a>
		  </div>
		</div>
	</span>

<% end %>