
<% if @which_controller == "rule_template" %>
	<% if !@sys_objs.nil? %>
		<% @sys_objs.each do |sys_obj| %>
			<span class="flex_column edit_sug_system_obj_search_cell shadow">
				<% if @which_column == "source" %>
					<%= link_to add_to_table_column_path("source", "vmware_system_object", @template_id, @rule.id, @which_controller, sys_obj.id), :method => :post, :remote => true do %>
						<p class="body_font"><%= sys_obj.vm_name %></p>
					<% end %>
				<% elsif @which_column == "destination" %>
					<%= link_to add_to_table_column_path("destination", "vmware_system_object", @template_id, @rule.id, @which_controller, sys_obj.id), :method => :post, :remote => true do %>
						<p class="body_font"><%= sys_obj.vm_name %></p>
					<% end %>
				<% elsif @which_column == "service" %>
					<%= link_to add_to_service_table_path(@template_id, sys_obj.id, @rule.id, @which_controller), :remote => true do %>
						<p class="body_font"><%= sys_obj.vm_name %></p>
					<% end %>
				<% end %>
			</span>
		<% end %>
	<% end %>
<% elsif @which_controller == "sec_group" %>
	<% if !@sys_objs.nil? %>
		<% @sys_objs.each do |sys_obj| %>
			<span class="flex_column edit_sug_system_obj_search_cell shadow">
				<% if @which_column == "source" %>
					<%= link_to add_to_table_column_path("source", "vmware_system_object", 0, @rule.id, @which_controller, sys_obj.id), :method => :post, :remote => true do %>
						<p class="body_font"><%= sys_obj.vm_name %></p>
					<% end %>
				<% elsif @which_column == "destination" %>
					<%= link_to add_to_table_column_path("destination", "vmware_system_object", 0, @rule.id, @which_controller, sys_obj.id), :method => :post, :remote => true do %>
						<p class="body_font"><%= sys_obj.vm_name %></p>
					<% end %>
				<% elsif @which_column == "service" %>
					<%= link_to add_to_service_table_path(0, sys_obj.id, @rule.id, @which_controller), :remote => true do %>
						<p class="body_font"><%= sys_obj.vm_name %></p>
					<% end %>
				<% end %>
			</span>
		<% end %>
	<% end %>
<% end %>