<% if @which_controller == "rule_template" %>
	<div class="edit_sug_searchbar">
		<%= form_tag(search_vmware_sys_objs_path, remote: true, :method => "get", id: "search-form") do %>
			<span class="flex_row">
			    <%= text_field_tag :text_input, params[:text_input], :class => "edit_sug_search_textbox", placeholder: "System Objects" %>
		    	<%= hidden_field_tag :which_controller, @which_controller %>
		    	<%= hidden_field_tag :template_id, @template.id %>
				<%= hidden_field_tag :which_column, @type %>
				<%= hidden_field_tag :rule_id, @rule.id %>
			    <%= button_tag :class => "edit_sug_search_btn shadow_no_hover", :name => nil do %>
				    <i class="fa fa-search white_text"></i>
			    <% end %>
			</span>
		<% end %>
	</div>
<% elsif @which_controller == "sec_group" %>	
	<div class="edit_sug_searchbar">
		<%= form_tag(search_vmware_sys_objs_path, remote: true, :method => "get", id: "search-form") do %>
			<span class="flex_row">
			    <%= text_field_tag :text_input, params[:text_input], :class => "edit_sug_search_textbox", placeholder: "System Objects" %>
		    	<%= hidden_field_tag :which_controller, @which_controller %>
		    	<%= hidden_field_tag :template_id, 0 %>
				<%= hidden_field_tag :which_column, @type %>
				<%= hidden_field_tag :rule_id, @rule.id %>
			    <%= button_tag :class => "edit_sug_search_btn shadow_no_hover", :name => nil do %>
				    <i class="fa fa-search blue_text"></i>
			    <% end %>
			</span>
		<% end %>
	</div>
<% end %>