
$('.user_import_popup').css("visibility", "hidden");
$('.user_new_popup').css("visibility", "hidden");

<% case(@type) %>
	<% when "notification" %>
		$('.error_message_popup_text').html("");
		$('.error_message_overlay').css("display", "initial")
		$('.error_message_popup_text').append("<p class='body_font'><%= @error %></p>");
		var notification = document.getElementById('notice').style;
		notification.opacity = 1;
		myLoop(1.0, notification); 

	<% when "new_user_in_dashboard" %>
		$('.modal-backdrop').remove();
		$('.user_import_popup').css("visibility", "inherit");
		$('.user_new_popup').css("visibility", "inherit");
		$('#dash_users').html("");
		$('#dash_users').append("<%= j render :partial => '/user_files/users/admin_dashboard_partials/all_users' %>");

	<% when "system" %>
		$('.user_import_popup').css("visibility", "hidden");
		$('.ad_home_sub_title').html("<%= @type %>");
		$('#dash_flows').html("");
		$('#dash_users').html("");
		$('#dash_all_histories').html("");
		$('#dash_system_and_tasks').html("");
		$('#dash_system_and_tasks').append("<%= j render :partial => '/user_files/users/admin_dashboard_partials/dash_system_and_tasks' %>");

	<% when "flows" %>
		$('.user_import_popup').css("visibility", "hidden");
		$('.ad_home_sub_title').html("<%= @type %>");
		$('#dash_users').html("");
		$('#dash_system_and_tasks').html("");
		$('#dash_all_histories').html("");
		$('#dash_flows').html("");
		$('#dash_flows').append("<%= j render :partial => '/user_files/users/admin_dashboard_partials/dash_flows' %>");

	<% when "history", "update_histories" %>
		$('.user_import_popup').css("visibility", "hidden");
		$('.ad_home_sub_title').html("<%= @type %>");
		$('#dash_users').html("");
		$('#dash_system_and_tasks').html("");
		$('#dash_flows').html("");
		$('#dash_all_histories').html("");
		$('#dash_all_histories').append("<%= j render :partial => '/user_files/users/admin_dashboard_partials/dash_histories' %>");

	<% when "security_group_search" %>
		$('#<%= @user_id %>sg_search_result_container').html("");
		$('#<%= @user_id %>sg_search_result_container').append("<%= j render :partial => '/user_files/users/admin_search_partials/security_groups', :locals => {:filtered_groups => @groups, :user_id => @user_id }  %>");

	<% when "added_tasks" %>
		$('#user_<%= user.id %>_open_groups').innerHTML('<%= @user.sec_groups.count %>');

	<% when "users" %>
		$('.modal-backdrop').remove();
		$('.user_import_popup').css("visibility", "inherit");
		$('.user_new_popup').css("visibility", "inherit");
		$('.ad_home_sub_title').html("<%= @type %>");
		$('#dash_flows').html("");
		$('#dash_system_and_tasks').html("");
		$('#dash_all_histories').html("");
		$('#dash_users').html("");
		$('#dash_users').append("<%= j render :partial => '/user_files/users/admin_dashboard_partials/all_users' %>");
		<% if !@mispelt_groups_array.nil? %>
			<% if(@mispelt_groups_array.count > 0) %>
				$('#import_user_notification').html('<span class="overflow flex_column"><p>Check the spelling of the flowing Security Groups</p>');
					<% index = 0 %>
					<% @mispelt_groups_array.each do |x| %>
						<% if index == 0 %>
							$('#import_user_notification').append("<p><%= x %></p>");
						<% elsif index < (@mispelt_groups_array.count -1) %>
							$('#import_user_notification').append("<p> <%= x %></p>");
						<% else %>
							$('#import_user_notification').append("<p> <%= x %></p>");
						<% end %>
						<% index += 1 %>
					<% end %>
				$('#import_user_notification').append("</span>");
			<% elsif !@method.nil? && @method == "delete" %>
				$('#import_user_notification').html("<p><%= @user %> was deleted successfully</p>");
			<% else %>
				$('#import_user_notification').html("<p>Users imported successfully</p>");
			<% end %>
		<% end %>

		var notification = document.getElementById('import_user_notification').style;
		notification.opacity = 1;
		var i = 1.0;
		setTimeout(function() {}, 5000);
		myLoop(i, notification); 

<% end %>

function myLoop (num, element) {         
	setTimeout(function () {
		if (num <= 1 & num > 0) { 
			opactiyfunction(num, element);
			num -= .01;
		   	// alert(num);
		   	myLoop(num, element);
		} else {
			element.html = "";
			element.css("display", "none")
		}
	}, 100)
	setTimeout(function() {}, 5000);
}

function opactiyfunction(num, element){
	element.opacity = num;
}