/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self 
 *= require font-awesome
 */


 html, body {
  margin: 0; height: 100%;
  overflow: initial;
  font-size: 16px;
}

html, body, .outer_container {
    margin: 0;
    height: 100%;
    background: #e8eae9;
    font-family: var(--body-font);
}

body {
  /*position: fixed;*/
  width: 100%;
  height: 100%;
  overflow: auto;
}

p {
  font-size: 16px;
  font-family: var(--body-font);
  color: var(--dark_grey);
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

hr {    
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: rgba(0,0,0,.1);
  height: 1px;
}


input,.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: var(--dark_grey);
}

:root {
  --transparent: #00000000;
  --light-blue-color: lightblue;
  --mid-blue-color: #00a2e3;
  --highlight_two: #66A7C5;
  --red-color:  #EE3233;

  --highlight_one: #86B933;
  --highlight_two: #5AAEE2;
  --highlight_two_dark: #007bff;

  --light_grey: #eeeeee;
  --dark_grey:  #3F4650;

  --white-color: #feffff;
  --black-color: #2b2b2b;

  --title-font: 'Roboto', sans-serif;
  --body-font: 'Playfair Display', serif;
}

:focus {
    outline: none;
    -webkit-appearance: unset;
    background-color: #00000000;
    -webkit-rtl-ordering: logical;
    cursor: pointer;
    padding: 0px;
    border: none;
    border-width: 0px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}


/*                                        */
/*  Nothing should exist below this line  */
/*                                        */



