
.flows_content_container {
	padding: 16px 16px 8px 16px;
	p.cell.flow_cell {
	    width: 100%;
	}
}

input#subscribe:focus {
    width: 12px;
    height: 12px;
    -webkit-appearance: checkbox;
}


.flow_cell {
	width: 0vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	p {
		left: 0;
	    width: 100%;
	}
}

.flow_cell_wide {
  width: 15%
}

#vm_flows_content_container .flow_cell {
    width: 0% !important;
    .table_scroll {
	    margin: 0 !important;
	    padding: 0;
	    max-height: calc(100vh - 41px - 16px - 8px - 33px - 128px - 45px - 32.19px);
    }
}

.a_table_container {
    .table_scroll {
	    max-height: calc(100vh - 41px - 16px - 8px - 33px - 128px - 45px - 32.19px);
	    padding: 0px !important;
    }
}

.flow_cell span a input:focus {
    width: 14px;
    height: 14px;
}

.flow_cell {
	justify-content: space-around;
}

#vm_flows_content_container button {
	border: none;
	padding: none !important;
}

.flow_table_padding {
	padding: 0px 0px 0px 8px;
}

#dash_flows .table, #sg_flows {
	.table_scroll {
		height: fit-content;
	    max-height: calc(70vh - 72px) !important;
	    overflow: auto;
	}
}


#dash_flows {
	.cell_headers {
	    padding-right: 15px;
	}
	.flow_cell {
		width: 30px !important;
	}
}