<div class="email_container">
	<h5>Dear <%= @user.name %>,</h5>
	<br>
	<p style="margin-bottom: 8px !important;" class="body_font">You have some work that still needs to be done on the Application Security Platform servicing your NSX Environment</p>
	<p>Please finish this asap</p>
	<br>
	<p>Thank you</p>
</div>