<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
		.email_container {
			margin: 20%;
		}

		.send_email {
			width: 40%;
			height: auto;
		}
    </style>
</head>
<body>

<div class="email_container">
	<h5>Dear <%= @user.name %>,</h5>
	<p style="margin-bottom: 8px !important;">This is a reminder from your administrator</p>

	<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
		<% time_now = String(Time.now.to_i) %>
		<% time_out = Time.at(time_now.to_i) %>
		<% time_out = time_out.strftime("l:%M%P %b #{time_out.day.ordinalize}")%>

		<p>You sucessfully published your a updated section at <%= time_out %></p>

		<p>Thank you</p>
	</body>

</div>