
/* Login */

.flex_center {
    display: flex;
    justify-content: center;
}

span#user_create_first_attempt_area input {
    width: 87% !important;
}

input#user_password_confirmation, input#user_password, input#user_email, input#user_name, input#session_email, input#session_password, input#nsx_username, input#nsx_password, input#nsx_ip_address, input#vrni_username, input#vrni_password, input#vrni_ip_address  {
    min-width: 318px !important;
    font-size: 0.8rem !important;
    font-weight: 300 !important;
    font-family: var(--title-font) !important;
}

#login_area button, #signup_area button {
    min-width: 318px;
}

/*# Admin Dashboard */

$inset-shadow: inset 1px 1px 5px rgba(0,0,0,.075);

/* navigation bars  */
.navbar {
    top: 0;
}

.ad_home_titles_container {
    top: 0;
    position: fixed;
    margin-top: 45px;
}

/* containers */

.body_container {
    background: var(--white-color);
    padding: 5vh 20vw 64px 20vw;
}

.settings_container {
    padding: 16px;    
    margin: 64px 0 32px 0;
    background: var(--white-color);
}

/* dashboard body */

.flex_row .ad_dashnav_outer_container {
    margin-top: 45px;
}

#dash_histories {
  /*margin: 0px 16px !important;*/
}

@media (min-width: 576px) {
  .user_modal_dialog {
     max-width: 500px !important; 
     margin: 1.75rem auto;
 }
}

.undo_button {
    color: var(--highlight_two) !important;
    font-weight: bold !important;
}

.ad_home_titles_container {
	position: absolute;
    width: 100%;
    height: min-content;
    background: var(--dark_grey);    
    align-items: center;
    padding: 0 16px;
}

.ad_home_titles_container h2, .ad_home_titles_container h5 {
	width: max-content;
} 

.ad_home_titles_container p {
    color: white;
}

.ad_dashnav_outer_container {
	padding: 180px 0;
	justify-content: center;
}

.ad_dashnav_buttons_container {
	justify-content: center;
	width: 10%;
   justify-content: space-evenly;
   max-width: 40%;
   margin: 4px 16px;
}

.ad_dashnav_buttons_container span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--highlight_two);
}

.ad_dashnav_buttons_container span a img {
	width: 2rem;
	height: 2rem;
  padding: 8px;
}

.ad_dashnav_buttons_container span a:hover {
	background-color: #00000000;
}

.ad_dash_partials_container {
    width: 1180px;
    top: calc((100vh -64px) * 0.10);
    height: -webkit-fill-available;
    bottom: 24px;
    > div {
        /*height: inherit; */
        > div {
            height: inherit;
            /*> div {*/
/*            height: inherit;
                .table {
                    height: inherit;
                    .table_scroll {
                        height: inherit;

                    }
                }
            }*/
        }
    }
}

.ad_dash_user_headers {
	width: 100% !important;
}

.admin_dash_title {
        position: fixed;
    top: 130px;
    font-size: 20px;
}

.smaller_user_table_cell {
	position: relative;
    justify-content: space-evenly;
    width: 5% !important;
    padding: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.smaller_user_table_cell a {

}

.cell_headers.smaller_user_table_cell {
	padding: 8px;
}

.tasks_search_btn {
  padding: 0 6px;
  height: inherit;
  background: none;
  color: var(--highlight_one);
  font-size: .8rem;
  font-family: var(--title-font);
  font-weight: 400;
}

.reminder_email_cell {
	width: 0% !important;
}

.reminder_email_cell a:hover, .send_email:hover {
	background-color: #00000000;
}

#dash_flows .table{
  height: 75vh;
  overflow: overlay;
}



/* user table */

#add_user_modal {
    padding-right: 15px;
    display: none;
    justify-content: center;
    .modal-dialog {
        width: 400px;
        top: 25%;
        left: calc(50% - 196px);
        right: auto;
    }
}

#import_users_modal {
    .modal-dialog {
        /* width: 400px; */
        top: 25%;
        /* margin-left: 0; */
        left: calc(50% - 350px);
        right: auto;
    }
}

#column_sort_users_modal {
    .modal-dialog {
        left: calc(50% - 350px);
        top: calc(50% - 271px);
        margin: 0;
    }
}

#column_sort_users {
    i {
        margin-bottom: 8px;
    }
}

.user_table_container {
  padding: 8px 0;
  > div {
    display: none;
    align-items: center;
  }
}


.flex_column.dash_container_left.user_table_container {
  padding-right: 2%;
}

.user_table_cell {
  width: 15%;
  padding: 8px !important;
  overflow: hidden;
  text-overflow: ellipsis;

}

.user_table_cell:nth-child(1), .user_table_cell:nth-child(2) {
    width: 20%;
}



.cell_headers .user_table_cell {
  font-size: 1vw;
}

/* mail for reminders */

.email_container {
  margin: 20%;
}

.icon_img {
    width: 30%;
    position: absolute;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    z-index: 100;
}

.icon_img:hover {
    width: 33%;
}


.upload_users_form {
	margin: 2%;
}

.upload_users_form input#files {
    width: max-content;
    height: auto !important; 
}

.user_import_popup {
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #00000000 !important;
    background: none;
    border: none !important;
    margin-left: 2% !important;
    box-shadow: none !important;
    color: var(--highlight_two) !important;
}

.user_import_popup_button {
    padding: 4px 8px !important;
    border-radius: 26px;
    background-color: var(--highlight_two_dark)!important;
    border-radius: 3px !important;
    width: max-content !important;
}

.user_import_popup_button p {
    color: var(--white-color);
}

.user_import_popup_button:hover {
 
}

#import_user_notification p {
    color: forestgreen;
    font-size: 1rem;
}

p#import_user_notification {
    opacity: 1;
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.upload_users_form label {
    width: min-content;
    border-radius: 17px !important;
    margin: 0;
    display: flex;
    align-items: center;
    /*padding: 0 !important;*/
}

.btn-primary {
	border-bottom: none !important;
}

.upload_users_form label h6 {
	margin: 0;
}

input.import_submit.upload_button {
	padding: 0;
	margin-left: 2% !important;
	width: min-content;
	left: 0 !important;
}

.btn-primary {
   border-bottom: 0px solid !important;
   border-left: 0px solid !important;
   border-top: 0px solid !important;
   border-color: var(--light-blue-color) !important;
   border-radius: 0 !important;
}

.upload_users_form label p {
	color: var(--white-color);
}

.import_submit.btn {
    color: var(--highlight_two);
    background: none;
    border: none;
}
.import_submit.btn:hover {
  color: var(--highlight_two_dark);
}

.import_submit.btn:hover {
    color: blue;
    background: none;
    border: none;
}

.search_sec_group_lvl2_item p, .search_sec_group_lvl3_item p {
    color: var(--highlight_two) !important;
}

/* LOGIN SCREEN */

.loginsignup_button_container {
    width: 100%;
}

.login_inner_container {
    width: 50%;
    background-color: var(--light);
}

.button_tologin_signup {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #00000000 !important;
    padding: 0 !important;
    border-radius: 0 !important;
    margin: 0 !important;
}

.signup_button {
    width: 50%;
    background: var(--light);
    display: flex;
    width: 100%;
    color: var(--dark_grey) !important;
    justify-content: center;
    padding: 8px !important;
}
.login_button {
    width: 50%;
    background: var(--white-color);
    display: flex;
    width: 100%;
    color: var(--dark_grey) !important;
    justify-content: center;
    padding: 8px !important;
}

.container h5 {
    margin-top: 10vh;
    text-align: center;
    font-family: var(--title-font);
    font-weight: 400;
}

.container {
    position: absolute;
    height: min-content !important;
    padding: 0 !important;
    right: 0;
    left: 0;
    top: 25%;
    bottom: 25%;
}

.cloud_image {
    background-image: url("https://en.wikipedia.org/wiki/Lenticular_cloud#/media/File:Lenticular_Cloud_over_Harold%27s_Cross_Dublin_Ireland_30-6-15.jpg");
}

.card {
/*    background-color: #/*F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 5vh;
    width: 75%;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
}

.login_inner_container input[type="hidden"]:focus, input.signup_button.button_tologin_signup:focus, input.login_button.button_tologin_signup:focus, input.login_button.button_tologin_signup:focus {
    outline: 0px;
}

#login_area .card, #signup_area .card {
    border: 0px;
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
}

.selected {
    background-color: var(--white);
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
    border-right: 1px solid rgba(0,0,0,.125);
    border-top: 1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
}

.unselected {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 24px auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
 .profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    }*/

    .btn-signup, .btn-login {
        /*border-radius: 25px !important;*/
        width: 75% !important;
        padding: 4px 0 !important;
    }

    .btn-signup input[type="submit"], .btn-login input[type="submit"] {    
        color: white;
        font-family: var(--title-font) !important;
        font-size: .9rem !important;
        font-weight: 600 !important;
        background-color: #00000000;
    }

    .card-container input#session_password, .card-container input#session_email, #user_create_first_attempt_area input#session_email, #user_create_first_attempt_area input#session_password, #user_create_first_attempt_area input#user_name, #user_create_first_attempt_area input#user_email, #user_create_first_attempt_area input#user_password, #user_create_first_attempt_area input#user_password_confirmation {
        width: 75% !important;
        -webkit-box-shadow: 0 0 0 30px white inset;
    }

    .form-control {
        padding: 8px .75rem !important;
        -webkit-text-fill-color: var(--dark_grey);
        -webkit-box-shadow: 0 0 0px 1000px white inset !important;
        font-family: var(--body-font) !important;
        font-weight: 400 !important;
        font-size: .9rem !important;
        padding: 8px;
        margin: 8px 24px;
        width: inherit !important;
    }

    .btn.btn-signup, .btn-login {
        /*background-color: #4d90fe; */
        background-color: rgb(104, 145, 162);
        width: 75% !important;
        /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
        padding: 0px;
        font-weight: 700;
        font-size: 14px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: none;
        -o-transition: all 0.218s;
        -moz-transition: all 0.218s;
        -webkit-transition: all 0.218s;
        transition: all 0.218s;
    }

    input.login_button.button_tologin_signup:focus {
        background: var(--white-color);
    }

    span.login_inner_container:focus, .login_inner_container form.button_to:focus {
        outline: 0px !important;
    }

/*.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
    }*/

.table_scroll {
    max-height: 700px;
    overflow: overlay;
}

.cell_header {
    padding: 0px 16px !important;
}

.top_left_header {
    padding: 8px 0 16px 8px;
    margin: 0;
    font-size: 1rem;
}

.dashboard_top_bar {
  width: 100%;
  height: 400px;
}

.dash_container_left {
    margin: 0 0 0 1.5%;
}

.dash_container_right {
  margin: 0.5% 2% 0.5% 0.5%;
  width: 48%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.dash_container_right #chart-1{
    position: absolute;
    text-align: center;
    color: #999;
    line-height: 300px;
    font-size: 14px;
}

.dash_container_right div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.dash_container_inner {
    margin: 1%;
    width: 48%;
    display: flex;
    flex-direction: column;
}

.dash_container_inner h1 {
    align-self: center;
    padding: 8px;
    width: 100%;
    margin: 0;
    height: 100%;
    margin-top: 2px;
    display: flex;
    font-size: 3.5rem;
    font-weight: 1;
    justify-content: center;
    align-items: center;
    font-family: var(--title-font) !important;
}

.admin_home_title {
    /* margin: 2% 0 1% 2%; */
    font-family: var(--title-font);
    font-weight: 200;
    color: var(--light);
    margin: 4px 16px;
}


.user_table {
  /*max-width: 30% !important;*/
}

.user_new_popup_button p {
    color: white;
}

.user_new_popup_button:nth-child(2) {
    margin-left: 8px;
}

.table_grey {
    background-color: var(--light);
    /* border: 1px black solid; */
    border-bottom: 1px solid rgba(216,216,216,0.42);
    border-right: 1px solid rgba(216,216,216,0.42);
    border-top: 1px solid rgba(216,216,216,0.42);
}

.user_add_a_task_dropdown {
    width: 5%;
    border-radius: 0 !important;
    background: var(--white-color);
}

button#dropdownMenu2:focus, .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background: var(--light_grey) !important;
    box-shadow: $inset-shadow;
}

.users_history_cell {
    width: 11.11%;
    padding: 4px;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.users_history_cell p, .users_history_cell a {
    word-wrap: break-word;
}


/*####################################*/
/*# -------- Filter Action --------- #*/
/*####################################*/

.filter_container {
    padding: 16px;
    background-color: var(--light_grey) !important;

    .sort {
        padding: 8px;

        #filterModalLabel {
            width: 12%;
        }

        .fliter_order_by_selection {
            width: 90%;
            height: 24px;
        }

        span > span {
            display: flex;
            flex: row;
            align-items: center;
            width: 100%;
            padding: 8px 0;
        }
    }

    .filter {
        padding: 8px;

        #column_sort_modal_body select {
            width: 33.33%;
            margin: 8px 0;
            height: 24px;
        }
        #column_sort_modal_body select:nth-child(2) {
            margin: 8px 12px;
            width: 33.33%;
            height: 24px;
        }
        #column_sort_modal_body input {
            margin: 8px 0px;
            width: 33.33%;
            height: 24px;
        }
    }

    .button_to {
        position: absolute;
        bottom: 22px;
        left: 12px;
        z-index: 1000;

        i {
                display: flex;
    align-items: center;
    padding: 0 4px 0 0;
        }
    }
}
