<span id="template_rules">
	
</span>
<!-- 
<section class="bk_white flex_row template_table_row">
	<= render :partial => "rule_templates/new_rule/rule_headers" %>
</section> -->

<span class="edit_template_container edit_sug_new_element_table_container flex_row">
	<%= render :partial => "fire_wall_files/rule_templates/new_rule/rule_item_options" %>
</span>
