
<span class="template_table_cell flex_row">
	<p class="template_table_title_font">Name</p>
	<span class="edit_rule_templates_overlay search_button_container flex_center">
		<%= link_to show_widget_path("name", @template.id, @rule.id, @which_controller), class: "exit_rule_template_button flex_center", :remote => true do %>
            <i class="fa fa-plus small_button blue_text flex_center"></i>
		<% end %>
	</span>
</span>
<span class="template_table_cell flex_row">
	<p class="template_table_title_font">Action</p>
	<span class="edit_rule_templates_overlay search_button_container flex_center"> 
		<%= link_to show_widget_path("action", @template.id, @rule.id, @which_controller), class: "exit_rule_template_button flex_center", :remote => true do %>
		<i class="fa fa-plus small_button blue_text flex_center"></i>
		<% end %>
	</span>
</span>
<span class="template_table_cell flex_row">
	<p class="template_table_title_font">Sources</p>
	<span class="edit_rule_templates_overlay search_button_container flex_center">
		<%= link_to show_widget_path("source", @template.id, @rule.id, @which_controller), class: "exit_rule_template_button flex_center", :remote => true do %>
		<i class="fa fa-plus small_button blue_text flex_center"></i>
		<% end %>
	</span>
</span>
<span class="template_table_cell flex_row">
	<p class="template_table_title_font">Destinations</p>
	<span class="edit_rule_templates_overlay search_button_container flex_center">
		<%= link_to show_widget_path("destination", @template.id, @rule.id, @which_controller), class: "exit_rule_template_button flex_center", :remote => true do %>
		<i class="fa fa-plus small_button blue_text flex_center"></i>
		<% end %>
	</span>
</span>
<span class="template_table_cell flex_row">
	<p class="template_table_title_font">Protocols</p>
	<span class="edit_rule_templates_overlay search_button_container flex_center">
		<%= link_to show_widget_path("protocol", @template.id, @rule.id, @which_controller), class: "exit_rule_template_button flex_center", :remote => true do %>
		<i class="fa fa-plus small_button blue_text flex_center"></i>
		<% end %>
	</span>
</span>
<span class="template_table_cell flex_row">
	<p class="template_table_title_font">Serv/Port</p>
	<span class="edit_rule_templates_overlay search_button_container flex_center">
		<%= link_to show_widget_path("service", @template.id, @rule.id, @which_controller), class: "exit_rule_template_button flex_center", :remote => true do %>
		<i class="fa fa-plus small_button blue_text flex_center"></i>
		<% end %>
	</span>
</span>