<span class="col-md-2 p-0" id="name_table_partial_area"> <!-- as you add to the tables the elements will appear in these respective tables -->
</span>
<span class="col-md-2 p-0" id="action_table_partial_area">

</span>
<span class="col-md-2 p-0" id="sources_table_partial_area">

</span>
<span class="col-md-2 p-0" id="destinations_table_partial_area">

</span>
<span class="col-md-2 p-0" id="protocols_table_partial_area">

</span>
<span class="col-md-2 p-0" id="ports_table_partial_area">

</span>