<span class="flex_column overflow_child">
    <% @templates.each do |rule_template| %>
      <span class="template_rule_container flex_row shadow">
        <span class="rule_name">
            <p class="title_font white_text"><%= rule_template.name %></p>
        </span>
        <span class="rule_actions flex_row">
            <span class="flex_center"><%= link_to edit_template_path(rule_template), remote: true do %>
                    <i class="fa fa-edit small_button blue_text"></i>
                <% end %>
            </span>
            <span class="flex_center"><%= link_to delete_a_template_path(rule_template.id), :method => "delete", remote: true, data: { confirm: 'Are you sure?' } do %>
                    <i class="fa fa-close small_button red_text"></i>
                <% end %>
            </span>   
        </span>
      </span>
    <% end %>

</span>