

<span class="flex_column">
	<% templates.uniq.each do |template| %>
		<div class="dropdown">
			<span class="flex_row">
				<button class="flex_row sg_template_table_title_dropdown_container shadow" type="button" id="id_<%= template.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<p class="sg_template_table_title_dropdown title_font">
						<%= template.name %> 
					</p>
				</button>
				<% if @type != "reload_sec_group_templates_index" %>
						<%= link_to add_template_to_group_path(template.id), :method => "post", remote: true, format: :js do %>
			                <i class="fa fa-plus small_button"></i>
						<% end %>
				<% else %>
						<%= link_to remove_template_from_group_path(template.id), :method => "delete", remote: true, format: :js do %>
			                <i class="fa fa-close small_button"></i>
						<% end %>
				<% end %>
			</span>
			<div class="dropdown-menu relative sg_template_table_item_dropdown" aria-labelledby="id_<%= template.id %>">
				<%= render :partial => "fire_wall_files/rule_templates/added_rules/current_rules_table", :locals => { :@template => template, :@origin_type => "non" } %>
			</div>
		</div>
	<% end %>
</span>