
<!-- Center and the right sections of the screen -->
<span class="flex_row template_tables_outer_container">
	<span class="flex_column template_center_section">
		<span class="template_information_section flex_row">
			<%= form_tag set_template_name_path(@template.id), :class => "template_name_form", remote: true do %>
				<span class="flex_row">
					<%= text_field_tag :name, params[:name], placeholder: "Name your template", :class => "edit_sug_search_textbox" %>
					<%= button_tag :class => "template_name_btn shadow_no_hover"  do %>
					    <i class="fa fa-save"></i>
				    <% end %>
				</span>
			<% end %>
		</span>

		<span id="current_rules_table" class="shadow_no_hover">
			<!-- All the template's rules live here -->
			<%= render :partial => 'fire_wall_files/rule_templates/added_rules/current_rules_table' %>
		</span>

		<span class="template_rule_table_header">
			<span id="save_template_rule">
				<!-- Save and Cancel buttons update a template rule -->
				<!-- Look for this in the reload_rule_columns.js.erb, it is added here upon the completion of a controller method -->
			</span>
		</span>

		<span class="shadow_no_hover">
			<span class="template_rule_headers_container flex_column">
				<% if !@template.nil? %>
					<!-- Create & Cancel Buttons Live Here -->
					<%= render :partial => 'fire_wall_files/rule_templates/template_headers', :locals => { :template => @template} %>
				<% end %>
			</span>

			<span class="template_table add_template_rule_container template_table_row flex_column template_table_header">
				<span class="add_template_rule_headers flex_row full_width">
					<!-- Table Headers Live here  -->
				</span>

				<span class="add_template_rule_body">
					<!-- Create template rule section lives here -->
					<%= render :partial => 'fire_wall_files/rule_templates/new_rule/add_template_rule_body' %>
				</span>
			</span>
		</span>
	</span>

	<span class="flex_column template_right_section">
		<span>
			<p id="suggestion_column_title" class="edit_sug_table_headers"></p>
			<!-- Title of search lives here -->
		</span>
		<span id="suggestion_column_searchbar" class="">
			<!-- Search forms live here -->
		</span>
		<span class="search_widget_result_container ">

			<span id="remove_on_first_search">
				<p class="edit_sug_table_headers"></p>
			</span>
			<span id="column_tables_container">

			</span>
		</span>
	</span>
</span>