<span class="flex_row">
	<span class="template_rule_table_new">
		<!-- <= link_to "new", template_rule_create_path(@template.id), :remote => true %> -->
	</span>
<!-- 	<span>
		<= link_to "all rules", see_template_rules_lite_path(@template.id), :remote => true %>
	</span> -->
</span>