<% case(@type) %>
	<% when "service" %>
		$('#ports_table_partial_area').html("");
		$('#ports_table_partial_area').append("<%= j render :partial => 'layouts/rule_column_templates/edit_table_services_and_ports' %>");
	<% when "destination" %>
		$('#destinations_table_partial_area').html("");
		$('#destinations_table_partial_area').append("<%= j render :partial => 'layouts/rule_column_templates/edit_table_destinations' %>");
	<% when "source" %>
		$('#sources_table_partial_area').html("");
		$('#sources_table_partial_area').append("<%= j render :partial => 'layouts/rule_column_templates/edit_table_sources' %>");
	<% when "action" %>
		$('#action_table_partial_area').html("");
		$('#action_table_partial_area').append("<%= j render :partial => 'layouts/rule_column_templates/edit_table_action' %>");
	<% when "protocol" %>
		$('#protocols_table_partial_area').html("");
		$('#protocols_table_partial_area').append("<%= j render :partial => 'layouts/rule_column_templates/edit_table_protocol' %>");
<% end %>
