

<div class="templates_page_container flex_row">
  <span class="templates_side_nav flex_column">
  <!-- This is the button to show all templates -->
      <span class="flex_row shadow">
        <a for="second_collapse_header" class="" data-toggle="collapse" href="#nav_sys_templates" aria-expanded="true" aria-controls="nav_sys_templates"><p class="side_nav_lvl_1_title title_font white_text templates_page_title">All Templates</p></a>
        <%= link_to create_a_template_path, :remote => true do %>
          <%= image_tag "add_highlight_two.png", :class => "new_template_image" %>
        <% end %>
      </span>

      <!-- This is the form providing template search -->
      <div class="searchbar">
        <%= form_tag(search_templates_path, remote: true, :method => "get", id: "search-form") do %>
          <span class="flex_row">
              <%= text_field_tag :text_input, params[:text_input], :class => "edit_sug_search_textbox", placeholder: "Search Templates" %>
              <%= hidden_field_tag :origin, params[:origin], :value => "templates_index" %>
              <%= button_tag "Go", :class => "edit_sug_search_btn", :name => nil do %>
          <i class="fa fa-search"></i>
        <% end %>
          </span>
        <% end %>
      </div>
    <div class=" flex_column fill_height">
      
      <span class="nav_sys_all_templates_area shadow_no_hover dark_background" data-target="#nav_sys_sec_groups_header">

        <!-- This is the list of all templates -->
        <div id="nav_sys_templates" class="overflow_parent templates_side_nav_bottom">
          <%= render :partial => "all_templates", :template => @rule_template %>
        </div>
      </span>
    </div>
  </span>
  <span class="templates_main_body_container flex_column">
    <!-- <= render :partial => 'rule_templates/show' %> -->
  </span>

</div>
