
<% case(@type) %>
	<% when "reload_templates_left_side_sec_group_index" %>
		$('#sg_sys_templates').html('');
		$('#sg_sys_templates').append('<%= j render :partial => "fire_wall_files/rule_templates/all_templates_table", :locals => {:templates => @templates} %>');

	<% when "reload_sec_group_templates_index" %>
		$('#sg_group_templates').html('');
		$('#sg_group_templates').append('<%= j render :partial => "fire_wall_files/rule_templates/all_templates_table", :locals => {:templates => @templates} %>');

	<% when "reload_templates_side_nav_templates_index", "reload_templates_side_nav" %>
		$('#nav_sys_templates').html("");
		$('#nav_sys_templates').addClass("show");
		$('#nav_sys_templates').append('<%= j render :partial => "fire_wall_files/rule_templates/all_templates" %>');

	<% when "reload_template_current_rules" %>
		$('#current_rules_table').html("");
		$('#current_rules_table').append("<%= j render :partial => 'fire_wall_files/rule_templates/added_rules/current_rules_table' %>");

	<% when "reload_template_rules" %>
		$('#save_template_rule').html('');
		$('#suggestion_column_searchbar').html('');
		$('#column_tables_container').html("");
		$('.add_template_rule_body').html("");
		$('.add_template_rule_body').append('<%= j render :partial => "fire_wall_files/rule_templates/new_rule/add_template_rule_body" %>');
		$('.add_template_rule_headers').html("");
		$('.add_template_rule_headers').append("<%= j render :partial => 'fire_wall_files/rule_templates/new_rule/rule_headers' %> ");
		$('#current_rules_table').html("");
		$('#current_rules_table').append("<%= j render :partial => 'fire_wall_files/rule_templates/added_rules/current_rules_table' %>");
		
	<% when "show_rule_table_headers" %>
		$('.template_rule_headers_container').html("");
		$('.template_rule_headers_container').append("<%= j render :partial => 'fire_wall_files/rule_templates/template_headers' %>");
		$('.add_template_rule_body').html("");
		$('.add_template_rule_body').append('<%= j render :partial => "fire_wall_files/rule_templates/new_rule/add_template_rule_body" %>');
		$('.new_sug_elements_table_headers').append('<%= j render :partial => "fire_wall_files/rule_templates/new_rule/rule_headers" %>');

	<% when "cancel_rule_to_template" %>
		$('#save_template_rule').html('');
		$('#suggestion_column_searchbar').html('');
		$('#column_tables_container').html("");
		$('.add_template_rule_headers').html("");
		$('.add_template_rule_headers').append("<%= j render :partial => 'fire_wall_files/rule_templates/new_rule/rule_headers' %> ");
		$('.add_template_rule_body').html("");
		$('.add_template_rule_body').append("<%= j render :partial => 'fire_wall_files/rule_templates/new_rule/add_template_rule_body' %>");

	<% when "edit_template" %>
		$('.templates_main_body_container').html("");
		$('.templates_main_body_container').append("<%= j render :partial => 'fire_wall_files/rule_templates/show' %>");
		$('.add_template_rule_headers').html("");
		$('.add_template_rule_headers').append("<%= j render :partial => 'fire_wall_files/rule_templates/new_rule/rule_headers' %> ");
		$('#current_rules_table').html("");
		$('#current_rules_table').append("<%= j render :partial => 'fire_wall_files/rule_templates/added_rules/current_rules_table' %>");

	<% when "create_a_template", "edit_template" %>
		$('.templates_main_body_container').html("");
		$('.templates_main_body_container').append("<%= j render :partial => 'fire_wall_files/rule_templates/show' %>");
		$('.add_template_rule_headers').html("");
		$('.add_template_rule_headers').append("<%= j render :partial => 'fire_wall_files/rule_templates/new_rule/rule_headers' %> ");
		$('#current_rules_table').html("");
		$('#current_rules_table').append("<%= j render :partial => 'fire_wall_files/rule_templates/added_rules/current_rules_table' %>");
		$('#nav_sys_templates').html("");
		$('#nav_sys_templates').append('<%= j render :partial => "fire_wall_files/rule_templates/all_templates" %>');

	<% when "destination" %>
		$('#suggestion_column_searchbar').append("<%= j render :partial => 'security_files/sec_groups/search_sys_objects' %>");

	<% when "source" %>
		$('#suggestion_column_searchbar').append("<%= j render :partial => 'security_files/sec_groups/search_sys_objects' %>");

	<% when "action" %>
		$('#suggestion_column_searchbar').append("<%= j render :partial => 'security_files/sec_groups/sug_rule/edit_sug_action_options' %>");

	<% when "protocol" %>
		$('#suggestion_column_searchbar').append("<%= j render :partial => 'protocols/search_sys_protocols' %>");

	<% when "ports" %>
		$('#suggestion_column_searchbar').append("<%= j render :partial => 'ports/edit_sug_ports' %>");

<% end %>