<!DOCTYPE html>
<html>

  <head>
    <title>VrniNsxUi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
    <div class="navbar navbar-inverse" action="/action_page.php">
      <%= image_tag "deloitte.svg", class: "deloitte_logo_image" %>
      <span class="nav_group">
        <% if current_user %>

          <!-- < if current_user.admin == true %> -->
            <span class="nav-group-btn pr-3">
                <%= link_to "Overview", admin_home_path, class: "title_font" %>
            </span>

            <span class="nav-group-btn pr-3">
                <%= link_to "Rule Templates", fire_wall_files_rule_templates_path, class: "title_font" %>
            </span>
          <!-- < end %> -->

          <% if current_user.admin == true %>
            <span class="nav-group-btn">
              <% if !current_user.setting.nil? and current_user.setting.setting_count > 1 %>
                <%= link_to "Overview", admin_home_path, class: "title_font" %>
              <% else %>
                <a href="" class="title_font">Overview</a>
              <% end %>
            </span>
          <% end %>

          <% if current_user.admin == true %>
            <span class="nav-group-btn">
              <% if !current_user.setting.nil? and current_user.setting.setting_count > 1 %>
                <%= link_to "Templates", rule_templates_path, class: "title_font" %>
              <% else %>
                <a href="" class="title_font">Templates</a>
              <% end %>
            </span>
          <% end %>

        <% end %>

        <span class="nav-group-btn">
          <% if current_user %>
            <% if !current_user.setting.nil? and current_user.setting.setting_count > 1 %>
              <%= link_to "NSX Groups", get_user_sec_group_home_path(current_user), class: "title_font" %>
            <% else %>
              <a href="" class="title_font">NSX Groups</a>
            <% end %>
          <% end %>
        </span>

        <% if current_user %>

          <span class="nav-group-btn">
            <% if current_user %>
              <%= link_to "Settings", settings_index_path, class: "title_font" %>
            <% end %>
          </span>

          <span class="nav-group-btn">
            <%= link_to 'Logout', logout_path, class: "title_font" %>
          </span>

          <span class="nav-group-btn">
            <%= image_tag "user_white.png", class: "small_photo" %>
            <span class="title_font user_name"><%= current_user.name.capitalize %></span>
          </span>
        <% end %>
      </span>
    </div>
  </head>

  <body>
    <%= yield %>

    <!-- Notice Popup -->
    <span id="notice" class="alert alert-success error_message_overlay shadow_no_hover hide_element">
      <p class="title_font">System Message</p>
      <p class="error_message_popup_text">
        <%= notice %>
      </p>
    </span>
  </body>
  
</html>